<main class="main">

    <!-- Page Title -->
    <div class="page-title">
        <div class="pageTitle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <h1 class="heading-xl">
                            Admin Employee Maintenance
                        </h1>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Breadcrumb -->
    <!-- <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">Admin</li>
            <li class="breadcrumb-item">User</li>
            <li class="breadcrumb-item active"><a href="#">Employee Maintenance</a></li>
        </ol> -->

    <!-- <a name="payoutchart"></a>
    
        <a name="dashboard"></a> -->
    <div class="container m-t-md body-container">
        <!-- First row -->

        <div class="row m-t-md">
            <div class="col-sm-12 col-md-12 col-lg-12">

                <article class="card animated fadeInUp">

                    <div class="card-block">

                        <div class="heading-line">
                            <h2>Employee Lookup</h2>
                        </div>

                        <div class="content-row row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <form>
                                    <div class="form-group row">
                                        <div class="col-sm-12 col-md-2">
                                            <label for="sid">Enter SID: </label>
                                            <input class="form-control" id="sid" minlength="7" maxlength="7" name="sid" type="text" [(ngModel)]="selectedSID" (ngModelChange)="showSIDErrorHiddenDiv=false; showemployeeSearchResultDatatable=false"
                                            />
                                            <div class="alert alert-danger" [hidden]="!showSIDErrorHiddenDiv">Valid SID is required</div>
                                        </div>
                                        <div class="col-sm-12 col-md-2" style="margin-top: 30px">
                                            <!-- <label for="search">S </label> -->
                                            <button id="search" class="btn btn-primary pull-left" type="submit" (click)="searchSID()">
                                                <span [hidden]="postSIDInProgress">Search</span>
                                                <span [hidden]="!postSIDInProgress">Searching...
                                                    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                                                </span>                                                
                                            </button>                                            
                                        </div>
                                        <div class="pull-left" *ngIf="saveSucessMsg.length>0" class="alert alert-success alert-dismissible fade show w-100" role="saveSucessMsg" [innerHtml]='saveSucessMsg'></div>                                 
                                        <div class="pull-left" *ngIf="saveErrorMsg.length>0" class="alert alert-danger alert-dismissible fade show w-100" role="alert" [innerHtml]='saveErrorMsg'></div>                                 
                                    </div>

                                </form>
                                <hr>
                            </div>
                        </div>

                        <div class="container m-t-md body-container">
                            <div *ngIf="enableEditable" class="active-user" id="active-user">The Active record is:
                                <strong id="participant-id">{{activeUser}}</strong>
                            </div>

                            <div *ngIf="searchResults.length>0" class="form-group row">
                                <div class="col-sm-12 col-md-2">
                                    <label for="sid">SID: {{searchEmployees.userId}}</label>
                                </div>
                                <div class="col-sm-12 col-md-2">
                                    <label for="sid">Name: {{searchEmployees.name}}</label>
                                </div>
                                <div class="col-sm-12 col-md-8">
                                </div>                                                                 
                            </div>
                            <p-accordion [multiple]="true">
                                <p-accordionTab *ngFor="let employees of searchResults; let i = index" header="{{employees.dealerName}} ({{employees.dealerCode}})">
                                    <p-accordionTab *ngFor="let programs of employees.programGroups; trackBy: dealerCode; let i = index" header="{{programs.programGroupName}}"
                                    [selected]="i==0">
                                        <p-dataTable #datatable [immutable]=false [value]="programs.enrollments" [editable]="true" (onEditInit)="onEditInitE($event)" *ngIf="visible"
                                                (onRowSelect)="onRowSelect($event)" [rows]="programs.enrollments.length" [globalFilter]="gb"
                                                [responsive]="true" rowIndexVar="index">
                                            <p-column styleClass="col-button" [style]="{'text-align':'center','width':'70px'}">
                                                <ng-template pTemplate="header">
                                                    Activity
                                                </ng-template>
                                                <ng-template pTemplate="body" let-data="rowData" let-ri="rowIndex">
                                                    <div class="enrollment-button-container">
                                                        <span #editButton pTooltip="Edit This Row" tooltipPosition="right">
                                                            <button class="enrollment-button edit" type="button" (click)="edit(data, editButton, cancelButton, saveButton )">
                                                                <i style="cursor: pointer;" class="fa fa-pencil" aria-hidden="true"></i>
                                                                <span class="hide-me">EDIT</span>
                                                            </button>
                                                        </span>

                                                        <span #cancelButton style="display: none; " pTooltip="Cancel Your Changes" tooltipPosition="right">
                                                            <button class="enrollment-button cancel" type="button" (click)="cancel(data, editButton, cancelButton, saveButton)">
                                                                <i style="cursor: pointer;" class="fa fa-remove" aria-hidden="true"></i>
                                                                <span class="hide-me">CANCEL</span>
                                                            </button>
                                                        </span>

                                                        <span #saveButton style="display: none; " pTooltip="Save Your Changes" tooltipPosition="right">
                                                            <button class="enrollment-button save" type="button" (click)="saveEnrollmentMaintenanceData(data, editButton, cancelButton, saveButton, ri)">
                                                                <i style="cursor: pointer;" class="fa fa-check" aria-hidden="true"></i>
                                                                <span class="hide-me">SAVE</span>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="dmsid" [editable]="true" [style]="{'overflow':'visible', 'width':'100px','text-align':'left' }" [sortable]="true">
                                                <ng-template pTemplate="header">DMS ID</ng-template>
                                                <ng-template let-data="rowData" pTemplate="body">
                                                    {{data.dmsid}}
                                                </ng-template>
                                                <ng-template let-data="rowData" pTemplate="editor">
                                                    <input type="text" pInputText placeholder="DMS ID" [(ngModel)]="data.dmsid">
                                                </ng-template>
                                            </p-column>
                                            <p-column field="positionCodeName" header="Position Code" [style]="{'width':'110px','text-align':'left'}" [sortable]="true"></p-column>
                                            <p-column field="status" header="Enrollment Status" [style]="{'width':'150px','text-align':'left'}" [sortable]="true"></p-column>                                
                                            <p-column field="updateDate" [editable]="true" [style]="{'overflow':'visible', 'width':'250px','text-align':'left' }">
                                                <ng-template pTemplate="header">Enrollment Date</ng-template>
                                                <ng-template let-data="rowData" pTemplate="body">
                                                        <label id="brand">{{data.updateDate | date:"MM/dd/yyyy"}}</label>
                                                    </ng-template>
                                                    <ng-template let-data="rowData" pTemplate="editor">
                                                            <p-calendar placeholder="Choose Date" id="from-5" name="from" dateFormat="mm/dd/yy" showIcon="true" [style]="{'overflow':'visible'}"
                                                            [showTime]="false" dataType="string" [(ngModel)]="back90Date" (onSelect)="backDateChanged()" (change)="backDateChanged()"></p-calendar>
                                                    </ng-template>
                                            </p-column>
                                            <p-column field="updatedBy" header="Enrolled By" [style]="{'width':'110px','text-align':'left'}" [sortable]="true"></p-column>
                                        </p-dataTable>
                                    </p-accordionTab>
                                </p-accordionTab>
                            </p-accordion>
                        </div>
                        
                        <p-dialog [(visible)]="displaycontinueSaveDialog" [responsive]="true" showEffect="fade" [modal]="true">
                            <h4 class="modal-title" id="confirmationModalLabel">Are you sure you want to continue?</h4>
                            <div class="modal-body">
                                <p>You are about to save the changes. Are you sure you want to continue?</p>
                            </div>
                            <p-footer>
                                <div class="ui-dialog-buttonpane ui-helper-clearfix">
                                    <button [hidden]="postSaveInProgress" type="button" pButton icon="fa-check" (click)="continueSave()" label="Yes, Continue"></button>
                                    <button type="button" pButton icon="fa-close" (click)="disContinueSave()" label="No, Take Me Back"></button>
                                </div>
                            </p-footer>
                        </p-dialog>
                    </div>
                </article>
            </div>
        </div>
    </div>
</main>