<main class="main">

  <!-- Page Title -->
  <div class="page-title">
    <div class="pageTitle">
      <div class="container">
        <div class="row">

          <div class="col-sm-12 col-md-12">
            <h1 class="heading-xl">
              Employee Maintenance for ....
            </h1>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumb -->
  <ol class="breadcrumb mb-0">
    <!--<li class="breadcrumb-item active"><a href="#">Contact Us</a></li>-->
  </ol>
  <a name="payoutchart"></a>
  <a name="dashboard"></a>
  <div class="container m-t-md body-container">
    <!-- First row -->

    <div class="row m-t-md">
      <div class="col-sm-12 col-md-12 col-lg-12">

        <article class="card animated fadeInUp">

          <div class="card-block">
            <!--<div class="introHeading">
                  <h1>Admin Dashboard</h1>
                </div>-->
            <div class="heading-line">
              <h2> </h2>
            </div>
              <button class="btn btn-primary"(click)="clickOnOpCode(newParticipantData)"> Add New Participant</button>
            <div class="content-row row">
              <div class="container">
                <opcodedatatable [tableData]="employeeMaintenanceData" [columnsHeader]="employeeMaintenanceHeaders" (ClickOnCell)="clickOnOpCode($event)"></opcodedatatable>

              </div>

              <div class="col-sm-12 col-md-6 col-lg-6">


              </div>

            </div>
          </div>
        </article>
      </div>

    </div>
    <!-- .end FIRST row -->
  </div>
</main>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add Participant</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
  <label for="example-text-input" class="col-2 col-form-label">Participant ID</label>
  <div class="col-10">
    <input class="form-control" type="text" [(ngModel)]="participantData.participantID" id="example-text-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-text-input" class="col-2 col-form-label">Type</label>
  <div class="col-10">
     <select class="form-control"  id="exampleSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
</div>
<div class="form-group row">
  <label for="example-text-input" class="col-2 col-form-label" >DMS ID</label>
  <div class="col-10">
    <input class="form-control" type="text" [(ngModel)]="participantData.dmsID" id="example-text-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-text-input" class="col-2 col-form-label">Name</label>
  <div class="col-10">
    <input class="form-control" type="text" [(ngModel)]="participantData.name"  id="example-text-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-text-input" class="col-2 col-form-label">Email</label>
  <div class="col-10">
    <input class="form-control" type="text" [(ngModel)]="participantData.email" id="example-text-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-text-input" class="col-2 col-form-label">Enrollment Status</label>
  <div class="col-10">
   <select class="form-control" id="exampleSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
</div>

<div class="form-group row">
  <label for="example-text-input" class="col-2 col-form-label">Status Date</label>
  <div class="col-10">
    <input class="form-control" type="text" [(ngModel)]="participantData.enrollmentUpdatedDate"  id="example-text-input">
  </div>
</div>

<div class="form-group row">
  <label for="example-text-input" class="col-2 col-form-label">Status Updated By</label>
  <div class="col-10">
    <input class="form-control" type="text" value="" id="example-text-input">
  </div>
</div>
  </div>
  <div class="modal-footer">
     <button type="button" class="btn btn-primary" (click)="c('Close click')">Save</button>
    <button type="button" class="btn btn-primary" (click)="c('Close click')">Cancel</button>
  </div>
</ng-template>