<main class="main">
    <!-- Page Title -->
    <div class="page-title">
        <div class="pageTitle">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-12">
                        <h1 class="heading-xl">
                            Employee Maintenance for- <span> {{getSelectedDealerName()}} - ({{getSelectedDealerCode()}})</span>
                        </h1>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb -->
    <ol class="breadcrumb mb-0">
        <!--<li class="breadcrumb-item active"><a href="#">Contact Us</a></li>-->
    </ol>
    <a name="payoutchart"></a>
    <a name="dashboard"></a>
    <div class="container m-t-md body-container">
        <!-- First row -->
        <div class="row m-t-md">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <article class="card animated fadeInUp">
                    <div class="card-block">
                        <div class="heading-line">
                            <h2> </h2>
                        </div>
                        <div class="content-row row">
                            <div class="container ">
                                <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
                                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
                                </div>
                                <p-dataTable [value]="enrollmentDataResponse" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,30]"
                                    [globalFilter]="gb" rowIndexVar="index" [editable]="enableEditable" [responsive]="true" [tableStyle]="{'width':'auto'}">
                                    <p-column styleClass="col-button" [style]="{'width':'150px'}">
                                        <ng-template pTemplate="header">
                                            Activity
                                        </ng-template>
                                        <ng-template pTemplate="body" let-data="rowData" let-ri="rowIndex">
                                            <span #editButton> <button  type="button" (click)="edit(data.sid,editButton, cancelButton, saveButton )">
                                                <i class="icon-edit" aria-hidden="true"></i>EDIT</button></span>

                                            <span #cancelButton style="display: none"> <button  type="button" (click)="cancel(data.sid, editButton, cancelButton, saveButton)">
                                                <i class="icon-edit" aria-hidden="true" >CANCEL</i></button></span>

                                            <span #saveButton style="display: none"> <button  type="button" (click)="saveEnrollmentMaintenanceData(data, data.sid, editButton, cancelButton, saveButton, ri)">
                                                <i class="icon-edit" aria-hidden="true" >SAVE</i></button></span>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="sid" header="SID" [style]="{'width':'100px'}"></p-column>
                                    <p-column field="name" header="Name" [style]="{'width':'150px'}"></p-column>
                                    <p-column field="myPersonalDMSID" header="My Personal DMS ID" [style]="{'width':'100px'}"></p-column>
                                    <p-column [style]="{'width':'80px' }" [editable]="enableEditable">
                                        <ng-template pTemplate="header">DMS ID</ng-template>
                                        <ng-template let-data="rowData" pTemplate="body">
                                            <input type="text" size="10" pInputText [(ngModel)]="dat" [disabled]=!enableEditable>
                                        </ng-template>
                                    </p-column>                                    
                                    <p-column [style]="{'overflow':'visible', 'width':'150px', 'display':'none' }" [editable]="enableEditable">
                                        <ng-template pTemplate="header">Position Codes Overrides</ng-template>
                                        <ng-template let-data="rowData" let-ri="rowIndex" pTemplate="body">
                                            <p-multiSelect [options]="data.optionsOverrides" [(ngModel)]="data.overriddenpositionCodes" (onChange)="selectedPCOverrides(data.overriddenpositionCodes, ri)"
                                                [scrollHeight]="200" [appendTo]="body" [style]="{'width':'250px'}" [disabled]=!enableEditable></p-multiSelect>
                                        </ng-template>
                                    </p-column>

                                    <p-column field="mser" header="Mopar Parts"></p-column>

                                </p-dataTable>


                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-6">


                            </div>

                        </div>
                    </div>
                </article>
            </div>

        </div>
        <!-- .end FIRST row -->
    </div>


    <style type="text/css">
        .minWidth {
            min-width: 300px;
        }

        .minWidth2 {
            min-width: 20%;
        }
    </style>
</main>