<main class="main">
    <style type="text/css">
        .minWidth {
            min-width: 300px;
        }

        .minWidth2 {
            min-width: 20%;
        }

        .ui-datatable .ui-datatable-frozen-view .ui-datatable-data>tr>td,
        .ui-datatable .ui-datatable-unfrozen-view .ui-datatable-data>tr>td {
            height: 24px;
        }
    </style>
    <!-- Page Title -->
    <div class="page-title">
        <div class="pageTitle">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-12">
                        <h1 class="heading-xl">
                            Employee Maintenance for- <span> {{getSelectedDealerName()}} - ({{getSelectedDealerCode()}})</span>
                        </h1>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb -->
    <ol class="breadcrumb mb-0">
        <!--<li class="breadcrumb-item active"><a href="#">Contact Us</a></li>-->
    </ol>
    <a name="payoutchart"></a>
    <a name="dashboard"></a>
    <div class="container m-t-md body-container">
        <!-- First row -->
        <div class="row m-t-md">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <article class="card animated fadeInUp">
                    <div class="card-block">
                        <div class="heading-line">
                            <h2> </h2>
                        </div>
                        <div class="content-row row">
                            <div class="container ">
                                <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
                                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
                                </div>

                                <p-dataTable [value]="cars" scrollable="true" scrollHeight="10000px" frozenWidth="390px" unfrozenWidth="1000px"
                                    [editable]="enableEditable" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,30]"
                                    [globalFilter]="gb" resizableColumns="true" [responsive]="true"  [style]="{'margin-top':'30px'}">
                                   
                                    <!-- <p-column styleClass="col-button" [style]="{'width':'150px','height':'50px'}" frozen="true">
                                        <ng-template pTemplate="header">
                                            Activity
                                        </ng-template>
                                        <ng-template pTemplate="body" let-data="rowData">
                                            <span #editButton> <button  type="button" (click)="edit(data.sid,editButton, cancelButton, saveButton )">
                                                <i class="icon-edit" aria-hidden="true"></i>EDIT</button></span>

                                            <span #cancelButton style="display: none"> <button  type="button" (click)="cancel(data.sid, editButton, cancelButton, saveButton)">
                                                <i class="icon-edit" aria-hidden="true" >CANCEL</i></button></span>

                                            <span #saveButton style="display: none"> <button  type="button" (click)="saveEnrollmentMaintenanceData(data.sid, editButton, cancelButton, saveButton)">
                                                <i class="icon-edit" aria-hidden="true" >SAVE</i></button></span>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="sid" header="Participant" [style]="{'width':'90px'}" frozen="true"></p-column>
                                    <p-column field="name" header="Participant Name" [style]="{'width':'150px'}" frozen="true"></p-column>
                                    <p-column field="sid" header="Vin" [style]="{'width':'250px', 'height':'50px'}"></p-column> -->
                                     <p-column field="vin" header="Vin" [style]="{'width':'250px'}" frozen="true"></p-column>
                                    <p-column field="year" header="Year" [style]="{'width':'250px', 'height':'50px'}"></p-column>
                                    <p-column field="brand" header="Brand" [style]="{'width':'250px', 'height':'50px'}"></p-column>
                                    <p-column field="color" header="Color" [style]="{'width':'250px','height':'50px'}"></p-column>
                                    <p-column field="year" header="Year" [style]="{'width':'250px', 'height':'25px'}"></p-column>
                                    <p-column field="brand" header="Brand" [style]="{'width':'250px', 'height':'25px'}"></p-column>
                                    <p-column field="color" header="Color" [style]="{'width':'250px', 'height':'25px'}"></p-column> 
                                </p-dataTable>

                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-6">


                            </div>

                        </div>
                    </div>
                </article>
            </div>

        </div>
        <!-- .end FIRST row -->
    </div>


    <style type="text/css">
        .minWidth {
            min-width: 300px;
        }

        .minWidth2 {
            min-width: 20%;
        }

        .ui-datatable .ui-datatable-frozen-view .ui-datatable-data>tr>td,
        .ui-datatable .ui-datatable-unfrozen-view .ui-datatable-data>tr>td {
            height: 24px;
        }
    </style>
</main>