<main class="main">
    
    <!-- Page Title -->
    <div class="page-title">
        <div class="pageTitle">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-12">
                        <h1 class="heading-xl">
                            Employee Maintenance for ....
                        </h1>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb -->
    <ol class="breadcrumb mb-0">
        <!--<li class="breadcrumb-item active"><a href="#">Contact Us</a></li>-->
    </ol>
    <a name="payoutchart"></a>
    <a name="dashboard"></a>
    <div class="container m-t-md body-container">
        <!-- First row -->

        <div class="row m-t-md">
            <div class="col-sm-12 col-md-12 col-lg-12">

                <article class="card animated fadeInUp">

                    <div class="card-block">
                        <!--<div class="introHeading">
                  <h1>Admin Dashboard</h1>
                </div>-->
                        <div class="heading-line">
                            <h2> </h2>
                        </div>

                        <div class="content-row row">
                            <div class="container ">
                                <!-- <h:form id="actorsTableForm"> -->
                                <p-dataTable [value]="enrollmentData" selectionMode="single" (onRowSelect)="onRowSelect($event)" [rows]="10" [paginator]="true"
                                    [pageLinks]="3" [rowsPerPageOptions]="[10,20,30]" [globalFilter]="gb" resizableColumns="true"
                                    [responsive]="true" [tableStyle]="{'width':'auto'}">
                                    <p-column field="sid" header="Participant"></p-column>
                                    <p-column field="name" header="Participant Name"></p-column>
                                    <!-- <p-column styleClass="col-button">
                                        <ng-template pTemplate="header">
                                            DMS ID
                                        </ng-template>
                                        <ng-template let-car="rowData" pTemplate="body">
                                            <input type="text"  size="5" />
                                        </ng-template>
                                    </p-column> -->
                                    <p-column field="dmsId" header="DMS ID"></p-column>
                                    <p-column field="myPersonnelDmsId" header="Mypersonnel DMS ID"></p-column>
                                    <p-column field="myPersonnelPositions" header="Mypersonnel Positions"></p-column>
                                    <p-column field="moparPartsData" header="Mopar Parts"></p-column>
                                    <p-column field="magnetiMarelliData" header="Magnetti Marelli"></p-column>
                                    <p-column field="mvpData" header="MVP"></p-column>
                                    <p-column field="wiAdvisorMVPData" header="wiAdvisor MVP"></p-column>
                                    <p-column field="wiAdvisorTiresData" header="wiAdvisor Tires Data"></p-column>
                                    <!-- <p-column field="posCodeOverrides" header="PositionCode Overrides"></p-column>
                                    <p-column field="posCodeOverrides" header="PositionCode Overrides"></p-column> -->
                                    <!-- <p-column>
                                        <ng-template pTemplate="header">
                                            Mopar Parts
                                        </ng-template>
                                        <ng-template let-data="moparPartsData" pTemplate="body">
                                            {{moparPartsData[data]}}
                                        </ng-template>
                                    </p-column>
                                    <p-column>
                                        <ng-template pTemplate="header">
                                            Magneti Marelli
                                        </ng-template>
                                        <ng-template let-car="rowData" pTemplate="body">
                                            {{moparPartsData}}
                                        </ng-template>
                                    </p-column>
                                    <p-column>
                                        <ng-template pTemplate="header">
                                            MVP
                                        </ng-template>
                                        <ng-template let-car="rowData" pTemplate="body">
                                            {{moparPartsData}}
                                        </ng-template>
                                    </p-column>
                                    <p-column>
                                        <ng-template pTemplate="header">
                                            wiAdvisor MVP
                                        </ng-template>
                                        <ng-template let-car="rowData" pTemplate="body">
                                            {{moparPartsData}}
                                        </ng-template>
                                    </p-column>
                                    <p-column>
                                        <ng-template pTemplate="header">
                                            wiAdvisor Tires
                                        </ng-template>
                                        <ng-template let-car="rowData" pTemplate="body">
                                            {{moparPartsData}}
                                        </ng-template>
                                    </p-column> -->

                                    <p-column field="pcManager" header="Parts Counter Manager"></p-column>
                                    <p-column field="elManager" header="Express Lane Manager"></p-column>
                                    <p-column field="urManager" header="Used Recon Manager"></p-column>
                                    <p-column field="urParticipant" header="Used Recon Participant"></p-column>

                                    <p-column styleClass="col-button">
                                        <ng-template pTemplate="header">
                                            Activity
                                        </ng-template>
                                        <ng-template let-car="rowData" pTemplate="body">
                                            <button type="button" (click)="showEditEnrollmentDialogue()"><i class="icon-edit" aria-hidden="true">EDIT</i></button>
                                        </ng-template>
                                    </p-column>

                                </p-dataTable>
                                <!-- </h:form> -->

                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-6">


                            </div>

                        </div>
                    </div>
                </article>
            </div>

        </div>
        <!-- .end FIRST row -->
    </div>

    <p-dialog header="Edit Enrollment Data" [(visible)]="displayEnrollmentDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{'width':'3000px'}" >
        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="true">
            <div class="ui-grid-row">
                <div  class="ui-grid-row-6"><label for="vin">Participant</label></div>
                <div  class="ui-grid-col-6"><input align="right" pInputText id="teamName" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-row-4"><label for="vin">Participant Name</label></div>
                <div class="ui-grid-col-8"><input pInputText id="teamName" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-row-4"><label for="vin">DMS ID</label></div>
                <div class="ui-grid-col-8"><input pInputText id="teamName" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-row-4"><label for="vin">My Personnel DMS ID</label></div>
                <div class="ui-grid-col-8"><input pInputText id="teamName" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-row-4"><label for="vin">My Personnel Positions</label></div>
                <div class="ui-grid-col-8"><input pInputText id="teamName" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-row-4"><label for="vin">Mopar Parts</label></div>
                <div class="ui-grid-col-8"><input pInputText id="teamName" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-row-4"><label for="vin">Magnetti Marelli</label></div>
                <div class="ui-grid-col-8"><input pInputText id="teamName" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-row-4"><label for="vin">MVP</label></div>
                <div class="ui-grid-col-8"><input pInputText id="teamName" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-row-4"><label for="vin">wiAdvisor MVP</label></div>
                <div class="ui-grid-col-8"><input pInputText id="teamName" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-row-4"><label for="vin">wiAdvisor Tires Data</label></div>
                <div class="ui-grid-col-8"><input pInputText id="teamName" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-row-4"><label for="vin">Parts Counter Manager</label></div>
                <div class="ui-grid-col-8"><input pInputText id="teamName" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-row-4"><label for="vin">Express Lane Manager</label></div>
                <div class="ui-grid-col-8"><input pInputText id="teamName" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-row-4"><label for="vin">Used Recon Manager</label></div>
                <div class="ui-grid-col-8"><input pInputText id="teamName" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-row-4"><label for="vin">Used Recon Participant</label></div>
                <div class="ui-grid-col-8"><input pInputText id="teamName" /></div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <!-- <button type="button" pButton icon="fa-close" (click)="deleteTeamName(newDealerTeamData.id)" label="Delete"></button>
                        <button type="button" pButton icon="fa-check" (click)="saveTeamName()" label="Save"></button> -->
                <button type="button" class="btn btn-primary" (click)="editTeamName(newDealerTeamData.name, newDealerTeamData.id)"> <i class="icon-edit" aria-hidden="true"></i> Update </button>
                <!-- <button type="button" class="btn btn-primary" (click)="deleteTeamName(newDealerTeamData.groupTeamId)"> <i class="icon-remove-sign" aria-hidden="true"></i> Delete</button> -->
            </div>
        </p-footer>
    </p-dialog>
    <style type="text/css">
        .minWidth {
            min-width: 300px;
        }

        .minWidth2 {
            min-width: 20%;
        }
    </style>
</main>