
    <body>
        <table id="main-container-table" cellpadding="0">
            <tr>
                <td>
                    <table id="header-table" cellpadding="0" style="background-color: white;">
                        <tr>
                            <td id="logo"><a href="/mser/home.do"><img src="/shared/imi-cms/MSER/images/webImages/bg/logo/MSERLogo_Header.png" 
                                                                                   style="width: 60%;padding: 15px;background: transparent;" border="0" alt=""/></a></td>
                            <!--<td id="masthead" style="padding: 1em"><img src="/shared/imi-cms/MSER/images/webImages/bg/logo/mser-header.png" border="0" alt=""/></td>-->
                        </tr>               
                        <tr>
                            <!--<td class="sidebar"></td>-->
                            <td>                               
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table id="warning-table" summary="warning" cellpadding="0" border="0">
                        <tr>
                            <!--<td class="sidebar"></td>-->
                            <td>
                                <noscript><div class="error-script">Please enable your browser's JavaScript support. This site functions best with JavaScript turned on.</div></noscript>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table id="content-table" summary="main-content" cellpadding="0" border="0">
                        <tr>
                            <!--<td class="sidebar"></td>-->
                            <td>
                                 <div class="center">
                                    <h3></h3>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <!--<td class="sidebar"></td>-->
                            <td id="content" style="width: 90.8%;">
                                






<meta name="decorator" content="full"/>
<style type="text/css">
    .fieldset_edit_profile{
        border: 1px solid #D2D2D2;
        clear: both;
        display: block;
        padding: 1em;
        text-align: left;
        width: 90%;
        height: auto;
        margin: 16px auto;
    }
    .edit_profile{
        background-color: #D2D2D2;
        border: 1px solid #7F7F7F;
        border-collapse: collapse;
        border-radius: 4px 4px 4px 4px;
        box-shadow: 0 0 4px #555555;
        font-weight: normal;
        font-size: 13px;
        margin: 17px;
        padding: 0;
        width: auto;
        height: 400px;
    }
    .legend_title{
        color: #0068B3;
        font-weight: bold;
    }
    .table_info{
        /*margin-left: 40px;*/
        margin-top: 10px
    }
</style>
<div class="main-content" style="position: relative; float:left;min-height: 400px">    
    
    <div class="edit_profile">

        <fieldset class="fieldset_edit_profile">
            <legend class="legend_title"><b>Program Registration Request Page</b></legend>
            <p>
                If you are the Dealer Principal, please enter <span style="text-decoration: underline;">your</span> SID, Dealer Code, and your Email address.
                An email will be sent to you with site login instructions.
            </p>    

            <form id="login" action="/mser/enrollment.do" method="post">

                <p class="error" style="margin-bottom: 5px;text-align: center;">
                    <br/>
                </p>

                <p style="font-weight: bold;">All fields are required.</p>                
                <table width="100%" class="table_info">
                    <tr>
                        <td style="padding-bottom: 8px;"><em>Your</em>&nbsp;SID&nbsp;</td>
                        <td style="padding-bottom: 8px;">
                            <input id="sID" name="sID" type="text" value="" size="10"/>                                                        
                            
                        </td>                        
                    </tr>
                    <tr>
                        <td style="padding-bottom: 8px;">Dealer Code&nbsp;</td>
                        <td style="padding-bottom: 8px;">
                            <input id="userId" name="userId" type="text" value="" size="10"/>
                            
                        </td>                        
                    </tr>
                    <tr>
                        <td style="padding-bottom: 8px;">Dealer Principal Email&nbsp;</td>
                        <td style="padding-bottom: 8px;">
                            <input id="email" name="email" type="text" value="" size="27"/>
                            
                        </td>                        
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Cancel" name="cancel" (click)="cancel()"/>
                            <input type="submit" value="Request Enrollment"/>
                        </td>
                    </tr>
                </table>
            </form>
            <br/>
            <p style="font-weight: bold;">
                If you have questions or have trouble logging in, please call 1-866-909-MSER (6737) Monday through Friday from 8.00 AM to 5.00 PM Eastern Time.
            </p>
        </fieldset>
    </div>
</div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    


<table id="footer-table" cellpadding="0">
    <tr>
        <td id="footer-sidebar"></td>
        <td id="footer">
            Questions? Please contact the Mopar Service Excellence Rewards Team at (866) 909-MSER (6737).
        </td>
    </tr>
</table>
<!--Begin Comm100 Live Chat Code-->
 

                </td>
            </tr>
            <tr>
                <td>
                    



<table id="gutter-table" cellpadding="0">
    <tr>

        
        <td id="certseal">
            
            
                
                    <script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=TjOcFbOImwXOtbySlmbusY1VdU4WG90gdu6bUyoxoIsZFsw3b5nbEHd"></script>
                
                
                
            
        </td>
    </tr>
</table>


                </td>
            </tr>
        </table>

        <!-- Google Analytics Tracker -->
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>

        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-9443841-5");
                pageTracker._trackPageview();
            } catch(err) {}
        </script>
    </body>
