<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">☰</button>
    <a class="navbar-brand" href="#"></a>

    <form class="hide-me form-inline float-left b-r-1 px-2 hidden-md-down">
        <i class="fa fa-search"></i>
        <input class="form-control" placeholder="Search..." type="text">
    </form>
</header>
<!-- Main content -->
<main class="main">

    <!-- Page Title -->
    <div class="page-title">
        <div class="pageTitle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <h1 class="heading-xl">
                            Program Registration Request Page

                        </h1>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <a name="dashboard"></a>
    <div class="container m-t-md body-container">
        <!-- First row -->

        <div class="row m-t-md">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <article class="card animated fadeInUp">
                    <div class="card-block">
                        <div class="content-row row">
                            <div class="col-sm-6 col-md-6 col-lg-6" [hidden]="submitted">
                                <button type="button" style="cursor: pointer" class="btn btn-info btn-sm" (click)="cancel()">Cancel</button>
                                <button type="button" style="cursor: pointer; float:right; color:white" class="btn btn-info btn-sm">
                                    <a href="/shared/imi-cms/MSER/webDocs/MSER_Enrollment_Form.pdf" class="resetLink" style=" color:white"
                                        target="_blank">Open as PDF</a>
                                    </button>

                                <form #enrollmentForm="ngForm">
                                    <fieldset>
                                        <legend>2017 Enrollment Form:</legend>
                                        <h5>I have read and agree with these Program Rules and allow my dealership personnel
                                            to participate in these rewards programs.</h5>
                                        <p> Put a check in the box below: </p>
                                        <!-- <input type="checkbox" name="aggrement" id="aggrement"> Yes, I agree to the enrollment
                                        fee and allow my dealership personnel to participate in the Mopar Service Excellence
                                        Rewards Program. -->
                                        <div [hidden]="booleanSelectCheckBox" class="alert alert-danger">
                                                Selection in checkbox is rewuired
                                            </div>
                                        <p-checkbox name="aggrement" value="aggrement" label="Yes, I agree to the enrollment
                                        fee and allow my dealership personnel to participate in the Mopar Service Excellence
                                        Rewards Program." (onChange)="dealerEnrollmentAggrement()" required ></p-checkbox>
                                        <br><br>

                                        <div class="form-group">
                                            <label for="dealercode">Dealer Code</label>
                                            <input type="text" class="form-control" id="dealercode" name="dealercode" required [(ngModel)]="dealerEnrollment.dealerCode" minlength="5"
                                                maxlength="5" style="width: 30%" pattern="[0-9]{5}" #dealercode="ngModel">
                                            <div [hidden]="dealercode.valid || dealercode.pristine" class="alert alert-danger">
                                                Valid Dealercode is required
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="sid">SID *</label>
                                            <input type="text" class="form-control" id="sid" required [(ngModel)]="dealerEnrollment.sid" name="sid" minlength="7" maxlength="7"
                                                style="width: 30%" pattern="[A-Za-z0-9]{7}" #sid="ngModel">
                                            <div [hidden]="sid.valid || sid.pristine" class="alert alert-danger">
                                                Valid SID is required
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="dealershipname">Dealership Name</label>
                                            <input type="text" class="form-control" id="dealershipname" name="dealershipname" required [(ngModel)]="dealerEnrollment.dealershipName"
                                                pattern="[A-Za-z].{3,}" #dealershipname="ngModel">
                                            <div [hidden]="dealershipname.valid || dealershipname.pristine" class="alert alert-danger">
                                                Dealership Name is required
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="dealershipprincipalname">Dealership Principal Name</label>
                                            <input type="text" class="form-control" id="dealershipprincipalname" name="dealershipprincipalname" required [(ngModel)]="dealerEnrollment.dealerPrincipalName"
                                                pattern="[A-Za-z].{3,}" #dealershipprincipalname="ngModel">
                                            <div [hidden]="dealershipprincipalname.valid || dealershipprincipalname.pristine" class="alert alert-danger">
                                                Dealer Principal Name is required
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email Address</label>
                                            <input type="email" class="form-control" id="email" name="email" required [(ngModel)]="dealerEnrollment.dealerPrincipalEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                                                #email="ngModel">
                                            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                                                Valid email is required.
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="phone">Phone Number</label>
                                            <input type="text" class="form-control" id="phone" name="phone" required [(ngModel)]="dealerEnrollment.phone" pattern="[0-9]{10}"
                                                #phone="ngModel" minlength="10" maxlength="10">
                                            <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
                                                Valid phone number is required.
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="signature">Dealer Principal Signature (or person listed on paragraph 2 of Dealer
                                                                Agreement): Type OK to signature</label>
                                            <input type="text" class="form-control" id="signature" name="signature" required [(ngModel)]="dealerEnrollment.signature" pattern="[OKok]{2}"
                                                #signature="ngModel" minlength="2" maxlength="2">
                                            <div [hidden]="signature.valid || signature.pristine" class="alert alert-danger">
                                                Signature is required.
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="date">Date</label>
                                            <ng2-datepicker [options]="options" [(ngModel)]="dealerEnrollment.date" name="date" id="date" value="date"></ng2-datepicker>
                                        </div>
                                        <div class="form-group">
                                            <label for="elligiblemanager">Eligible Parts Manager or Service Manager: </label>
                                            <!-- <input type="text" class="form-control" id="alterEgo"> -->
                                            <p-dropdown [options]="option" name="elligiblemanagers" required [(ngModel)]="dealerEnrollment.selectedManager" placeholder="Select a Manager"
                                                filter="filter" [style]="{'width':'59%'}" #elligiblemanager="ngModel" (onChange)="dealerEnrollmentElligibleManagers(dealerEnrollment.selectedManager)"></p-dropdown>
                                            <div [hidden]="elligiblemanager.valid || elligiblemanager.pristine" class="alert alert-danger">
                                                Select the Manager.
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="manageremail">Manager Email </label>
                                            <input type="email" class="form-control" id="manageremail" name="manageremail" required [(ngModel)]="dealerEnrollment.managerEmail"
                                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #manageremail="ngModel">
                                            <div [hidden]="manageremail.valid || manageremail.pristine" class="alert alert-danger">
                                                Valid email is required.
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <p-checkbox name="group1" value="Parts Counter" label="Yes, I will enroll in
                                            Parts Counter." (onChange)="dealerEnrollmentPCCheckBox()"></p-checkbox>
                                        </div>
                                        <div class="form-group">
                                            <p-checkbox name="group1" value="Used Recon" label="Yes, I will enroll in
                                            Used Recon." (onChange)="dealerEnrollmentUsedReconCheckBox()"></p-checkbox>
                                        </div>
                                        <div class="form-group">
                                            <p-checkbox name="group1" value="Express Lane" label="Yes, I will enroll in
                                            Express Lane." (onChange)="dealerEnrollmentExpressLaneCheckBox()"></p-checkbox>
                                        </div>
                                        <button type="submit" class="btn btn-success" (click)="saveDealerEnrollmentForm()" [disabled]="!enrollmentForm.form.valid">Submit</button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</main>