<div class="app-body" >
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-title text-center">
                    <span>Dashboard</span>
                </li>
                <li class="nav-item"><a class="nav-link" routerLink="payoutchart"><i class="icon-info"></i>Payout Chart</a></li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="home"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
                </li>

                <li class="divider"></li>
                <li class="nav-title text-center">
                    <span>Resources</span> 
                </li>

                <li class="nav-item"><a class="nav-link" href="#"><i class="icon-home"></i>Home</a></li>
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-user-following"></i> Enrollment </a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item"><a class="nav-link"  routerLink="opcodesetup"><i class="icon-puzzle"></i>OP Code Setup</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>MSER Rules</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>PDF Enrollment Form</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Automatic Enrollment Opt Out Form</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Enrollment Report</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Enrollment Maintenance</a></li>
                    </ul>
                </li>
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i>Marketing</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Recall Reward Rules</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Mopar Marketing Programs</a></li>

                        <li class="nav-item nav-dropdown">
                            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i>Training</a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Presentations</a></li>
                                <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Service Lane Sales Training</a></li>
                            </ul>
                        </li>

                    </ul>

                </li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="icon-graph"></i>Report Center</a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="icon-graph"></i>Parts Lookup</a></li>

                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-doc"></i> MVP </a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>MVP Rules</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Plan Codes</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Videos</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Approved MVP Plans</a></li>
                    </ul>
                </li>

                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-doc"></i> Express Lane </a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Enrollment</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Reward Distribution</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Reward Re-Distribution</a></li>
                    </ul>
                </li>
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-doc"></i> Parts Counter </a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Rules</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Enrollment</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Reward Distribution</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Reward Re-Distribution</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Parts Counter Set-Up</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Rejected Invoice Details</a></li>
                    </ul>
                </li>
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-doc"></i>Excellence Card</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>2016 Excellence Card Issuances Schedule</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Excellence Card Information</a></li>

                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="icon-user"></i>Admin</a></li>

                <!--
                <li class="nav-item nav-dropdown">
                  <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-graph"></i>Reports</a>
                  <ul class="nav-dropdown-items">
                    <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>MSER</a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>BC Reports</a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>BOOST</a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Parts</a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Accessories</a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>MVP</a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Express Lane</a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Parts Counter</a></li>
                  </ul>
                </li>


                <li class="nav-item"><a class="nav-link" href="#"><i class="icon-graph"></i>BC Reports</a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="icon-doc"></i>BOOST</a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="icon-doc"></i>Parts</a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="icon-doc"></i>Accessories</a></li>

                <li class="nav-item"><a class="nav-link" href="#"><i class="icon-doc"></i>Express Lane</a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="icon-doc"></i>Parts Counter</a></li>-->
            </ul>
        </nav>
    </div>
</div>
  