<table id="main-container-table" cellpadding="0">

<!---->
<tr>
<td>
<table cellpadding="0">
<tr>
<!--<td class="sidebar"></td>-->
<td>
<noscript>
<div class="error-script">Please enable your browser's JavaScript support. This site functions best with JavaScript turned
on.
</div>
</noscript>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td>
<table id="content-table" cellpadding="0">
<tr>
<!--<td class="sidebar">
</td>-->
<td id="content" style="width: 90%">

<div class="main-content" style="position: relative; float:left;min-height: 400px">
<div class="center">
<h2>Update User Profile</h2>
</div>
<!--<center>-->


<div class="edit_profile">
<table width="100%">
<tr>
    <td width="50%">
        <form id="user" style="margin: 0 auto;" action="/mser/userUpdate.do" method="post">
            <fieldset class="fieldset_edit_profile" style="margin-top: 20px">
                <legend class="legend_title">Change your information</legend>
                <form #userprofile="ngForm" novalidate (ngSubmit)="updateUserProfile(profileChange.name, profileChange.email, profileChange.optIn, profileChange.optOut)">
                <table class="login table_info form-group">
                    <tr>
                        <td>Name:</td>
                        <td>
                            <input id="name" name="name" class="inset-form-element form-control" type="text" [(ngModel)]="profileChange.name" value="" size="50">

                        </td>
                    </tr>
                    <!--<div *ngIf="name.errors &&(name.dirty || name.touched)" class="alert alert-danger"> profileChange
<div [hidden]="!name.errors.required">
Name is required
</div>
<div [hidden]="!name.errors.minlength">
Name must be at least 4 characters long.
</div>
<div [hidden]="!name.errors.maxlength">
Name cannot be more than 24 characters long.
</div>
</div>-->
                    <tr>
                        <td>Email:</td>
                        <td>
                            <input id="email" name="email" class="inset-form-element form-control" [(ngModel)]="profileChange.email" type="text" value="" size="50">

                        </td>
                    </tr>
                    <!--<div *ngIf="email.errors &&(email.dirty || email.touched)" class="alert alert-danger">
<div [hidden]="!email.errors.required">
Name is required
</div>
<div [hidden]="!email.errors.minlength">
Name must be at least 4 characters long.
</div>
<div [hidden]="!email.errors.maxlength">
Name cannot be more than 24 characters long.
</div>
</div>-->

                    <tr>
                        <td colspan="2">
                            <p>Please update your email address and choose to "Opt-In" to
                                receive future MSER emails or "Opt-Out" so you will not
                                receive any future emails from MSER.<br>
                                <b><u>MSER will use this email to contact you on MSER program updates only.</u></b>                                                                    This email address will not be shared.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Opt Type:</td>
                        <td>
                            <input id="optIn" name="optType" type="radio" [(ngModel)]="profileChange.optIn" value="">Opt-In
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <td>
                                <input id="optOut" name="optType" type="radio" [(ngModel)]="profileChange.optOut" value="">Opt-Out
                            </td>
                    </tr>
                    <tr>
                        <td>
                            <td>
                                <input type="submit" value="Update" name="_update" >
                            </td>
                    </tr>

                </table>
                </form>
                <div id="edit_profile_div">

                    <img id="edit_profile_image" src="/shared/imi-cms/MSER/images/webImages/edit_profile_message.jpg" alt="email required!" style="left: 220px;position: absolute;width: 338px;top: 370px">

                </div>
            </fieldset>

            <div class="divider"></div><br>
            <form #userprofile="ngForm" novalidate (ngSubmit)="changeUserPassword(passwordChange.newPassword, passwordChange.confirmPassword)">
            <fieldset class="fieldset_edit_profile">
                <legend class="legend_title">Change your Password</legend>
                <ul class="tight" style="margin-top: 1em;opacity: 0.8">
                    <li>Passwords must contain letters and numbers.
                        <li>Passwords must be at least 6 characters.
                            <li>Passwords must not match your userid.
                </ul>
                <table class="login table_info"> 
                    <tr>
                        <td>New Password:</td>
                        <td><input id="password" name="password"  [(ngModel)]= "passwordChange.newPassword" class="inset-form-element"
                                type="password" value=""> </td>
                    </tr>
                    <tr>
                        <td>Confirm Password:</td>
                        <td><input id="confirmPassword" name="confirmPassword" [(ngModel)]= "passwordChange.confirmPassword" class="inset-form-element"
                                type="password" value=""> </td>
                    </tr>
                    <tr>
                        <td>
                            <td>
                                <input type="submit" value="Change" name="_change" >

                            </td>
                    </tr>
                </table>
            </fieldset>
            </form>
        </form>
        </td>
        <td style="vertical-align:top; margin-top:10px;">
            <div style="text-align:left; margin-left:30px; margin-top:20px;margin-right:20px">
                <legend class="legend_title">NEW! Text messaging option: </legend>
                <br><br> Stay updated on all of the MSER program news! Enter your cell
                phone number below and we will text you when there is something important
                for you to know. We will not share nor sell your phone number with any
                other entities! <br>

                <iframe src="https://www.slicktext.com/widget/custom/imperialm/?type=word&style=widget&w=8365a892bc15ef3d9426ce0cd0c7a99ec2dd4c67"
                    width="300" height="320" frameborder="0" scrolling="no"></iframe>
            </div>
        </td>
</tr>
</table>
</div>
<!--</center>-->
</div>

</td>
</tr>
</table>
</td>
</tr>
<tr>
<td>



<table id="footer-table" cellpadding="0">
<tr>
<td id="footer-sidebar"></td>
<td id="footer">
Questions? Please contact the Mopar Service Excellence Rewards Team at (866) 909-MSER (6737).
</td>
</tr>
</table>
<!--Begin Comm100 Live Chat Code-->



<!--End Comm100 Live Chat Code-->

<!-- Start of imperialm Zendesk Widget script -->
<script>
/*<![CDATA[*/window.zEmbed || function (e, t) {
var n, o, d, i, s, a = [], r = document.createElement("iframe");
window.zEmbed = function () {
a.push(arguments)
}, window.zE = window.zE || window.zEmbed, r.src = "javascript:false", r.title = "", r.role = "presentation", (r.frameElement || r).style.cssText = "display: none", d = document.getElementsByTagName("script"), d = d[d.length - 1], d.parentNode.insertBefore(r, d), i = r.contentWindow, s = i.document;
try {
o = s
} catch (e) {
n = document.domain, r.src = 'javascript:var d=document.open();d.domain="' + n + '";void(0);', o = s
}
o.open()._l = function () {
var o = this.createElement("script");
n && (this.domain = n), o.id = "js-iframe-async", o.src = e, this.t = +new Date, this.zendeskHost = t, this.zEQueue = a, this.body.appendChild(o)
}, o.write('<body onload="document._l();">'), o.close()
}("https://assets.zendesk.com/embeddable_framework/main.js", "imperialm.zendesk.com");
/*]]>*/

</script>
<!-- End of imperialm Zendesk Widget script -->


</td>
</tr>
<tr>
<td>




<table id="gutter-table" cellpadding="0">
<tr>


<td id="certseal">



<script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=TjOcFbOImwXOtbySlmbusY1VdU4WG90gdu6bUyoxoIsZFsw3b5nbEHd"></script>




</td>
</tr>
</table>


</td>
</tr>
</table>