<!-- Main content -->
<main class="main">

    <!-- Page Title -->
    <div class="page-title">
        <div class="pageTitle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <h1 class="heading-xl">
                            Update User Profile Page
                        </h1>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Breadcrumb -->
    <ol class="breadcrumb mb-0">
        <!--<li class="breadcrumb-item active"><a href="#">User Profile</a></li>-->
    </ol>

    <a name="payoutchart"></a>

    <a name="dashboard"></a>
    <div class="container m-t-md body-container">
        <!-- First row -->

        <div class="row m-t-md">
            <div class="col-sm-12 col-md-12 col-lg-12">

                <article class="card animated fadeInUp">

                    <div class="card-block">
                        <!--<div class="introHeading">
        <h1>Admin Dashboard</h1>
      </div>-->
                        <div class="heading-line">
                            <!--<h2>User Profile</h2>-->
                        </div>

                        <div class="content-row row">
                            <div class="col-sm-12 col-md-6 col-lg-6">

                                <form class="pageForm">
                                    <h5>Change Your Information</h5>
                                    <p style="color: red; margin-bottom: auto; margin-left: 205px;">{{errorProfileChangeMessage}}</p>
                                    <p style="color: red; margin-bottom: auto; margin-left: 205px;">{{emptyNameMessage}}</p>                                    
                                    <p style="color: red; margin-bottom: auto; margin-left: 205px;">{{successUpdateUserProfile}}</p>
                                    <br>
                                    <label>Name:</label>
                                    <!--<input type="text"  id="name" name="name" [(ngModel)]="profileChange.name" value="{{userProfileData.name}}"/>-->
                                    <!--<input type="text" id="name" name="name" value="" [(ngModel)]="profileChange.name" />
                                    -->
                                    <input type="text" size="25" id="name1" name="name1" value="" [(ngModel)]="profileChange.name" />
                                    <br />
                                    <label>Email:</label>
                                    <input type="text" size="25" id="email" name="email" value="" [(ngModel)]="profileChange.email" />
                                    <br />
                                    <p>
                                        Please update your email address and choose "Opt-In" to receive future MSER emails.

                                        <span style="text-decoration:underline;font-weight:bold;">MSER will use this email to contact you on MSER program updates only.</span>This email will not be shared.</p>

                                    <label>Opt Type:</label>
                                    <ul class="contact-list">
                                        <li>
                                            <input type="checkbox" id="optIn" name="optIn" value="" [(ngModel)]="userProfileData.sendMail" />Opt-In
                                        </li>
                                        <!--<li>
                                            <input type="radio" id="optOut" name="optOut" value="N" [(ngModel)]="userProfileData.sendMail" />Opt-Out
                                        </li>-->
                                    </ul>
                                    <br />

                                    <button type="button" class="btn btn-info btn-sm" (click)="updateUserProfile()">Update</button>

                                </form>

                                <!--<form class="pageForm" #passwordChangeForm="ngForm" novalidate (ngSubmit)="changeUserPassword()">
                                    <h5>Change Your Password</h5>
                                    <ul>
                                        <li>Passwords must contain letters and numbers</li>
                                        <li>Passwords must be at least 6 characters</li>
                                        <li>Passwords must not match your User ID</li>
                                    </ul>
                                    <p style="color: red; margin-bottom: auto; margin-left: 205px;">{{confirmPasswordMessage}}</p>
                                    <p style="color: red; margin-bottom: auto; margin-left: 205px;">{{successPasswordChangedMessage}}</p>
                                    <p *ngFor="let error of errorsPasswordMessage"style="color: red; margin-bottom: auto; margin-left: 205px;">{{error}}</p>
                                    <label>New Password</label>
                                    <input type="password" id="passwordInput" name="passwordInput" [(ngModel)]="passwordChange.newPassword" value="" />
                                    <br />
                                    <label>Confirm New Password</label>
                                    <input type="password" id="confirmPasswordInput" name="confirmPasswordInput" [(ngModel)]="passwordChange.confirmPassword"
                                        value="" />
                                    <br />
                                    <button type="submit" class="btn btn-info btn-sm">Change</button>
                                </form>-->

                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <form class="pageForm" #textMsgOptionForm="ngForm" novalidate (ngSubmit)="textMessageOption()">
                                    <h5>Sign up to Receive Text Messages</h5>
                                   
                                    <p style="color: red; margin-bottom: auto; margin-left: 205px;">{{errorAgreeTermsAndCondition}}</p>
                                    <p style="color: red; margin-bottom: auto; margin-left: 205px;">{{errorSID}}</p>
                                    <p style="color: red; margin-bottom: auto; margin-left: 205px;">{{errorMobileNumber}}</p>
                                    <p style="color: red; margin-bottom: auto; margin-left: 205px;">{{successTextMessageOption}} </p>
                                    <p style="color: red; margin-bottom: auto; margin-left: 205px;">{{errorSuccessTextMessageOption}} </p>
                                    <br>
                                    <label>Enter your SID/TID: </label>
                                    <input type="text" id="sidEntry" name="sidEntry" minlength="7" maxlength="7" [(ngModel)]="textMsgOption.sid" />
                                    <br />
                                    <label>Enter your mobile number: </label>
                                    <input type="text" id="mobileNumber" name="mobileNumber" [(ngModel)]="textMsgOption.mobileNumber" />
                                    <br />

                                    <p><input type="checkbox" id="agree" name="agree" [(ngModel)]="textMsgOption.agreeTermsAndCondition"
                                        /> I would like to receive text messages, and agree to the
                                        <a href="//bit.ly/1RsweNh" target="_blank">Terms of Service </a> &amp; <a href="//bit.ly/1RsweNh"
                                            target="_blank">Privacy Policy</a></p>

                                    <button type="submit" class="btn btn-info btn-sm">Sign Me Up!</button>
                                </form>

                            </div>


                        </div>
                    </div>
                </article>
            </div>

        </div>
        <!-- .end FIRST row -->
    </div>
</main>

<aside class="aside-menu">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab"><i class="icon-list"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#messages" role="tab"><i class="icon-speech"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#settings" role="tab"><i class="icon-settings"></i></a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="timeline" role="tabpanel">
            <!--
            <div class="callout m-0 py-h text-muted text-center bg-faded text-uppercase">
                <small><b>Today</b>
                </small>
            </div>
            <hr class="transparent mx-1 my-0">
            <div class="callout callout-warning m-0 py-1">
                <div class="avatar float-right">
                    <img src="assets/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
                <div>Meeting with
                    <strong>Lucas</strong>
                </div>
                <small class="text-muted mr-1"><i class="icon-calendar"></i>&nbsp; 1 - 3pm</small>
                <small class="text-muted"><i class="icon-location-pin"></i>&nbsp; Palo Alto, CA</small>
            </div>
            <hr class="mx-1 my-0">
            <div class="callout callout-info m-0 py-1">
                <div class="avatar float-right">
                    <img src="assets/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
                <div>Skype with
                    <strong>Megan</strong>
                </div>
                <small class="text-muted mr-1"><i class="icon-calendar"></i>&nbsp; 4 - 5pm</small>
                <small class="text-muted"><i class="icon-social-skype"></i>&nbsp; On-line</small>
            </div>
            <hr class="transparent mx-1 my-0">
            <div class="callout m-0 py-h text-muted text-center bg-faded text-uppercase">
                <small><b>Tomorrow</b>
                </small>
            </div>
            <hr class="transparent mx-1 my-0">
            <div class="callout callout-danger m-0 py-1">
                <div>New UI Project -
                    <strong>deadline</strong>
                </div>
                <small class="text-muted mr-1"><i class="icon-calendar"></i>&nbsp; 10 - 11pm</small>
                <small class="text-muted"><i class="icon-home"></i>&nbsp; creativeLabs HQ</small>
                <div class="avatars-stack mt-h">
                    <div class="avatar avatar-xs">
                        <img src="assets/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                    <div class="avatar avatar-xs">
                        <img src="assets/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                    <div class="avatar avatar-xs">
                        <img src="assets/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                    <div class="avatar avatar-xs">
                        <img src="assets/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                    <div class="avatar avatar-xs">
                        <img src="assets/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                </div>
            </div>
            <hr class="mx-1 my-0">
            <div class="callout callout-success m-0 py-1">
                <div>
                    <strong>#10 Startups.Garden</strong>Meetup</div>
                <small class="text-muted mr-1"><i class="icon-calendar"></i>&nbsp; 1 - 3pm</small>
                <small class="text-muted"><i class="icon-location-pin"></i>&nbsp; Palo Alto, CA</small>
            </div>
            <hr class="mx-1 my-0">
            <div class="callout callout-primary m-0 py-1">
                <div>
                    <strong>Team meeting</strong>
                </div>
                <small class="text-muted mr-1"><i class="icon-calendar"></i>&nbsp; 4 - 6pm</small>
                <small class="text-muted"><i class="icon-home"></i>&nbsp; creativeLabs HQ</small>
                <div class="avatars-stack mt-h">
                    <div class="avatar avatar-xs">
                        <img src="assets/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                    <div class="avatar avatar-xs">
                        <img src="assets/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                    <div class="avatar avatar-xs">
                        <img src="assets/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                    <div class="avatar avatar-xs">
                        <img src="assets/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                    <div class="avatar avatar-xs">
                        <img src="assets/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                    <div class="avatar avatar-xs">
                        <img src="assets/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                    <div class="avatar avatar-xs">
                        <img src="assets/8.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                </div>
            </div>
            <hr class="mx-1 my-0">
            -->
        </div>
        <div class="tab-pane p-1" id="messages" role="tabpanel">
            <div class="message">
                <div class="py-1 pb-3 mr-1 float-left">
                    <div class="avatar">
                        <img src="assets/img/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                        <span class="avatar-status badge-success"></span>
                    </div>
                </div>
                <div>
                    <small class="text-muted">Lukasz Holeczek</small>
                    <small class="text-muted float-right mt-q">1:52 PM</small>
                </div>
                <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
            </div>
            <hr>
            <div class="message">
                <div class="py-1 pb-3 mr-1 float-left">
                    <div class="avatar">
                        <img src="assets/img/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                        <span class="avatar-status badge-success"></span>
                    </div>
                </div>
                <div>
                    <small class="text-muted">Lukasz Holeczek</small>
                    <small class="text-muted float-right mt-q">1:52 PM</small>
                </div>
                <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
            </div>
            <hr>
            <div class="message">
                <div class="py-1 pb-3 mr-1 float-left">
                    <div class="avatar">
                        <img src="assets/img/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                        <span class="avatar-status badge-success"></span>
                    </div>
                </div>
                <div>
                    <small class="text-muted">Lukasz Holeczek</small>
                    <small class="text-muted float-right mt-q">1:52 PM</small>
                </div>
                <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
            </div>
            <hr>
            <div class="message">
                <div class="py-1 pb-3 mr-1 float-left">
                    <div class="avatar">
                        <img src="assets/img/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                        <span class="avatar-status badge-success"></span>
                    </div>
                </div>
                <div>
                    <small class="text-muted">Lukasz Holeczek</small>
                    <small class="text-muted float-right mt-q">1:52 PM</small>
                </div>
                <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
            </div>
            <hr>
            <div class="message">
                <div class="py-1 pb-3 mr-1 float-left">
                    <div class="avatar">
                        <img src="assets/img/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                        <span class="avatar-status badge-success"></span>
                    </div>
                </div>
                <div>
                    <small class="text-muted">Lukasz Holeczek</small>
                    <small class="text-muted float-right mt-q">1:52 PM</small>
                </div>
                <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
            </div>
        </div>
        <div class="tab-pane p-1" id="settings" role="tabpanel">
            <h6>Settings</h6>

            <div class="aside-options">
                <div class="clearfix mt-2">
                    <small>
              <b>Option 1</b>
            </small>
                    <label class="switch switch-text switch-pill switch-success switch-sm float-right">
              <input class="switch-input" checked="checked" type="checkbox">
              <span class="switch-label" data-on="On" data-off="Off"></span>
              <span class="switch-handle"></span>
            </label>
                </div>
                <div>
                    <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
                </div>
            </div>

            <div class="aside-options">
                <div class="clearfix mt-1">
                    <small>
              <b>Option 2</b>
            </small>
                    <label class="switch switch-text switch-pill switch-success switch-sm float-right">
              <input class="switch-input" type="checkbox">
              <span class="switch-label" data-on="On" data-off="Off"></span>
              <span class="switch-handle"></span>
            </label>
                </div>
                <div>
                    <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
                </div>
            </div>

            <div class="aside-options">
                <div class="clearfix mt-1">
                    <small>
              <b>Option 3</b>
            </small>
                    <label class="switch switch-text switch-pill switch-success switch-sm float-right">
              <input class="switch-input" type="checkbox">
              <span class="switch-label" data-on="On" data-off="Off"></span>
              <span class="switch-handle"></span>
            </label>
                </div>
            </div>

            <div class="aside-options">
                <div class="clearfix mt-1">
                    <small>
              <b>Option 4</b>
            </small>
                    <label class="switch switch-text switch-pill switch-success switch-sm float-right">
              <input class="switch-input" checked="checked" type="checkbox">
              <span class="switch-label" data-on="On" data-off="Off"></span>
              <span class="switch-handle"></span>
            </label>
                </div>
            </div>

            <hr>
            <h6>System Utilization</h6>

            <div class="text-uppercase mb-q mt-2">
                <small>
            <b>CPU Usage</b>
          </small>
            </div>
            <div class="progress progress-xs">
                <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small class="text-muted">348 Processes. 1/4 Cores.</small>

            <div class="text-uppercase mb-q mt-h">
                <small>
            <b>Memory Usage</b>
          </small>
            </div>
            <div class="progress progress-xs">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small class="text-muted">11444GB/16384MB</small>

            <div class="text-uppercase mb-q mt-h">
                <small>
            <b>SSD 1 Usage</b>
          </small>
            </div>
            <div class="progress progress-xs">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small class="text-muted">243GB/256GB</small>

            <div class="text-uppercase mb-q mt-h">
                <small>
            <b>SSD 2 Usage</b>
          </small>
            </div>
            <div class="progress progress-xs">
                <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small class="text-muted">25GB/256GB</small>
        </div>
    </div>
</aside>





<!--<footer class="app-footer">
    <div class="row">


        <div class="col-sm-0 col-md-1 col-lg-1">
            <a href="#"></a>
        </div>



        <div class="col-sm-9 col-md-9 col-lg-9">
            <ul class="footer-links">
                <li class="footer-item">
                    <a class="footer-link" href="#">Top Tech</a>
                </li>
                <li class="footer-item">
                    <a class="footer-link" href="#">Top Advisor</a>
                </li>
                <li class="footer-item">
                    <a class="footer-link" href="#">Rewarding Excellence</a>
                </li>
                <li class="footer-item">
                    <a class="footer-link" href="#">Dealer Bulletins</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-3 col-md-2 col-lg-2">
            <span class="float-right">
          <a href="#">MSER 2017</a>
        </span>

        </div>
    </div>
</footer>-->

<!-- Bootstrap and necessary plugins -->
<!-- <script src="assets/jquery.js"></script> -->


<script src="assets/tether.js"></script>
<script src="assets/bootstrap.js"></script>
<script src="assets/pace.js"></script>

<!-- Plugins and scripts required by all views -->
<script src="assets/Chart.js"></script>


<!-- GenesisUI main scripts -->

<script src="assets/app.js"></script>

<script src="assets/toastr.js"></script>



<!-- Plugins and scripts required by this views

      <script src="assets/gauge.js"></script>
      <script src="assets/moment.js"></script>
      <script src="assets/daterangepicker.js"></script>
  -->
<!-- Custom scripts required by this view -->
<!--  <script src="assets/main.js"></script> -->

<script>
    jQuery(document).ready(function ($) {
        /* jQuery activation and setting options for parent tabs with id selector*/
        $("#tabbed-nav").zozoTabs({
            rounded: false,
            multiline: true,
            theme: "white",
            size: "medium",
            responsive: true,
            animation: {
                effects: "slideH",
                easing: "easeInOutCirc",
                type: "jquery"
            },
            defaultTab: "tab2",
            orientation: "vertical"
        });

        /* jQuery activation and setting options for nested tabs with class selector*/
        $(".nested-tabs").zozoTabs({

            position: "top-left",
            theme: "red",
            style: "underlined",
            rounded: false,
            shadows: false,
            defaultTab: "tab1",
            animation: {
                easing: "easeInOutCirc",
                effects: "slideV"
            },
            size: "medium"
        });
    });

</script>

<div class="daterangepicker dropdown-menu ltr opensleft">
    <div class="calendar left">
        <div class="daterangepicker_input"><input class="input-mini form-control" name="daterangepicker_start" type="text"><i class="fa fa-calendar glyphicon glyphicon-calendar"></i>
            <div class="calendar-time" style="display: none;">
                <div></div><i class="fa fa-clock-o glyphicon glyphicon-time"></i></div>
        </div>
        <div class="calendar-table"></div>
    </div>
    <div class="calendar right">
        <div class="daterangepicker_input"><input class="input-mini form-control" name="daterangepicker_end" type="text"><i class="fa fa-calendar glyphicon glyphicon-calendar"></i>
            <div class="calendar-time" style="display: none;">
                <div></div><i class="fa fa-clock-o glyphicon glyphicon-time"></i></div>
        </div>
        <div class="calendar-table"></div>
    </div>
    <div class="ranges">
        <ul>
            <li data-range-key="Today">Today</li>
            <li data-range-key="Yesterday">Yesterday</li>
            <li data-range-key="Last 7 Days">Last 7 Days</li>
            <li data-range-key="Last 30 Days">Last 30 Days</li>
            <li data-range-key="This Month">This Month</li>
            <li data-range-key="Last Month">Last Month</li>
            <li data-range-key="Custom Range">Custom Range</li>
        </ul>
        <div class="range_inputs"><button class="applyBtn btn btn-sm btn-success" disabled="disabled" type="button">Apply</button> <button class="cancelBtn btn btn-sm btn-default"
                type="button">Cancel</button></div>
    </div>
</div>