/***
  mopar-styles.css should be for
***/


/* Start Contact List */
.contact-list {
  list-style-image:none;
  list-style-type:none;
  margin:0;
  padding:0;
}
.contact-list li{
  padding:5px;
}
/* End Contact List */


/* Start Dropdowns */
.dropdown ul.dropdown-menu li{
  padding: 5px 10px;
}
.dropdown ul.dropdown-menu li:hover {
  background-color: rgb(152, 198, 247);
  color:#333;
  transition-duration: 300ms;
  transition-property: background color;
  transition-timing-function: ease-out;
}
.dropdown ul.dropdown-menu li:hover a {
  color:#333;
}
.dropdown ul.dropdown-menu li a:hover{
  color:#333;
  text-decoration:none;
}
.dropdown-menu-right.user-options{
  top: 20px;
}
/* End Dropdowns */


/* Begin Form Styles */
.pageForm .dropdown-toggle{
  width:200px;
}
.pageForm{
  margin-bottom:25px;
}
.pageForm label {
  width:200px;
}
/*End Form Styles*/


/* Begin Buttons */
.btn {
  color: #fff;
  display: block;
  font-family: "TitlingGothicFB StandardComp","Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 10px;
  padding: 5px 15px;
  width: auto;
  -webkit-border-radius: 34px;
  -ms-border-radius: 34px;
  -khtml-border-radius: 34px;
  -moz-border-radius: 34px;
  border-radius: 34px;
  transition-property: background color;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}
.btn-primary {
  background-color: #0068b3;
  border-color: #0068b3;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  color: #fff;
  display: inline-block;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background: #005999;
  border-color: #005999;
  color: #fff;
}
.form-btns{
  margin-top:15px;
}
.header-buttons {
  height:100%;
  padding:36px 10px 10px 10px;
  width:auto;
}
.header-btn {
  font-size:14px;
  height:30px;
  padding:0.5rem 1rem;
  text-align:center;
  width:auto;
  vertical-align:middle;
}
/* End Buttons */


/* Start Headings */
h1, h2, h3, h4, h5 {
  font-family: "TitlingGothicFB StandardComp","Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.25em;
  margin: 0 0 12px 0;
}
h2 {
    font-size: 40px;
}
.introHeading h1 {
  color: #0068b3;
  font-family: "TitlingGothicFB StandardComp","Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 64px;
  font-weight: normal;
  line-height: 64px;
  letter-spacing: 1px;
}
.heading {
  border-bottom: 1px solid #dadfe6;
  font-family: "TitlingGothicFB StandardComp","Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 1px;
  padding: 20px 0;
}
.heading-line {
  position: relative;
  margin: 0 0 24px 0;
}
.heading-line h1, .heading-line h2, .heading-line h3, .heading-line h4, .heading-line h5 {
  background: #f5f7fa;
  display: inline-block;
  margin: 0;
  padding-right: 24px;
  position: relative;
  z-index: 2;
}
.heading-line::after {
  background: #e3e7ed;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 1;
}
/* End Headings */


/* Begin Page Title */
.pageTitle {
  background: #0068b3;
  line-height: 100px;
  padding: 0;
}
.pageTitle .container {
  margin:0;
}
.pageTitle .heading-xl {
  color: #fff;
  display: inline-block;
  font-family: "TitlingGothicFB Narrow Medium","Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 40px;
  margin: 0;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}
/* End Page Title */


/* Begin Checklist */
.checkListContainer {
  margin-bottom: 48px;
}
.checklist {
  color: #1f2833;
  font-size: 14px;
  list-style-type: none;
}
.checklist li:first-of-type {
    margin-top: 0;
}
.checklist li {
  line-height: 1.7;
  margin: 24px 0;
  padding-left: 24px;
  position: relative;
}
.checklist li:before {
  content: "\f00c";
  font-family: FontAwesome;
  height: 14px;
  position: absolute;
  top: 2px;
  left: 0;
  width: 13px;
}
/* End Checklist */


/* Begin Nav Menu */
.navMenu:before, .navMenu:after {
  content: " ";
  display: table;
}
.navMenu {
  display: block;
  float: left;
  height: 75px;
  line-height: 68px;
  margin-left:20px;
  margin-top:26px;
}
.navMenu .menuItem {
  float: left;
  position: relative;
}
.navMenu .menuItem .menuTarget {
  border-bottom: 3px solid #fff;
  border-top: 3px solid #fff;
  color: #7a8899;
  cursor: pointer;
  display: inline-block;
  height: 74px;
  font-family: "TitlingGothicFB StandardComp","Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight:500;
  letter-spacing: .5px;
  padding: 0 24px;
  transition: 300ms ease-out all;
}
.navMenu .menuItem .menuTarget:hover, .nav .navMenu .menuItem .menuTarget.active {
  border-bottom: 3px solid #0068b3;
  color: #1f2833;
}
.navbar .nav-item .nav-link.nav-pill.avatar {
  display: inline-block;
  margin: 10px 30px 10px 10px;
  position: relative;
  text-align: center;
}
/* End Nav Menu */


/* Begin Salutation */
.salutation {
  display: inline-block;
  margin: 10px;
  position: relative;
  text-align: right;
  vertical-align: middle;
}
.salutation p {
  font-family: "TitlingGothicFB StandardComp","Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight:300;
  line-height: 17px;
  margin: 0;
  padding: 0;
  text-align: right;
}
.salutation p:first-child {
  font-weight: 400;
}
/* End Salutation */


/* Begin Footer */
.app-footer {
  background: #0f141a;
  color: #dadfe6;
  display: block;
}

.footer-links {
  display: inline;
  font-family: "Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 15px;
}

.footer-item {
  box-sizing: border-box;
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0 10px 5px 0;
  text-align: -webkit-match-parent;
}

.footer-link {
  background-color: transparent;
  color: #dadfe6;
  cursor: pointer;
  display: block;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  transition: 300ms ease-out all;
  text-decoration: none;
}

.footer-link:hover {
  color:white;
  text-decoration:none;
}
/* End Footer */


/* Miscellaneous */
.fa.refresh-button {
  color:rgb(33, 150, 243);
  font-size: 31px;
  height: 35px;
  margin-top: .6em;
  margin-right: 1em;
  width: 35px;
}
.inline {
  display:inline-block !important ;
}
.visible-lg {
  display: block !important;
}
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}
p {
  line-height: 25px;
  margin-bottom: 24px;
}
.copy {
  font-family: "TitlingGothicFB StandardComp","Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:17px;
}
.container {
  margin:0 !important;
  width:100% !important;
}
.body-container {
  margin-left:0 !important;
  margin-right:0 !important;
}
.priority {
  font-family: "TitlingGothicFB StandardComp","Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight:500;
  letter-spacing: .5px;
  line-height: 25px;
  text-transform: none;
}
