/***
  mopar-styles.css should be for matching the styling (typography, colors, etc)

While these color values don't match the ones provided in the Branding Guidelines,
they are taken directly from the branding guidelines themselves when the color is
directly selected in Photoshop.

Mopar Blue:
CMYK: 91, 59, 1, 0
Hex: #0068B3
RGB: rgb(0,104,179)

Mopar Black:
CMYK: 0, 0, 0, 100
Hex: #000000
RGB: rgb(0,0,0)

Mopar Grey:
CMYK: 62, 47, 43, 12
Hex: #68737a
RGB: rgb(104,115,112)

Mopar Fonts:
TitlingGothicFB LightNarrow
TitlingGothicFB Narrow Medium
TitlingGothicFB StandardComp

***/

/* Begin @fontface declarations */
@font-face {
  font-family: 'biro_script_reducedregular';
  src: url('../fonts/biro/biro_script_reduced-webfont.eot');
  src: url('../fonts/biro/biro_script_reduced-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/biro/biro_script_reduced-webfont.woff2') format('woff2'),
       url('../fonts/biro/biro_script_reduced-webfont.woff') format('woff'),
       url('../fonts/biro/biro_script_reduced-webfont.ttf') format('truetype'),
       url('../fonts/biro/biro_script_reduced-webfont.svg#biro_script_reducedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'biro_script_plus_flatregular';
  src: url('../fonts/biro/biroscriptplusflat-webfont.eot');
  src: url('../fonts/biro/biroscriptplusflat-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/biro/biroscriptplusflat-webfont.woff2') format('woff2'),
       url('../fonts/biro/biroscriptplusflat-webfont.woff') format('woff'),
       url('../fonts/biro/biroscriptplusflat-webfont.ttf') format('truetype'),
       url('../fonts/biro/biroscriptplusflat-webfont.svg#biro_script_plus_flatregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitlingGothicFB LightNarrow';
  src: url('../fonts/titling-gothic/TitlingGothicFB-LightNarrow.eot');
  src: url('../fonts/titling-gothic/TitlingGothicFB-LightNarrow.eot?#iefix') format("embedded-opentype"),
    url('../fonts/titling-gothic/TitlingGothicFB-LightNarrow.woff2') format('woff2'),
    url('../fonts/titling-gothic/TitlingGothicFB-LightNarrow.woff') format('woff'),
    url('../fonts/titling-gothic/TitlingGothicFB-LightNarrow.ttf') format('truetype'),
    url('../fonts/titling-gothic/TitlingGothicFB-LightNarrow.svg#TitlingGothicFB-LightNarrow') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TitlingGothicFB Narrow Medium';
  src: url('../fonts/titling-gothic/TitlingGothicFBNar-Med.eot');
  src: url('../fonts/titling-gothic/TitlingGothicFBNar-Med.eot?#iefix') format("embedded-opentype"),
    url('../fonts/titling-gothic/TitlingGothicFBNar-Med.woff2') format('woff2'),
    url('../fonts/titling-gothic/TitlingGothicFBNar-Med.woff') format('woff'),
    url('../fonts/titling-gothic/TitlingGothicFBNar-Med.ttf') format('truetype'),
    url('../fonts/titling-gothic/TitlingGothicFBNar-Med.svg#TitlingGothicFBNar-Med') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TitlingGothicFB StandardComp';
  src: url('../fonts/titling-gothic/TitlingGothicFB-StandardComp_1.eot');
  src: url('../fonts/titling-gothic/TitlingGothicFB-StandardComp_1.eot?#iefix') format("embedded-opentype"),
    url('../fonts/titling-gothic/TitlingGothicFB-StandardComp_1.woff2') format('woff2'),
    url('../fonts/titling-gothic/TitlingGothicFB-StandardComp_1.woff') format('woff'),
    url('../fonts/titling-gothic/TitlingGothicFB-StandardComp_1.ttf') format('truetype'),
    url('../fonts/titling-gothic/TitlingGothicFB-StandardComp_1.svg#TitlingGothicFB-StandardComp_1') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* End @fontface declarations */


/* Begin Generic */
body{
  background: rgb(255,255,255);
}
a {
  color: rgb(0,104,179);
}
/* End Generic */


/* Begin links within a nested link collection */
.sidebar ul.nav li.nav-item.nav-dropdown.open a.nav-link:hover,.sidebar ul.nav li.nav-item.nav-dropdown.open li.nav-item.nav-dropdown.open .nav-link:hover {
  background-color: rgb(30, 134, 209) !important;
}
.sidebar ul.nav li.nav-item.nav-dropdown.open li.nav-item.nav-dropdown.open .nav-link {
  background-color: rgb(30, 134, 209) !important;
}
.sidebar ul.nav li.nav-item.nav-dropdown.open li.nav-item.nav-dropdown.open a.grandchild-link.nav-link {
  background-color: rgb(60, 164, 239) !important;
}
.sidebar ul.nav li.nav-item.nav-dropdown.open li.nav-item.nav-dropdown.open a.grandchild-link.nav-link:hover {
  background-color: rgb(76, 180, 255) !important;
}
.sidebar ul.nav li.nav-item a.nav-link.active {
  background: rgba(255,255,255,.25) !important;
}
.nav-item.open .parent-link {
  border-width:1px 0;
  border-style: solid;
  border-color: rgb(255,255,255);
}
.nav-item.dopdown-parent.open{
  border-bottom: 1px solid rgb(255,255,255);
}
.nav-dropdown-items .nav-item.nav-dropdown .child-link{
  border-width:1px 0 0;
  border-style: solid;
  border-color: rgba(255,255,255,.5);
}
.nav-dropdown-items .nav-item.nav-dropdown .child-link.only-child {
  border-bottom-width:1px;
}
.nav-dropdown-items .nav-item.nav-dropdown.open .child-link{
  border-width:1px 0;
  border-style: solid;
  border-color: rgba(255,255,255,.75);
}
/* End nested links collection */


/* Begin Home/Dashboard */
.card1{
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0,0,0,.075), -2px 2px 3px rgba(0,0,0,.075), -2px -2px 3px rgba(0,0,0,.075);
}
.data-substitle {
  font-size: .8em;
}
/* End Home/Dashboard */


/* Begin Graphs for Payout Chart */
.payout-chart-heading{
  font-family: "TitlingGothicFB StandardComp", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.66em;
}
/* .graph-item:nth-child(2n){
  background: rgb(240,240,240);
}
.graph-item:nth-child(2n+1){
  background: rgba(149,206,255,.6);
}
.graph-item.service-override, .legend.service-override{
  background-color: rgb(0,155,0);
  color: rgb(255,255,255);
}
.graph-item.magneti-marelli, .legend.magneti-marelli{
  background-color: rgb(155,0,155);
  color: rgb(255,255,255);
}
.graph-item.rebate-form, .legend.rebate-form{
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
} */
.graph-item-figure{
  text-align: right;
}
.graph-item-info {
  color: rgb(0,104,179);
  font-size: 20px;
}
.disclaimer.graph-disclaimer {
  text-transform: uppercase;
}
.disclaimer.graph-disclaimer {
  background: rgb(0,104,179);
  color: rgb(255,255,255);
}
.legend.qualifying-part-number{
  color: rgb(0,104,179);
  font-size: 20px;
}
.modal .btn.btn-secondary{
  background-color: rgb(230,230,230);
  border-color: rgb(173,173,173);
  color: rgb(56,64,66);
}
.payout-chart-home {
  color: rgb(255,255,255);
  font-family: "TitlingGothicFB StandardComp", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.payout-chart-home .payout-chart-subheading{
  font-family: "TitlingGothicFB StandardComp", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.33em;
}
.payout-chart-home-content{
  text-shadow: 3px 3px 3px rgba(0,0,0,.2), -3px 3px 3px rgba(0,0,0,.2), 3px -3px 3px rgba(0,0,0,.2);
}
.payout-chart-home .payout-chart-heading {
  font-size: 4.66em;
}
.payout-chart-home ul{
  list-style: none;
}
.payout-chart-home li {
  font-family: "TitlingGothicFB Narrow Medium";
  font-size: 1.8em;
  letter-spacing: 1.2px;
  text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}
/* End Payout Chart */


/* Begin Payout Chart Admin */
.admin-utility-bar {
  background: transparent;
  border-bottom: 2px solid rgb(102,102,102);
}
table#program-groups.table tbody tr td:last-child {
  text-align: center;
  vertical-align: middle;
}
.ui-tabview-nav li {
  background-color: rgb(0,104,179);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 1px solid rgb(218,218,218);
  border-right: 1px solid rgb(218,218,218);
  border-left: 1px solid rgb(218,218,218);
  color: rgb(255,255,255);
  font-size: 18px;
  font-weight: normal;
}
.ui-tabview-nav li a {
  color: rgb(255,255,255);
}
.ui-tabview-nav li.ui-state-active {
  background: rgb(242, 244, 248);
}
.ui-tabview-nav li.ui-state-active a {
  color: rgb(51,51,51);
}
.ui-state-active a {
  color: rgb(255,255,255);
  font-weight: bold;
}
.ui-tabview-panel {
  border: 1px solid rgb(218,218,218);
}
.label.override-element {
  border-radius: .25rem;
  color: rgb(255,255,255);
  font-size: 75%;
  font-weight: 700;
  line-height: 1.4;
  text-shadow: 1px 1px 1px rgba(0,0,0,.35);
  vertical-align: baseline;
}
.label.override-element.override {
  background-color: rgb(240,173,78);
}
.label.override-element.reward {
  background-color: #5cb85c;
}
.label.override-element .fa{
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;
}
/* End Payout Chart Admin */


/* Begin Marketing Presentation */
#playlist {
  background-color: rgb(239,239,239);
  border: 1px solid rgb(204,204,204);
}
#playlist a {
  background-color: rgb(255,255,255);
  border: 1px solid rgb(204,204,204);
  color: rgb(102,102,102);
  font: normal normal 11px/12px "bitstream vera sans", "lucida grande",verdana;
  text-decoration: none;
}
#playlist a:hover {
  background-color: rgb(255,255,204);
}
#playlist a.progress {
  background-color: rgb(239,239,239);
}
#playlist a.playing {
  background-color: rgb(255,255,204);
  border: 1px solid rgb(102,102,102);
}
#playlist a.paused {
  background-color: rgb(255,255,204);
  border: 1px solid rgb(102,102,102);
}
#playlist a img {
  border: 0;
}
#playlist a strong {
  color: rgb(0,0,0);
}
/* End Marketing Presentation */


/* Start Contact List */
.contact-list {
  list-style-image: none;
  list-style-type: none;
}
/* End Contact List */


/* Begin Rewards Distribution*/
.table th {
  background-color: rgb(179,223,255);
  font-family: "TitlingGothicFB StandardComp","Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: normal;
}
/* End Rewards Distribution */

@media (min-width: 576px) {
  .modal-header {
    background-color: rgb(0, 104, 179);
  }
  .modal-header .modal-title, .modal-header button.close {
    color: rgb(255,255,255);
  }
  .modal-footer {
    background: rgb(245,245,245);
  }
}
/* End Rewards Distribution */


/* Begin Dealer Enrollment */
.primeng-date-override input.datepicker-input{
  border: 1px solid rgb(206, 212, 218) !important;
  text-align: left !important;
}
.ui-dropdown .ui-dropdown-label{
  line-height: 1.25;
}
/* End Dealer Enrollment */


/* Begin Enrollment Maintenance */
.enrollment-button {
  background: none;
  border: none;
}
.enrollment-button i{
  font-size: 1.36rem;
}
.enrollment-button.edit {
  color: rgb(0,104,179);
}
.enrollment-button.cancel {
  color: rgb(155,0,0);
}
.enrollment-button.save {
  color: rgb(92,184,92);
}
.active-user{
  background: rgb(92,184,92);
  color: rgb(255,255,255);
  opacity: .875;
}
.active-user:hover {
  opacity: 1;
}
.ui-datatable .ui-datatable-data>tr>td{
  vertical-align: top;
}
.ui-datatable tbody > tr.ui-widget-content.ui-state-highlight {
  background: rgba(0,104,179,.125);
  color: rgb(0,0,0);
}
/* End Enrollment Maintenance */


/* Begin Report Center */
.report {
  list-style: none;
}
.report-iframe {
  border-width: 1px 0 0;
  border-style: solid;
  border-color: rgb(104,115,112);
}

.report-item-link{
  background-color: rgb(240,240,240);
  color: rgb(0,104,179);
  font-family: "TitlingGothicFB StandardComp","Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
  transition: background-color .667s;
}
.report-item-link:hover {
  background-color: rgb(230,230,230);
  text-decoration: none;
  transition: background-color .333s;
}
.report-item-link span {
  align-self: flex-start;
  background-color: rgb(0,104,179);
  color: rgb(255,255,255);
  justify-content: center;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,.25);
  transition: background-color .667s;
}
.report-item-link:hover span {
  background: rgba(0,104,179,.75);
  transition: background-color .333s;
}
.report-item-link i{
  color: rgba(0,0,0,.125);
  transition: color .333s, left .667s;
}
.report-item-link:hover i {
  color:rgba(0,104,179,.45);
  transition: color .333s, left .333s;
 }
/* End Report Center */


/* Begin Miscellaneous */
.modify-icon {
  font-size: 20px;
}
mser-cms{
  background-color: rgb(255,255,255);
}
#main-content {
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
  font: normal normal 12px/14px arial, helvetica, verdana, sans-serif;
}
#main-content p {
  line-height: normal;
}
#main-content a:link,
#main-content a:visited {
  color: rgb(2,69,179);
  text-decoration: underline;
}
#main-content a:hover,
#main-content a:focus {
  text-decoration: none;
}
#main-content h2, #main-content h3, #main-content strong, #main-content b {
  font-weight: bold;
}
/* End Miscellaneous */


/* Start Dropdowns */
.dropdown ul.dropdown-menu li:hover {
  background-color: rgb(152, 198, 247);
  color: rgb(51,51,51);
  transition-duration: 300ms;
  transition-property: background color;
  transition-timing-function: ease-out;
}
.dropdown ul.dropdown-menu li:hover a {
  color: rgb(51,51,51);
}
.dropdown ul.dropdown-menu li a:hover{
  color: rgb(51,51,51);
  text-decoration: none;
}
/* End Dropdowns */


/* Begin Buttons */
.btn {
  color: rgb(255,255,255);
  cursor: pointer;
  font-family: "TitlingGothicFB StandardComp","Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1;
  -webkit-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -khtml-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  transition-property: background color;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}


.ui-widget-header .ui-button, .ui-widget-content .ui-button, .ui-widget.ui-button, .ui-button {
  background: rgb(0,104,179);
}
.ui-button-icon-only .fa {
  left: auto;
  right: 0;
}


.ui-widget button, .ui-widget input[type="submit"] {
  font-family: "TitlingGothicFB StandardComp","Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
}
.btn-primary {
  background-color: rgb(0,104,179);
  border-color: rgb(0,104,179);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  color: rgb(255,255,255);
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background: rgb(0,89,153);
  border-color: rgb(0,89,153);
  color: rgb(255,255,255);
}
.header-btn {
  font-size: 14px;
  vertical-align: middle;
}
/* End Buttons */


/* Start Headings */
h1, h2, h3, h4, h5 {
  font-family: "TitlingGothicFB StandardComp","Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.25em;
}
h2 {
    font-size: 40px;
}
.introHeading h1 {
  color: rgb(0,104,179);
  font-family: "TitlingGothicFB StandardComp","Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 64px;
  font-weight: normal;
  line-height: 64px;
  letter-spacing: 1px;
}
.heading {
  border-bottom: 1px solid rgb(218,223,230);
  font-family: "TitlingGothicFB StandardComp","Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 1px;
}
.heading-line h1, .heading-line h2, .heading-line h3, .heading-line h4, .heading-line h5 {
  background: rgb(245,247,250);
}
.heading-line::after {
  background: rgb(227,231,237);
  content: '';
}
/* End Headings */


/* Begin Page Title */
.pageTitle {
  background-color: rgb(0,104,179);
  line-height: 100px;
}
.pageTitle .heading-xl {
  color: rgb(255,255,255);
  font-family: "TitlingGothicFB StandardComp","Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 45px;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}
/* End Page Title */


/* Begin Checklist */
.checklist {
  color: rgb(31,40,51);
  font-size: 14px;
  list-style-type: none;
}
.checklist li {
  line-height: 1.7;
}
.checklist li:before {
  content: "\f00c";
  font-family: FontAwesome;
}
/* End Checklist */


/* Begin Nav Menu */
.navMenu:before, .navMenu:after {
  content: " ";
  display: table;
}
.navMenu {
  display: block;
  float: left;
  height: 75px;
  line-height: 68px;
  margin-left: 20px;
  margin-top: 26px;
}
.navMenu .menuItem {
  float: left;
  position: relative;
}
.navMenu .menuItem .menuTarget {
  border-bottom: 3px solid rgb(255,255,255);
  border-top: 3px solid rgb(255,255,255);
  color: rgb(104,115,112);
  cursor: pointer;
  display: inline-block;
  height: 74px;
  font-family: "TitlingGothicFB StandardComp","Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight:500;
  letter-spacing: .5px;
  padding: 0 24px;
  transition: 300ms ease-out all;
}
.navMenu .menuItem .menuTarget:hover, .nav .navMenu .menuItem .menuTarget.active {
  border-bottom: 3px solid rgb(0,104,179);
  color: rgb(31,40,51);
}
.navbar .nav-item .nav-link.nav-pill.avatar {
  display: inline-block;
  margin: 10px 30px 10px 10px;
  position: relative;
  text-align: center;
}
/* End Nav Menu */


/* Begin Salutation */
.salutation {
  text-align: right;
  vertical-align: middle;
}
.salutation p {
  font-family: "TitlingGothicFB StandardComp","Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 17px;
  text-align: right;
}
.salutation p:first-child {
  font-weight: 400;
}
/* End Salutation */


/* Begin Footer */
.app-footer {
  background-color: rgb(91,103,112);
  color: rgb(255,255,255);
}
.footer-links {
  list-style-image: none;
  list-style-type: none;
}
.footer-logos {
  background-color: rgba(255,255,255,.15);
  border: 1px solid rgba(255,255,255,.35);
}
.footer-logo{
  background-color: rgba(255,255,255,.05);
  border: 1px solid rgba(255,255,255,.1);
  list-style: none;
}
.footer-item {
  list-style-type: none;
  text-align: -webkit-match-parent;
}
.footer-link {
  background-color: transparent;
  color: rgb(218,223,230);
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 300ms ease-out all;
}
.footer-link:hover {
  color: rgb(255,255,255);
  text-decoration:none;
}
.copyright-notice {
  font-family: "TitlingGothicFB StandardComp","Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: normal;
  text-align: center;
}
/* End Footer */


/* Begin Miscellaneous */
.fa.refresh-button {
  color: rgb(33, 150, 243);
  font-size: 31px;
}
p {
  line-height: 25px;
}
.copy {
  font-family: "TitlingGothicFB StandardComp","Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
}
.priority {
  font-family: "TitlingGothicFB StandardComp","Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: .5px;
  line-height: 25px;
  text-transform: none;
}
/* End Miscellaneous */
