/***
mser2-custome-style.css should be for structure (position, width, margin, etc)
***/

/* Begin links within a nested link collection */
.sidebar ul.nav li.nav-item.nav-dropdown.open li.nav-item.nav-dropdown.open a.grandchild-link.nav-link {
  padding-left: 3rem;
}
.sidebar ul.nav ul.nav-dropdown-items a.nav-link {
  padding-left: 2rem;
}
/* End nested links collection */

/* Begin Graphs for Payout Chart */
.graph{
  box-sizing: border-box;
  display: flex;
  margin: 25px 25px 25px 0;
  width:calc(100% - 35px);
}
.graph.graph-list{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding:0;
}
.graph-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 3px;
  position: relative;
  width:100%;
}
.graph-item-subject{
  width: 90%;
}
.graph-item-figure{
  padding-left: 10px;
  width:10%;
}
.graph-item-info {
  position: absolute;
  right: -22px;
}
.disclaimer {
  padding: 5px;
}
.legend{
  display: inline-block;
  height: 20px;
  width: 10px;
}
.legend.qualifying-part-number{
  display: inline;
}
.modal .part-numbers {
  list-style: none;
  margin: 0;
  padding: 0;
}
.modal .part-numbers li {
  float: left;
  padding: 0 5px;
}
.payout-chart-home {
  position: relative;
}
.payout-chart-home .home-logo{
  position: absolute;
  top:5%;
  left:5%;
  width: 40%;
}
.payout-chart-home-content{
  position:absolute;
  top: 15%;
  left: 45%;
  width: 45%;
}
.payout-chart-home .payout-chart-heading {
  margin-bottom: .02em;
}
.payout-chart-home .payout-chart-subheading{
  margin-bottom: .86em;
}
.payout-chart-home ul{
  margin: 2em 0 0;
  padding:0;
}
.payout-chart-home li {
  margin: 0 0 .66em 0;
}
.top-tech{
  position: relative;
}
.top-tech-logo{
  position: absolute;
  top: 159px;
  left: 75px;
  z-index: 9999;
}
.top-tech-technician {
  position: relative;
  top:0;
  left:0;
  z-index: 999;
}
.top-tech-content{
  position: absolute;
  top: 0;
  left: 298px;
}
.background-image{
  width: 100%;
}
/* End Graphs for Payout Chart */


/* Begin Payout Chart Admin */
#program-groups-select{
  width: 30%;
}
#program-groups-active{
  width: 10%;
}
#program-groups-program{
  width: 20%;
}
#program-groups-start-date{
  width: 15%;
}
#program-groups-end-date{
  width: 15%;
}
#program-groups-modify{
  width: 10%;
}
.admin-utility-bar {
  margin-bottom: 10px;
  padding: 5px 10px;
  width: 100%;
}
#part-number-category-form-quick-add {
  width: 500px;
}
.ui-tabview-nav {
  display: inline-block;
  list-style-image: none;
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: -2px;
  padding-left: 0;
}
.ui-tabview-nav li {
  display: inline-block;
  padding: 20px 25px;
  z-index: 1;
}
.ui-tabview-nav li a {
  cursor: default;
}
.ui-tabview-title {
  display: inline-block;
}
.ui-tabview-panel {
  padding: 20px;
  z-index: 999;
}
.show-this{
  display: block !important;
}
input.datepicker-input {
  padding: 0.5rem 0.75rem;
  width: 80% !important;
}
.label.override-element {
  margin:0;
  padding: 0.5rem;
  width: 100%;
}
.label.override-element span{
  float: left;
  display: block;
  width: calc(100% - 1.5rem);
}
.label.override-element .fa{
  float: right;
  margin: 0 3px;
}
#payout-chart-export{
  width: 760px;
  //if you change the width, make sure to change the corresponding value in downloadPDF() in admin-payout.component.ts
}
/* End Payout Chart Admin */


/* Begin Form Styles */
.pageForm .dropdown-toggle{
  width: 200px;
}
.pageForm{
  margin-bottom: 25px;
}
.pageForm label {
  width: 200px;
}
/*End Form Styles*/


/* Begin Marketing Presentation */
#playlist {
  float: left;
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100% !important;
}
#playlist a {
  display: block;
  height: 54px;
  margin: 9px 0px 0px 10px;
  padding: 5px;
  width: 85%;
}
#playlist a img {
  float: left;
  height: 50px;
  margin-right: 10px;
  width: 50px;
}
#playlist a strong {
  padding-bottom: 5px;
}
/* End Marketing Presentation */


/* Begin Rewards Distribution */
.rewards-program-container {
  box-sizing: border-box;
  margin: .24rem;
  overflow: hidden;
  padding: 0 1rem;
  width: 95%;
}
.table {
  margin-bottom: 1rem;
  box-sizing: border-box;
  float: none;
  margin: 0 .75rem 1rem .75rem;
  width: 99%;
}
.table .right-align{
  text-align: right;
  padding-right: .75rem;
}
.table .center-align {
  text-align: center;
}
.btn-container{
  overflow: hidden;
  padding-bottom: 1rem;
}
.allocation-history-link{
  margin: 1rem 0;
  display: block;
  width: 20%;
}
.dealership-identity {
  padding: .75rem;
}
#reward-program{}
#amount-to-be-distributed{}
#proceed-to-allocations,#mvp-proceed-to-allocations{
  width: 175px;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 65%;
  }
}
/* End Rewards Distribution */


/* Begin Dealer Enrollment */
.primeng-date-override {
  display: block;
}
.primeng-date-override .datepicker-input-container,.primeng-date-override .datepicker-container{
  display: block !important;
  width: 100%;
}
.primeng-date-override input.datepicker-input{
  width: calc(100% - 30px) !important;
}
.ui-dropdown{
  width: 100% !important;
}
.ui-dropdown .ui-dropdown-label{
  padding: 0.5rem 0.75rem;
}
/* End Dealer Enrollment */


/* Begin Enrollment Maintenance*/
.ui-datatable-resizable thead th span.ui-cell-data, .ui-datatable-resizable tbody td span.ui-cell-data, .ui-datatable-resizable tfoot td span.ui-cell-data {
    white-space: normal;
}
.enrollment-button-container{
  overflow: hidden;
  width: 100%;
}
.enrollment-button {
  float: left;
  padding: .16rem;
}
.enrollment-button.edit {
  float: none;
}
.active-user{
  padding: .36rem .72rem;
  position: fixed;
  top: 101px;
  right: 0;
  z-index: 9;
}
.ui-multiselect-panel .ui-multiselect-items-wrapper {
  overflow-y: scroll;
  max-height: 300px;
}
.minWidth {
    min-width: 300px;
}
.minWidth2 {
    min-width: 20%;
}
.ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-rpp-options {
  padding: 0 .5rem;
  min-width: 3rem;
}
.dealer-team-container{
  padding-bottom: 2rem;
}
.btn-container.open-dealer-team{
  padding-top: 1rem;
}
.btn-container .btn{
  margin:0 .24rem;
}
/* End Enrollment Maintenance*/


/* Begin Report Center */
.report-center h2 {
  padding-top: 1rem;
}
.report, .report-item, .report-item-link, .report-item-link span {
  display: flex;
}
.report-item, .report-item-link, .report-item-link span {
  flex-direction: row;
}
.report-item-link, .report-item-link, .report-item-link span {
  position: relative;
}
.report {
  margin: 0;
  padding: 0 0 1rem 0;
}
.report-item {
  margin: 0 1%;
  padding: 0;
  width: 16%;
}
.report-item:first-child {
  margin-left: 0;
}
.report-item-link{
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.report-item-link span {
  width: 100%;
}
.report-item-link i{
  position: absolute;
  bottom: 2%;
  left: 25%;
}
.report-item-link:hover i {
  left: 30%;
 }
/* End Report Center */


/* Start Contact List */
.contact-list {
  margin: 0;
  padding: 0;
}
.contact-list li{
  padding: 5px;
}
/* End Contact List */


/* Start Dropdowns */
.dropdown ul.dropdown-menu li{
  padding: 5px 10px;
}
.dropdown-menu-right.user-options{
  top: 20px;
}
/* End Dropdowns */


/* Begin Buttons */
.btn {
  display: block;
  margin-bottom: 10px;
  padding: 5px 15px;
  width: auto;
}
.btn-primary {
  display: inline-block;
}
.form-btns{
  margin-top:15px;
}
.header-buttons {
  height: 100%;
  padding: 36px 10px 10px 10px;
  width: auto;
}
.header-btn {
  height: 30px;
  padding: 0.5rem 1rem;
  width: auto;
}
/* End Buttons */

/* Start Headings */
h1, h2, h3, h4, h5 {
  margin: 0 0 12px 0;
}
.heading {
  padding: 20px 0;
}
.heading-line {
  position: relative;
  margin: 0 0 24px 0;
}
.heading-line h1, .heading-line h2, .heading-line h3, .heading-line h4, .heading-line h5 {
  display: inline-block;
  margin: 0;
  padding-right: 24px;
  position: relative;
  z-index: 2;
}
.heading-line::after {
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 1;
}
/* End Headings */


/* Begin Page Title */
.pageTitle {
  padding: 0;
}
.pageTitle .container {
  margin:0;
}
.pageTitle .heading-xl {
  display: inline-block;
  margin: 0;
}
/* End Page Title */


/* Begin Nav Menu */
.navMenu:before, .navMenu:after {
  display: table;
}
.navMenu {
  display: block;
  float: left;
  height: 75px;
  margin-left: 20px;
  margin-top: 26px;
}
.navMenu .menuItem {
  float: left;
  position: relative;
}
.navMenu .menuItem .menuTarget {
  display: inline-block;
  height: 74px;
  padding: 0 24px;
}
.navbar .nav-item .nav-link.nav-pill.avatar {
  display: inline-block;
  margin: 10px 30px 10px 10px;
  position: relative;
}
/* End Nav Menu */


/* Begin Salutation */
.salutation {
  display: inline-block;
  margin: 10px;
  position: relative;
}
.salutation p {
  margin: 0;
  padding: 0;
}
/* End Salutation */


/* Begin Footer */
.app-footer {
  display: block;
}

.footer-links {
  display: inline;
  margin: 0;
  padding: 15px;
}

.footer-item {
  box-sizing: border-box;
  display: inline-block;
  padding: 0;
  margin: 0 10px 5px 0;
}

.footer-link {
  display: block;
  margin: 0;
  padding: 0;
}
/* End Footer */

/* Begin Miscellaneous */
.fa.refresh-button {
  height: 35px;
  margin-top: .6em;
  margin-right: 1em;
  width: 35px;
}
.inline {
  display: inline-block !important ;
}
.visible-lg {
  display: block !important;
}
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}
p {
  margin-bottom: 24px;
}
.container {
  margin: 0 !important;
  width: 100% !important;
}
.body-container {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.dealercode .modal-dialog{
  height: 20%;
  margin: 30px auto;
  max-width: none;
  max-height: none;
  width: 40%;
}
.visible-print{
  display: none;
}
.refreshGlyphImg {
    height: 75px;
    position: fixed;
    /* or absolute */
    top: 50%;
    left: 50%;
    width: 75px;
}
.z-tabs>.z-container>.z-content.z-content-pad>.z-content-inner {
  padding-top: 10px;
}
#main-content {
  padding: 2em 0 0 2em;
}
/* End Miscellaneous */

@media print {
  body{
    background: rgb(255,255,255);
  }
  header.app-header{
    position: absolute !important;
  }
  .visible-print{
    display: block;
  }
  .z-content-pad.z-content{
    display: block !important;
  }
  header.navbar .navbar-brand {
    background-position-x: 1rem;
  }
  .z-tabs > ul, .z-tabs > ul > li > a, .z-tabs > .z-container {
    border: none !important;
  }
  .sidebar-fixed .sidebar .sidebar-nav, .navMenu .menuItem, .navbar-toggler.mobile-sidebar-toggler, app-footer, .z-tabs-nav{
    display: none !important;
  }
  .sidebar-fixed .main {
    margin: 0;
  }
  /* this resets the first character in each line from being misaligned with the rest of the word/sentence */
  a::first-letter,
  p::first-letter,
  div::first-letter,
  blockquote::first-letter,
  li::first-letter{
    vertical-align: text-top;
    margin-top: 0;
    padding-top: 0;
    line-height: initial;
  }
}
