
                                


<!DOCTYPE html>
<p>
	<strong><span style="font-size:16px;">Click on the links below to dowload details for the following MSER Marketing Programs:</span></strong></p>
<p>
	&nbsp;</p>
<p>
	<span style="font-size:16px;"><a href="/shared/imi-cms/MSER/docs/April%20FCA%20MasterCard%20Incentive%20Summary.pdf" target="_blank">FCA MasterCard&nbsp;April Incentive Summary</a> /&nbsp;<a href="/shared/imi-cms/MSER/docs/April%202017%20Incentive%20Program%20Rules.pdf" target="_blank">April Program Rules</a></span></p>
<p>
	<span style="font-size:16px;"><a><span style="font-size:16px;">FCA MasterCard Double</span></a></span><span style="font-size:16px;"><a href="/shared/imi-cms/MSER/docs/FCA%20MasterCard%202x%20In-dealership%20Rewards%202.28.17.pdf" target="_blank"> Points In Dealership</a></span></p>
<p>
	<a href="/shared/imi-cms/MSER/docs/$75%20Offer%20and%20October%20Incentive%20announcement.pdf"><span style="font-size:16px;">FCA MasterCard $75 Customer Bonus Offer </span></a></p>
<p>
	<a href="/shared/imi-cms/MSER/docs/FCA%20MasterCard%20Dealer%20Enrollment%20Agreements%208.31.2016.pdf"><span style="font-size:16px;">FCA MasterCard Dealer Enrollment Agreements</span></a></p>

                           
            




