<main class="main">
    <!-- Page Title -->
    <div class="page-title">
        <div class="pageTitle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <h1 class="heading-xl">
                            Vehicle Inspection Labor Operation Code Maintenance
                        </h1>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <a name="payoutchart"></a>

    <a name="dashboard"></a>
    <div class="container m-t-md body-container">
        <!-- First row -->

        <div class="row m-t-md">
            <div class="col-sm-12 col-md-12 col-lg-12">

                <article class="card animated fadeInUp">

                    <div class="card-block">
                        <div class="introHeading">
                            <h1></h1>
                        </div>
                        <div class="report-content" style="width: 90%;padding-left: 4%">
                            <p>
                                To qualify for Rewards, Repair Orders must contain one of the following inspection labor op codes:
                            </p>
                            <ul class="tight">
                                <li>90 (General Inspection)
                                    <li>9016 (16 Point Inspection)
                                        <li>9023 (23 Point Inspection)
                                            <li>9020 (Safety Check)
                                                <li>9025 (Seasonal Vehicle Inspection)
                            </ul>
                            <p>
                                In addition, the dealership may also use alternative inspection labor op codes. Enter any additional alternative inspection
                                labor op codes below. These alternative labor ops must be active for inspection in your business
                                system in order to earn rewards.
                            </p>
                        </div>

                        <div class="heading-line">

                        </div>

                        <div class="content-row row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="container">
                                    <div>
                                        <p style="color: red;">{{successOpcodeSetupMessage}}</p>
                                        <p style="color: red;">{{errorOpcodeSetupMessage}}</p>
                                    </div>
                                    <form class="form-inline"> 
                                        <div class="form-group">
                                            <label for="email">Add OpCode:</label>
                                            <input type="text" class="form-control" id="opcode" name="opcode" [(ngModel)]="addopcInterface.opCode" placeholder="Enter opcode"
                                                style="margin: 10px">
                                        </div>
                                        <button type="button" class="" style="margin: 10px" (click)="addOpCode()">Add</button>
                                    </form>
                                </div>
                                <div>
                                    <button style="float: right" type="button" class="btn btn-primary btn-sm" (click)="switchOpcodeTable()">{{tableName}}</button>
                                    <br>
                                </div>
                                <hr>
                                <div>
                                    <p style="color:red;">{{switchstatusmessage}}</p>
                                </div>
                                <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
                                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                    <input #gb type="text" pInputText size="50" placeholder="Search">
                                </div>

                                <p-dataTable #activetable [value]="opcodesetupData" *ngIf="activeopcode" selectionMode="single" (onRowSelect)="onRowSelect($event)"
                                    [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,30]" [globalFilter]="gb">
                                    <p-header>
                                        <div class="ui-helper-clearfix">
                                            <button type="button" pButton icon="fa-file-o" iconPos="left" label="Export to EXCEL" (click)="activetable.exportCSV()" style="float:left"></button>
                                        </div>
                                    </p-header>
                                    <p-column field="opCode" header="Op Code" [sortable]="true" [style]="{'text-align':'left'}"></p-column>
                                    <!-- <p-column field="createdDate" header="Created Date" [sortable]="true"></p-column> -->
                                    <p-column field="createdDate" header="Date" [style]="{'text-align':'right'}">
                                        <ng-template let-col let-car="rowData" pTemplate="body">
                                            <span>{{car.createdDate | date: 'MM/dd/yyyy'}}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column header="Action" [style]="{'text-align':'center'}">
                                        <ng-template pTemplate type="header" let-file="rowData">
                                            <button type="button" class="btn btn-primary btn-sm" (click)="inactivateOpCode(file.id)">Deactivate</button>
                                        </ng-template>
                                    </p-column>
                                </p-dataTable>

                        
                                <p-dataTable #inactivetable [value]="inactiveOpcodesetupData" *ngIf="inactiveopcode" selectionMode="single" (onRowSelect)="onRowSelect($event)"
                                    [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,30]" [globalFilter]="gb">
                                    <p-header>
                                        <div class="ui-helper-clearfix">
                                            <button type="button" pButton icon="fa-file-o" iconPos="left" label="Export to EXCEL" (click)="inactivetable.exportCSV()"
                                                style="float:left"></button>
                                        </div>
                                    </p-header>
                                    <p-column field="opCode" header="Op Code" [sortable]="true" [style]="{'text-align':'left'}"></p-column>
                                    <!-- <p-column field="updatedDate" header="Updated Date" [sortable]="true"></p-column> -->
                                    <p-column field="updatedDate" header="Date" [style]="{'text-align':'right'}">
                                        <ng-template let-col let-car="rowData" pTemplate="body">
                                            <span>{{car.updatedDate | date: 'MM/dd/yyyy'}}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column header="Action" [style]="{'text-align':'center'}">
                                        <ng-template pTemplate type="header" let-file="rowData">
                                            <button type="button" class="btn btn-primary btn-sm" (click)="activateOpCode(file.id)">Activate</button>
                                        </ng-template>
                                    </p-column>
                                </p-dataTable>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

        </div>
        <!-- .end FIRST row -->
    </div>
    <style>
        .form-control {
            display: initial !important;
        }
    </style>
</main>