<div class="center">
  <h2>NAT - National </h2>
</div>

<table style="margin:0 auto;width:50%;" cellpadding="0">
  <tr>
    <td>
      <form id="opCodeForm" action="findOpCode.do" method="post">
        <table>
          <tr>
            <td>Find OpCode:</td>
            <td><input id="findOpCode" name="findOpCode" class="inset-form-element" type="text" value="" size="6" /></td>
            <td>&nbsp;<input type="submit" name="action" value="Find" /></td>
          </tr>
        </table>
        <p class="error"></p>
      </form>
    </td>
    <td>
      <form id="opCodeForm" action="addOpCode.do" method="post">
        <table>
          <tr>
            <td>Add OpCode:</td>
            <td><input id="newOpCode" name="newOpCode" class="inset-form-element" type="text" value="" size="6" /></td>
            <td>&nbsp;



              <input type="submit" name="action" value="Add" />


            </td>
          </tr>
        </table>
        <p class="error"></p>
      </form>
    </td>
  </tr>
</table>