<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-title text-center">
          <span>Dashboard</span>
        </li>
        <li class="nav-item"><a class="nav-link" routerLink="payoutchart"><i class="icon-info"></i>Payout Chart<span class="badge badge-info">NEW</span></a></li>
        <li class="nav-item"><a class="nav-link" routerLink="home"><i class="icon-speedometer"></i> Dashboard </a></li>
        <li class="nav-item"><a class="nav-link" routerLink="adminpayout"><i class="icon-speedometer"></i> Admin Payout </a></li>
        <li class="divider"></li>
        <li class="nav-title text-center">
          <span>Resources</span>
        </li>
        <li class="nav-item nav-dropdown">
          <a class="nav-link nav-dropdown-toggle" style="cursor: pointer"><i class="icon-user-following"></i> Enrollment </a>
          <ul class="nav-dropdown-items">
            <li class="nav-item"><a class="nav-link" [routerLink]="['cmsrouter', {'cmsPage': 'mserRules', 'pdf':'false'}]"><i class="icon-puzzle"></i>MSER Rules</a></li>
            <li class="nav-item"><a class="nav-link" href="/shared/imi-cms/MSER/webDocs/MSER_Enrollment_Form.pdf" target="_blank"><i class="icon-puzzle"></i>Enrollment Form</a></li>
            <li class="nav-item"><a class="nav-link" href="/shared/imi-cms/MSER/webDocs/2016MSER_AutomaticEnrollment_Optout_Form.pdf" target="_blank"><i class="icon-puzzle"></i>Automatic Enrollment Opt Out Form </a></li>
            <li class="nav-item"><a class="nav-link"><i class="icon-puzzle"></i>Enrollment Report</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="enrollmentmaintenance"><i class="icon-puzzle"></i>Enrollment Maintenance</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="opcodesetup"><i class="icon-puzzle"></i>OP Code Setup</a></li>
            <!--<li class="nav-item"><a class="nav-link" routerLink="payoutedistribution"><i class="icon-puzzle"></i>Payout ReDistribution</a></li>-->
            <!--<li class="nav-item"><a class="nav-link" [routerLink]="['cmsrouter', {'cmsPage': 'MSER_Enrollment_Form.pdf', 'pdf':'true'}]" target="_blank"><i class="icon-puzzle"></i>Enrollment Form</a></li>-->
          </ul>
        </li>
        <li class="nav-item nav-dropdown">
          <a class="nav-link nav-dropdown-toggle" style="cursor: pointer"><i class="icon-star"></i>Marketing</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item"><a class="nav-link" [routerLink]="['cmsrouter', {'cmsPage': 'homeMaintenanceRebates', 'pdf':'false'}]"><i class="icon-puzzle"></i>Home</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['cmsrouter', {'cmsPage': 'recallRewards', 'pdf':'false'}]"><i class="icon-puzzle"></i>Recall Reward Rules</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['cmsrouter', {'cmsPage': 'MarketingPrograms', 'pdf':'false'}]"><i class="icon-puzzle"></i>Marketing Programs</a></li>
            <!--<li class="nav-item"><a class="nav-link"><i class="icon-puzzle"></i>Training</a></li>-->
            <li class="nav-item"><a class="nav-link" routerLink="marketingtrainingpresentation"><i class="icon-puzzle"></i>Training > Videos & Presentations</a></li>
            <li class="nav-item"><a class="nav-link" href="/shared/imi-cms/MSER/webDocs/Full_Deck_v2.pdf" target="_blank"><i class="icon-puzzle"></i>Training > Service Lane Sales Training</a></li>
            <!-- <li class="nav-item"><a class="nav-link" href="/shared/imi-cms/MSER/webDocs/Parts-Counter-StepxStep.pdf" target="_blank"><i class="icon-puzzle"></i>Training > Parts Counter Set up</a></li> -->
            <!--<li class="nav-item"><a class="nav-link" [routerLink]="['cmsrouter', {'cmsPage': 'Full_Deck_v2.pdf', 'pdf':'true'}]" target="_blank"><i class="icon-puzzle"></i>Service Lane Sales Training</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['cmsrouter', {'cmsPage': 'Final Parts Counter StepxStep.pdf', 'pdf':'true'}]" target="_blank"><i class="icon-puzzle"></i>Parts Counter Set up</a></li>
          -->
          </ul>
        </li>
        <li class="nav-item nav-dropdown">
          <a class="nav-link nav-dropdown-toggle"><i class="icon-graph"></i>Reports</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item"><a class="nav-link"><i class="icon-puzzle"></i>MSER</a></li>
            <li class="nav-item"><a class="nav-link"><i class="icon-puzzle"></i>BC Reports</a></li>
            <li class="nav-item"><a class="nav-link"><i class="icon-puzzle"></i>BOOST</a></li>
            <li class="nav-item"><a class="nav-link"><i class="icon-puzzle"></i>Parts</a></li>
            <li class="nav-item"><a class="nav-link"><i class="icon-puzzle"></i>Accessories</a></li>
            <li class="nav-item"><a class="nav-link"><i class="icon-puzzle"></i>MVP</a></li>
            <li class="nav-item"><a class="nav-link"><i class="icon-puzzle"></i>Express Lane</a></li>
            <li class="nav-item"><a class="nav-link"><i class="icon-puzzle"></i>Parts Counter</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" routerLink="partslookuppage"><i class="icon-badge"></i>Parts Lookup</a></li>
        <li class="nav-item nav-dropdown">
          <a class="nav-link nav-dropdown-toggle" style="cursor: pointer"><i class="icon-star"></i>MVP</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item"><a class="nav-link"><i class="icon-puzzle"></i>Home</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['cmsrouter', {'cmsPage': 'serviceLaneReward', 'pdf':'false'}]"><i class="icon-puzzle"></i>MVP Rules</a></li>
            <!--<li class="nav-item"><a class="nav-link" [routerLink]="['cmsrouter', {'cmsPage': 'serviceLaneMaintenance', 'pdf':'false'}]"><i class="icon-puzzle"></i>Approve MVP Plans</a></li>-->
            <li class="nav-item"><a class="nav-link" [routerLink]="['cmsrouter', {'cmsPage': 'mvpAutoApprove', 'pdf':'false'}]"><i class="icon-puzzle"></i>Change Approval Settings</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="mvp"><i class="icon-puzzle"></i>Videos & Presentations </a></li>
          </ul>
        </li>
        <!--<li class="nav-item"><a class="nav-link"><i class="icon-badge"></i>MSER</a></li>
        <li class="nav-item"><a class="nav-link"><i class="icon-graph"></i>BC Reports</a></li>
        <li class="nav-item"><a class="nav-link"><i class="icon-doc"></i>BOOST</a></li>-->
        <li class="nav-item nav-dropdown">
          <a class="nav-link nav-dropdown-toggle" style="cursor: pointer"><i class="icon-star"></i>Express Lane</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item"><a class="nav-link"><i class="icon-puzzle"></i>Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="dealerteam"><i class="icon-puzzle"></i>Dealer Team</a></li>
            <!--<li class="nav-item"><a class="nav-link"><i class="icon-puzzle"></i>Rewards Re-Distribution</a></li>-->
            <!--<li class="nav-item"><a class="nav-link" [routerLink]="['cmsrouter', {'cmsPage': 'mvpAutoApprove', 'pdf':'false'}]"><i class="icon-puzzle"></i>Change Approval Settings</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="mvp"><i class="icon-puzzle"></i>Videos</a></li>-->
          </ul>
        </li>
        <li class="nav-item nav-dropdown">
          <a class="nav-link nav-dropdown-toggle" style="cursor: pointer"><i class="icon-star"></i>Parts Counter</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item"><a class="nav-link"><i class="icon-puzzle"></i>Home</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['cmsrouter', {'cmsPage': 'partsCounterRules', 'pdf':'false'}]"><i class="icon-puzzle"></i>Rules</a></li>
            <!--<li class="nav-item"><a class="nav-link" routerLink="partsCounterRewardsDistribution"><i class="icon-puzzle"></i>Rewards Distribution</a></li>-->
            <!--<li class="nav-item"><a class="nav-link"><i class="icon-puzzle"></i>Rewards Re-Distribution</a></li>-->
            <li class="nav-item"><a class="nav-link" href="/shared/imi-cms/MSER/webDocs/Parts-Counter-StepxStep.pdf" target="_blank"><i class="icon-puzzle"></i>Parts Counter Set up</a></li>
            <li class="nav-item"><a class="nav-link"><i class="icon-puzzle"></i>Rejected Invoice Details</a></li>

            <!--<li class="nav-item"><a class="nav-link" [routerLink]="['cmsrouter', {'cmsPage': 'mvpAutoApprove', 'pdf':'false'}]"><i class="icon-puzzle"></i>Change Approval Settings</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="mvp"><i class="icon-puzzle"></i>Videos</a></li>-->
          </ul>
        </li>

        <li class="nav-item"><a class="nav-link" [routerLink]="['cmsrouter', {'cmsPage': 'consumerRebates', 'pdf':'false'}]"><i class="icon-doc"></i>Consumer Rebates</a></li>
        <!--<li class="nav-item"><a class="nav-link"><i class="icon-doc"></i>Upfits</a></li>-->

        <li class="nav-item nav-dropdown">
          <a class="nav-link nav-dropdown-toggle" style="cursor: pointer"><i class="icon-star"></i>Warranty Program</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item"><a class="nav-link" [routerLink]="['cmsrouter', {'cmsPage': 'warrantyProgramRules', 'pdf':'false'}]"><i class="icon-puzzle"></i>Program Rules</a></li>
            <li class="nav-item"><a class="nav-link"><i class="icon-puzzle"></i>Warranty Rewards Program Report</a></li>

          </ul>
        </li>
        <li class="nav-item nav-dropdown">
          <a class="nav-link nav-dropdown-toggle" style="cursor: pointer"><i class="icon-star"></i>UConnect</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item"><a class="nav-link" [routerLink]="['cmsrouter', {'cmsPage': 'uconnectHomePage', 'pdf':'false'}]"><i class="icon-puzzle"></i>Home</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['cmsrouter', {'cmsPage': 'uconnectSMIncentive', 'pdf':'false'}]"><i class="icon-puzzle"></i>Rules > SM Incentive Program Rules</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['cmsrouter', {'cmsPage': 'uconnectServiceRules', 'pdf':'false'}]"><i class="icon-puzzle"></i>Rules > Service Program Rule</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['cmsrouter', {'cmsPage': 'uconnectSalesRules', 'pdf':'false'}]"><i class="icon-puzzle"></i>Rules > Sales Program Rule</a></li>
            <li class="nav-item"><a class="nav-link"><i class="icon-puzzle"></i>Reports</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="uconnectvideos"  ><i class="icon-puzzle"></i>Videos & Presentations</a></li>
            <li class="nav-item"><a class="nav-link" href="/shared/imi-cms/MSER/webDocs/UconnectNavigationGuide.pdf" target="_blank"><i class="icon-puzzle"></i>Uconnect Navigation Activation Process</a></li>
            <!--<li class="nav-item"><a class="nav-link" [routerLink]="['cmsrouter', {'cmsPage': 'siriusXMRules', 'pdf':'false'}]"><i class="icon-puzzle"></i>Sirius XM Activation > Rule</a></li>
            <li class="nav-item"><a class="nav-link" ><i class="icon-puzzle"></i>Sirius XM Activation > Report</a></li>-->
          </ul>
        </li>

        <li class="nav-item nav-dropdown">
          <a class="nav-link nav-dropdown-toggle" style="cursor: pointer"><i class="icon-star"></i>Service Incentive Rewards</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item"><a class="nav-link" [routerLink]="['cmsrouter', {'cmsPage': 'SIRHome', 'pdf':'false'}]"><i class="icon-puzzle"></i>Home</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['cmsrouter', {'cmsPage': 'SIRProgramRules', 'pdf':'false'}]"><i class="icon-puzzle"></i>Program Rules</a></li>
            <li class="nav-item"><a class="nav-link" href="/shared/imi-cms/MSER/webDocs/Top10WinnersFrom2016.pdf" target="_blank"><i class="icon-puzzle"></i>Top Earning Advisors:Total 2016 Payouts </a></li>

          </ul>
        </li>
        <li class="nav-item nav-dropdown">
          <a class="nav-link nav-dropdown-toggle" style="cursor: pointer"><i class="icon-star"></i>Used Recon</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item"><a class="nav-link" [routerLink]="['cmsrouter', {'cmsPage': 'uvmHome', 'pdf':'false'}]"><i class="icon-puzzle"></i>Home</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['cmsrouter', {'cmsPage': 'uvmProgramRules', 'pdf':'false'}]"><i class="icon-puzzle"></i>Program Rules</a></li>
            <!--<li class="nav-item"><a class="nav-link"><i class="icon-puzzle"></i>Reward Re-Distribution </a></li>-->

          </ul>
        </li>

        <li class="nav-item nav-dropdown">
          <a class="nav-link nav-dropdown-toggle" style="cursor: pointer"><i class="icon-star"></i>Excellence Card</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item"><a class="nav-link" href="/shared/imi-cms/MSER/webDocs/ExcellenceCardIssuanceSchedule.pdf" target="_blank"><i class="icon-puzzle"></i>2016 Excellence Card Issuance Schedule</a></li>
            <li class="nav-item"><a class="nav-link" href="/shared/imi-cms/MSER/webDocs/VISA%20CAROUSEL%20LINK.pdf" target="_blank"><i class="icon-puzzle"></i>Excellence Card Information</a></li>
          </ul>
        </li>

        <li class="nav-item nav-dropdown">
          <a class="nav-link nav-dropdown-toggle" style="cursor: pointer"><i class="icon-star"></i>Rewards Distribution</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item"><a class="nav-link" routerLink="partsCounterRewardsDistribution"><i class="icon-puzzle"></i>Rewards Distribution</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="payoutedistribution"><i class="icon-puzzle"></i>Rewards Re-Distribution</a></li>
          </ul>
        </li>

        <li class="nav-item"><a class="nav-link"><i class="icon-doc"></i></a></li>
        <li class="nav-item"><a class="nav-link"><i class="icon-doc"></i>MVP</a></li>
        <li class="nav-item"></li>

        <!--<li class="nav-item nav-dropdown">
          <a class="nav-link nav-dropdown-toggle" style="cursor: pointer"><i class="icon-star"></i>Warranty Program</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item"><a class="nav-link" [routerLink]="['cmsrouter', {'cmsPage': 'warrantyProgramRules', 'pdf':'false'}]"><i class="icon-puzzle"></i>Program Rules</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['cmsrouter', {'cmsPage': 'partsCounterRules', 'pdf':'false'}]"><i class="icon-puzzle"></i>Warranty Rewards Program Report</a></li>

          </ul>
        </li>-->



      </ul>
    </nav>
  </div>
</div>