<main class="main">

  <!-- Page Title -->
  <div class="page-title">
    <div class="pageTitle">
      <div class="container">
        <div class="row">

          <div class="col-sm-12 col-md-12">
            <h1 class="heading-xl">
              Contact Us
            </h1>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Breadcrumb -->
  <ol class="breadcrumb mb-0">
    <!--<li class="breadcrumb-item active"><a href="#">Contact Us</a></li>-->
  </ol>

  <a name="payoutchart"></a>

  <a name="dashboard"></a>
  <div class="container m-t-md body-container">
    <!-- First row -->

    <div class="row m-t-md">
      <div class="col-sm-12 col-md-12 col-lg-12">

        <article class="card animated fadeInUp">

          <div class="card-block">
            <!--<div class="introHeading">
                  <h1>Admin Dashboard</h1>
                </div>-->
            <div class="heading-line">
              <!--<h2>Contact Us</h2>-->
            </div>

            <div class="content-row row">
              <div class="col-sm-12 col-md-6 col-lg-6">

                <form class="pageForm">

                  <ul class="contact-list">
                    <li><i class="fa fa-envelope-o"></i> <a href="mailto:info@moparser.com" style="text-decoration: underline;"> info@moparser.com </a></li>

                    <li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:8669096737" style="text-decoration: underline;"> (866)-909-MSER(6737)</a></li>
                    <li><i class="fa fa-fax"></i> 844-673-7329 (844-MSER-FAX)</li>
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> 21238 Bridge Street <br> Southfield, MI, 48033
                    </li>

                  </ul>

                </form>
              </div>

              <div class="col-sm-12 col-md-6 col-lg-6">
                <form class="pageForm" #textMsgOptionForm="ngForm" novalidate (ngSubmit)="textMessageOption()">
                  <h5>Sign up to Receive Text Messages</h5>
                  <p style="color: red; margin-bottom: auto; margin-left: 205px;">{{errorAgreeTermsAndCondition}} </p>
                  <p style="color: red; margin-bottom: auto; margin-left: 205px;">{{errorSID}}</p>
                  <p style="color: red; margin-bottom: auto; margin-left: 205px;">{{errorMobileNumber}}</p>
                  <p style="color: red; margin-bottom: auto; margin-left: 205px;">{{successPasswordChangedMessage}} </p>
                  <br>
                  <label>Enter your SID/TID:</label>
                  <input type="text" id="sidEntry" minlength="7" maxlength="7" name="sidEntry" [(ngModel)]="textMsgOption.sid" />
                  <br />
                  <label>Enter your mobile number:</label>
                  <input type="text" id="mobileNumber" name="mobileNumber" [(ngModel)]="textMsgOption.mobileNumber" />
                  <br />

                  <p><input type="checkbox" id="agree" name="agree" [(ngModel)]="textMsgOption.agreeTermsAndCondition" /> I
                    would like to receive text messages, and agree to the <a href="//bit.ly/1RsweNh" target="_blank">Terms of Service </a>                    &amp; <a href="//bit.ly/1RsweNh" target="_blank">Privacy Policy</a></p>

                  <button type="submit" class="btn btn-info btn-sm">Sign Me Up!</button>
                </form>

              </div>

              <!--<form class="pageForm" #textMsgOptionForm="ngForm" novalidate (ngSubmit)="textMessageOption()">
                                    <h5>Sign up to receive text messages</h5>
                                    <p style="color: red; margin-bottom: auto; margin-left: 205px;">{{errorAgreeTermsAndCondition}} <br> {{errorSID}} <br> {{errorMobileNumber}}</p>

                                    <label>Enter your SID</label>
                                    <input type="text" id="sidEntry" name="sidEntry" [(ngModel)]="textMsgOption.sid"/>
                                    <br />
                                    <label>Enter your mobile number</label>
                                    <input type="text" id="mobileNumber" name="mobileNumber" [(ngModel)]="textMsgOption.mobileNumber"/>
                                    <br />

                                    <p><input type="checkbox" id="agree" name="agree" [(ngModel)]="textMsgOption.agreeTermsAndCondition"/> I would like to receive text messages, and agree to the
                                        <a href="#">Terms of Service </a> &amp; <a href="#">Privacy Policy</a></p>

                                    <button type="submit" class="btn btn-info btn-sm">Sign Me Up!</button>
                                </form>-->

            </div>
          </div>
        </article>
      </div>

    </div>
    <!-- .end FIRST row -->
  </div>
</main>