<main class="main">
  <div class="page-title">
    <div class="pageTitle">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="heading-xl">
              Reward Re-Distribution
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showActiveProgram" class="active-user" id="active-user">The Active Program is:
    <strong id="participant-id">{{activeProgram}}</strong>
  </div>

  <!-- Begin  Dealer Input Field -->
  <!-- <div class="row rewards-program-container"> -->
  <br>
  <br>
  <div class="content-row row">
    <div class="col-sm-12">
      <form>
        <div class="form-group row">
          <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <label for="dealer-code" style="font-weight: bold">Dealer Code :</label>

            <input id="dealer-code" name="dealer-code" type="text" required [(ngModel)]="dealerCode" (ngModelChange)="hideValidationDiv()"
              minlength="5" maxlength="5" pattern="[0-9]{5}" #dealercode="ngModel" />


            <div [hidden]=" validDealerCode" class="alert alert-danger">
              Valid Dealercode is required
            </div>
            <br>
            <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all pull-right" (click)="submitDealerCode(dealerCode)">Submit</button>

          </div>
        </div>

      </form>
    </div>
  </div>

  <!-- End Dealer Input Field -->



  <!-- Begin Proceed to Re-Allocations Table -->
  <div class="row rewards-program-container" *ngIf="showAllocationDiv">
    <table class="table table-bordered table-striped col-sm-12" role="grid">
      <thead>
        <tr>
          <th id="reward-program" scope="col" role="columnheader">Program</th>
          <th class="right-align" id="amount-to-be-distributed" scope="col" role="columnheader">Amount Available To Re-Distribute</th>
          <th id="proceed-to-re-allocations" scope="col" role="columnheader">
            <span class="hide-me">Proceed To Re-Allocations</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- begin ng-if -->
        <tr>
          <td headers="reward-program" role="gridcell">Express Lane</td>
          <td class="right-align" headers="amount-to-be-distributed" role="gridcell">{{allocationTableData.el | currency:'USD':true:'1.2-2'}}</td>
          <td class="center-align" headers="proceed-to-re-allocations" role="gridcell">
            <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all" data-toggle="collapse" href="#elDistributionTable"
              aria-expanded="false" aria-controls="elDistributionTable" [disabled]="disableelButton" (click)="elProceedToAllocation()">Proceed To Re-Allocations
              <i class="fa fa-arrow-right"></i>
            </button>
          </td>
        </tr>
        <!-- end ng-if   -->
        <tr>
          <td headers="reward-program" role="gridcell">Parts Counter</td>
          <td class="right-align" headers="amount-to-be-distributed" role="gridcell">{{allocationTableData.pc | currency:'USD':true:'1.2-2'}}</td>
          <td class="center-align" headers="proceed-to-re-allocations" role="gridcell">
            <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all" data-toggle="collapse" href="#pcDistributionTable"
              aria-expanded="false" aria-controls="pcDistributionTable" [disabled]="disablepcButton" (click)="pcProceedToAllocation()">Proceed To Re-Allocations
              <i class="fa fa-arrow-right"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td headers="reward-program" role="gridcell">Used Recon</td>
          <td class="right-align" headers="amount-to-be-distributed" role="gridcell">{{allocationTableData.ur | currency:'USD':true:'1.2-2'}}</td>
          <td class="center-align" headers="proceed-to-re-allocations" role="gridcell">
            <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all" data-toggle="collapse" href="#urDistributionTable"
              aria-expanded="false" aria-controls="urDistributionTable" [disabled]="disableurButton" (click)="urProceedToAllocation()">Proceed To Re-Allocations
              <i class="fa fa-arrow-right"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td headers="reward-program" role="gridcell">Payout Re-Distribution</td>
          <td class="right-align" headers="amount-to-be-distributed" role="gridcell">{{allocationTableData.payout | currency:'USD':true:'1.2-2'}}</td>
          <td class="center-align" headers="proceed-to-re-allocations" role="gridcell">
            <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all" data-toggle="collapse" href="#payoutTable"
              aria-expanded="false" aria-controls="payoutTable" [disabled]="disablepayoutButton" (click)="payoutProceedToAllocation()">Proceed To Re-Allocations
              <i class="fa fa-arrow-right"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- End Proceed to Re-Allocations Table -->
  <div smoothScroll offset="0" id="displayError">
    <p style="color:red">{{msg}}</p>
  </div>
  <!-- Begin Express Lane, Parts Counter, and Used Recon sections -->
  <!-- Begin Express Lane -->
  <div class="row rewards-program-container">

    <!-- Begin Distribution Collapsible -->
    <div class="collapse col-sm-12" id="elDistributionTable" *ngIf="hideELSection">

      <div class="row">
        <div class="col-sm-12">
          <a class="allocation-history-link" href="#" data-toggle="modal" data-target="#elAllocationHistoryModal" (click)="getDistributionHistoryData('el')">
            <strong>View Allocation History</strong>
            <i class="fa fa-clone"></i>
          </a>
        </div>
        <!-- Begin Distribution Table --> 
        <table class="table table-bordered table-striped col-sm-12" role="grid">
          <thead>
            <tr>
              <th class="right-align" id="re-allocation-distributed-date" role="columnheader" scope="col">Distributed Date</th>
              <th class="right-align" id="re-allocation-reward-amount" role="columnheader" scope="col">Reward Amount</th>
              <th class="right-align" id="re-allocation-distributed-amount" role="columnheader" scope="col">Distributed Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let elAllocData of elAllocationDataa">
              <td class="right-align" headers="re-allocation-distributed-date" role="gridcell">
                <a data-toggle="collapse" href="#elParticipantTable" aria-expanded="false" aria-controls="elParticipantTable" (click)="openPCRedistributionTable(elAllocData.allocationID, 'el')">
                  <i class="fa fa-clone"></i> {{elAllocData.date | date:"MM/dd/yyyy" }}</a>
              </td>
              <td class="right-align" headers="re-allocation-reward-amount" role="gridcell">{{elAllocData.amount | currency:'USD':true:'1.2-2'}}</td>
              <td class="right-align" headers="re-allocation-distributed-amount" role="gridcell">
                <a class="" href="#elDistributedAmountModal" data-toggle="modal" data-target="#elDistributedAmountModal" (click)="openELHistory(elAllocData.allocationID)">{{elAllocData.amount | currency:'USD':true:'1.2-2'}}</a>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- End Distribution Table -->

        <!-- Begin Participant Collapsible -->
        <div class="collapse col-sm-12" id="elParticipantTable" [hidden]="hideelParticipantTable">
          <div class="row">
            <!-- Begin Participant Table -->

            <table class="table table-bordered table-striped col-sm-12" role="grid" id="elAllocationTable">
              <thead>
                <tr>
                  <th class="" id="allocation-participants" role="columnheader" scope="col">Participant (SID)</th>
                  <th class="right-align" id="allocation-participant-distributed-amount" role="columnheader" scope="col">Distributed Amount</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let data of participantDataValue">
                  <td class="" headers="allocation-participants" role="gridcell">
                    <p-dropdown appendTo="body" [options]="participantsOptions" name="sid" required [(ngModel)]="data.item2" placeholder="Select an SID"
                      filter="filter" [style]="{'width':'100%', 'overflow':'visible'}" #sid="ngModel" (onChange)="selectedParticipant(data.item2)"></p-dropdown>
                  </td>
                  <td class="right-align" headers="allocation-participant-distributed-amount" role="gridcell">
                    <input class="form-control right-align" id="distributed-amount-2" name="distributedAmount" [(ngModel)]="data.value" type="text"
                    />
                  </td>
                </tr>

              </tbody>
            </table>

            <!-- End Participant Table -->

            <div class="col-sm-12 btn-container">
              <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all pull-left " data-toggle="modal" data-target="#elRedistributeconfirmationModal">Re-Distribute</button>
              <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all pull-right" data-toggle="modal" data-target="#elCancelationModal">Cancel</button>
              <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all pull-right" data-toggle="modal" data-target="#elSubmitConfirmationModal">Submit</button>
              <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all pull-right" data-toggle="modal" data-target="#elClearationModal">Clear</button>
            </div>
          </div>
        </div>
        <!-- End Partipant Collapsible -->

      </div>
    </div>
    <!-- End Distribution Collapsible -->

  </div>
  <!-- End Express Lane -->

  <!-- Begin Parts Counter -->
  <div class="row rewards-program-container">

    <!-- Begin Distribution Collapsible -->
    <div class="collapse col-sm-12" id="pcDistributionTable" *ngIf="hidePCSection">
      <div class="row">
        <div class="col-sm-12">
          <a class="allocation-history-link" href="#" data-toggle="modal" data-target="#pcAllocationHistoryModal" (click)="getDistributionHistoryData('pc')">
            <strong>View Allocation History</strong>
            <i class="fa fa-clone"></i>
          </a>
        </div>
        <!-- Begin Distribution Table -->
        <table class="table table-bordered table-striped col-sm-12" role="grid">
          <thead>
            <tr>
              <th class="right-align" id="re-allocation-distributed-date" role="columnheader" scope="col">Distributed Date</th>
              <th class="right-align" id="re-allocation-reward-amount" role="columnheader" scope="col">Reward Amount</th>
              <th class="right-align" id="re-allocation-distributed-amount" role="columnheader" scope="col">Distributed Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pcAllocData of pcAllocationDataa">
              <td class="right-align" headers="re-allocation-distributed-date" role="gridcell">
                <a data-toggle="collapse" href="#pcParticipantTable" aria-expanded="false" aria-controls="pcParticipantTable" (click)="openPCRedistributionTable(pcAllocData.allocationID, 'pc')"
                  style="text-decoration: underline">
                  <i class="fa fa-clone"></i> {{pcAllocData.date | date:"MM/dd/yyyy"}}</a>
              </td>
              <td class="right-align" headers="re-allocation-reward-amount" role="gridcell">{{pcAllocData.amount | currency:'USD':true:'1.2-2'}}</td>
              <td class="right-align" headers="re-allocation-distributed-amount" role="gridcell">
                <a class="" href="#pcDistributedAmountModal" data-toggle="modal" data-target="#pcDistributedAmountModal" (click)="openPCHistory(pcAllocData.allocationID)"
                  style="text-decoration: underline">{{pcAllocData.amount | currency:'USD':true:'1.2-2'}}</a>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- End Distribution Table -->

        <!-- Begin Participant Collapsible -->
        <div class="collapse col-sm-12" id="pcParticipantTable" [hidden]="hidepcParticipantTable">
          <div class="row">
            <!-- Begin Participant Table -->

            <table class="table table-bordered table-striped col-sm-12" role="grid" id="pcAllocationTable">
              <thead>
                <tr>
                  <th class="" id="allocation-participants" role="columnheader" scope="col">Participant (SID)</th>
                  <th class="right-align" id="allocation-participant-distributed-amount" role="columnheader" scope="col">Distributed Amount</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let data of participantDataValue">
                  <td class="" headers="allocation-participants" role="gridcell">
                    <p-dropdown appendTo="body" [options]="participantsOptions" name="sid" required [(ngModel)]="data.item2" placeholder="Select an SID"
                      filter="filter" [style]="{'width':'100%', 'overflow':'visible'}" #sid="ngModel" (onChange)="selectedParticipant(data.item2)"></p-dropdown>
                  </td>
                  <td class="right-align" headers="allocation-participant-distributed-amount" role="gridcell">
                    <input class="form-control right-align" id="distributed-amount-2" name="distributedAmount" [(ngModel)]="data.value" type="number"
                    />
                  </td>
                </tr>
              </tbody>
            </table>

            <!-- End Participant Table -->

            <div class="col-sm-12 btn-container">
              <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all pull-left " data-toggle="modal" data-target="#pcRedistributeconfirmationModal">Re-Distribute</button>
              <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all pull-right" data-toggle="modal" data-target="#pcCancelationModal">Cancel</button>
              <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all pull-right" data-toggle="modal" data-target="#pcSubmitConfirmationModal">Submit</button>
              <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all pull-right" data-toggle="modal" data-target="#pcClearationModal">Clear</button>
            </div>
          </div>
        </div>
        <!-- End Partipant Collapsible -->

      </div>
    </div>
    <!-- End Distribution Collapsible -->

  </div>
  <!-- End Parts Counter -->

  <!-- Begin Used Recon -->
  <div class="row rewards-program-container">

    <!-- Begin Distribution Collapsible -->
    <div class="collapse col-sm-12" id="urDistributionTable" *ngIf="hideURSection">
      <div class="row">
        <div class="col-sm-12">
          <a class="allocation-history-link" href="#" data-toggle="modal" data-target="#urAllocationHistoryModal" (click)="getDistributionHistoryData('ur')">
            <strong>View Allocation History</strong>
            <i class="fa fa-clone"></i>
          </a>
        </div>
        <!-- Begin Distribution Table -->
        <table class="table table-bordered table-striped col-sm-12" role="grid">
          <thead>
            <tr>
              <th class="right-align" id="re-allocation-distributed-date" role="columnheader" scope="col">Distributed Date</th>
              <th class="right-align" id="re-allocation-reward-amount" role="columnheader" scope="col">Reward Amount</th>
              <th class="right-align" id="re-allocation-distributed-amount" role="columnheader" scope="col">Distributed Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let urAllocData of urAllocationDataa">
              <td class="right-align" headers="re-allocation-distributed-date" role="gridcell">
                <a data-toggle="collapse" href="#urParticipantTable" aria-expanded="false" aria-controls="urParticipantTable" (click)="openPCRedistributionTable(urAllocData.allocationID, 'ur')"
                  style="text-decoration: underline">
                  <i class="fa fa-clone"></i> {{urAllocData.date | date:"MM/dd/yyyy"}}</a>
              </td>
              <td class="right-align" headers="re-allocation-reward-amount" role="gridcell">{{urAllocData.amount | currency:'USD':true:'1.2-2'}}</td>
              <td class="right-align" headers="re-allocation-distributed-amount" role="gridcell">
                <a class="" href="#urDistributedAmountModal" data-toggle="modal" data-target="#urDistributedAmountModal" (click)="openURHistory(urAllocData.allocationID)"
                  style="text-decoration: underline">{{urAllocData.amount | currency:'USD':true:'1.2-2'}}</a>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- End Distribution Table -->

        <!-- Begin Participant Collapsible -->
        <div class="collapse col-sm-12" id="urParticipantTable" [hidden]="hideurParticipantTable">
          <div class="row">
            <!-- Begin Participant Table -->

            <table class="table table-bordered table-striped col-sm-12" role="grid" id="urAllocationTable">
              <thead>
                <tr>
                  <th class="" id="allocation-participants" role="columnheader" scope="col">Participant (SID)</th>
                  <th class="right-align" id="allocation-participant-distributed-amount" role="columnheader" scope="col">Distributed Amount</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let data of participantDataValue">
                  <td class="" headers="allocation-participants" role="gridcell">
                    <p-dropdown appendTo="body" [options]="participantsOptions" name="sid" required [(ngModel)]="data.item2" placeholder="Select an SID"
                      filter="filter" [style]="{'width':'100%', 'overflow':'visible'}" #sid="ngModel" (onChange)="selectedParticipant(data.item2)"></p-dropdown>
                  </td>
                  <td class="right-align" headers="allocation-participant-distributed-amount" role="gridcell">
                    <input class="form-control right-align" id="distributed-amount-2" name="distributedAmount" [(ngModel)]="data.value" type="number"
                    />
                  </td>
                </tr>

              </tbody>
            </table>

            <!-- End Participant Table -->

            <div class="col-sm-12 btn-container">
              <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all pull-left " data-toggle="modal" data-target="#urRedistributeconfirmationModal">Re-Distribute</button>
              <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all pull-right" data-toggle="modal" data-target="#urCancelationModal">Cancel</button>
              <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all pull-right" data-toggle="modal" data-target="#urSubmitConfirmationModal">Submit</button>
              <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all pull-right" data-toggle="modal" data-target="#urClearationModal">Clear</button>
            </div>
          </div>
        </div>
        <!-- End Partipant Collapsible -->

      </div>
    </div>
    <!-- End Distribution Collapsible -->

  </div>
  <!-- End Used Recon -->
  <!-- End Express Lane, Parts Counter, and Used Recon sections -->

  <!-- Begin Payout Re-Distribution -->
  <div class="row rewards-program-container">

    <!-- Begin Payout Collapsible -->
    <div class="collapse col-sm-12" id="payoutTable" *ngIf="hidePayoutSection">
      <div class="row">
        <!-- Begin Dealer Table -->
        <table class="table table-bordered table-striped col-sm-12" role="grid">
          <thead>
            <tr>
              <th class="" id="payout-dealer-code" role="columnheader" scope="col">Dealer Code</th>
              <th class="" id="payout-category-description" role="columnheader" scope="col">Category Description</th>
              <th class="right-align" id="payout-period" role="columnheader" scope="col">Payout Period</th>
              <th class="right-align" id="payout-reward-amount" role="columnheader" scope="col">Reward Amount</th>
              <th class="right-align" id="payout-rejected-amount" role="columnheader" scope="col">Rejected Amount</th>
            </tr>
          </thead>
          <tbody>
            <!-- begin ng-if -->
            <tr *ngFor="let data of payoutGroupedData">
              <td class="" headers="payout-dealer-code" role="gridcell">
                <a data-toggle="collapse" href="#participantTablePayout" aria-expanded="false" aria-controls="participantTablePayout" (click)="createRODetails(data.description)"
                  style="text-decoration: underline">{{insertedDealercode}}</a>
              </td>
              <td class="" headers="payout-category-description" role="gridcell">{{data.description}}</td>
              <td class="right-align" headers="payout-period" role="gridcell">{{data.payoutPeriod | date:"MM/dd/yyyy"}}</td>
              <td class="right-align" headers="payout-reward-amount" role="gridcell">{{data.totalRewardAmount | currency:'USD':true:'1.2-2'}}</td>
              <td class="right-align" headers="payout-rejected-amount" role="gridcell">{{data.rejectedAmount | currency:'USD':true:'1.2-2'}}</td>
            </tr>
            <!-- end ng-if -->

          </tbody>
        </table>
        <!-- End Dealer Table -->

        <!-- Begin Payout Participant Collapsible -->
        <div class="collapse col-sm-12" id="participantTablePayout" *ngIf="!hidePayoutDistributionTable">
          <div class="row">
            <!-- Begin Participant Table -->
            <table class="table table-bordered table-striped col-sm-12" role="grid">
              <thead>
                <tr>
                  <th class="" id="re-allocate-dealer-sid" role="columnheader" scope="col">SID</th>
                  <th class="" id="re-allocate-dealer-ro-num" role="columnheader" scope="col">RO Number</th>
                  <th class="" id="re-allocate-dealer-part-num" role="columnheader" scope="col">Part Number</th>
                  <th class="" id="re-allocate-dealer-labor-seq" role="columnheader" scope="col">Labor Seq</th>
                  <th class="" id="re-allocate-dealer-part-seq" role="columnheader" scope="col">Part Seq</th>
                  <th class="" id="re-allocate-dealer-quantity" role="columnheader" scope="col">Quantity</th>
                  <th class="right-align" id="re-allocate-dealer-reward-amount" role="columnheader" scope="col">Reward Amount</th>
                  <th class="" id="re-allocate-dealer-status" role="columnheader" scope="col">Status</th>
                  <th class="" id="re-allocate-dealer-approved" role="columnheader" scope="col">Approved?
                    <br>
                    <p-checkbox label="" [(ngModel)]="approveAllpayout" (onChange)="approveAllPayoutRedistribution(approveAllpayout)" binary="true"></p-checkbox>
                  </th>
                </tr>
              </thead>
              <tbody>
                <!-- begin ng-if -->
                <tr *ngFor="let data of sortedRODetails">
                  <td *ngIf="!data.disable" class="" headers="re-allocate-dealer-sid" role="gridcell">
                    <p-dropdown appendTo="body" [options]="participantsOptions" name="sid" required [(ngModel)]="data.sid" [disabled]="data.disable"
                      filter="filter" [style]="{'width':'100%', 'overflow':'visible'}" #sid="ngModel" (onChange)="payoutSelectedSID(data.sid)">
                    </p-dropdown>
                  </td>
                  <td *ngIf="data.disable" class="" headers="re-allocate-dealer-ro-num" role="gridcell">{{data.sid}}</td>
                  <td class="" headers="re-allocate-dealer-ro-num" role="gridcell">{{data.ronumber}}</td>
                  <td class="" headers="re-allocate-dealer-part-num" role="gridcell">{{data.partNumber}}</td>
                  <td class="" headers="re-allocate-dealer-labor-seq" role="gridcell">{{data.laborSeq}}</td>
                  <td class="" headers="re-allocate-dealer-part-seq" role="gridcell">{{data.partSeq}}</td>
                  <td class="" headers="re-allocate-dealer-quantity" role="gridcell">{{data.quantity}}</td>
                  <td class="right-align" headers="re-allocate-dealer-reward-amount" role="gridcell">{{data.rewardAmount | currency:'USD':true:'1.2-2'}}</td>
                  <td class="" headers="re-allocate-dealer-status" role="gridcell">{{data.status}}</td>
                  <td class="" headers="re-allocate-dealer-approved" role="gridcell">
                    <!-- <select class="form-control" id="">
                      <option valu="">Yes</option>
                    </select> -->
                    <p-checkbox [(ngModel)]="data.checked" [disabled]="data.disable" binary="true"></p-checkbox>
                  </td>
                </tr>
                <!-- end ng-if -->

              </tbody>
            </table>
            <!-- End Participant Table -->

            <div class="col-sm-12 btn-container">
              <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all pull-right" data-toggle="modal" data-target="#payoutCancelationModal">Cancel Changes</button>
              <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all pull-right" data-toggle="modal" data-target="#payoutSubmitConfirmationModal">Save Changes
                <i class="fa fa-check"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- End Payout Participant Collapsible -->

      </div>
    </div>
    <!-- End Payout Collapsible -->

  </div>
  <!-- End Payout Re-Distribution -->
</main>

<!-- Confirmation Modal -->
<!-- The message for the modal body changes depending on the action the user has taken.  i.e. If they want to cancel, ask them if they want to cancel. -->

<!-- Begin EL Confirmation Modal -->
<div class="modal fade" id="elRedistributeconfirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="confirmationModalLabel">Are you sure you want to continue?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You are about to save changes to the rewards available to this dealership. Are you sure you want to continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" [scrollTo]="'displayError'" class="btn btn-primary" data-dismiss="modal" (click)="redistributeAmount()">Yes, Continue</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No, Take Me Back</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="elCancelationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="confirmationModalLabel">Are you sure you want to continue?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You are about to cancel changes. Are you sure you want to continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="pcCancelationModal()">Yes, Continue</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No, Take Me Back</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="elClearationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="confirmationModalLabel">Are you sure you want to continue?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You are about to clear changes. Are you sure you want to continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="clearationAllModal()">Yes, Continue</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No, Take Me Back</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="elSubmitConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="confirmationModalLabel">Are you sure you want to continue?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You are about to save changes to the rewards available to this dealership. Are you sure you want to continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" [scrollTo]="'displayError'" class="btn btn-primary" data-dismiss="modal" (click)="savePCRedistributionData()">Yes, Continue</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No, Take Me Back</button>
      </div>
    </div>
  </div>
</div>
<!-- End EL Confirmation Modal -->

<!-- Begin PC Confirmation Modal -->
<div class="modal fade" id="pcRedistributeconfirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="confirmationModalLabel">Are you sure you want to continue?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You are about to save changes to the rewards available to this dealership. Are you sure you want to continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" [scrollTo]="'displayError'" class="btn btn-primary" data-dismiss="modal" (click)="redistributeAmount()">Yes, Continue</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No, Take Me Back</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="pcCancelationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="confirmationModalLabel">Are you sure you want to continue?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You are about to cancel changes to the rewards available to this dealership. Are you sure you want to continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="pcCancelationModal()">Yes, Continue</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No, Take Me Back</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="pcClearationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="confirmationModalLabel">Are you sure you want to continue?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You are about to clear changes. Are you sure you want to continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="clearationAllModal()">Yes, Continue</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No, Take Me Back</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="pcSubmitConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="confirmationModalLabel">Are you sure you want to continue?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You are about to save changes to the rewards available to this dealership. Are you sure you want to continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" [scrollTo]="'displayError'" class="btn btn-primary" data-dismiss="modal" (click)="savePCRedistributionData()">Yes, Continue</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No, Take Me Back</button>
      </div>
    </div>
  </div>
</div>
<!-- End PC Confirmation Modal -->

<!-- Begin UR Confirmation Modal -->
<div class="modal fade" id="urRedistributeconfirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="confirmationModalLabel">Are you sure you want to continue?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You are about to save changes to the rewards available to this dealership. Are you sure you want to continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" [scrollTo]="'displayError'" class="btn btn-primary" data-dismiss="modal" (click)="redistributeAmount()">Yes, Continue</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No, Take Me Back</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="urCancelationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="confirmationModalLabel">Are you sure you want to continue?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You are about to cancel changes. Are you sure you want to continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" [scrollTo]="'displayError'" class="btn btn-primary" data-dismiss="modal" (click)="pcCancelationModal()">Yes, Continue</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No, Take Me Back</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="urClearationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="confirmationModalLabel">Are you sure you want to continue?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You are about to clear changes. Are you sure you want to continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" [scrollTo]="'displayError'" class="btn btn-primary" data-dismiss="modal" (click)="clearationAllModal()">Yes, Continue</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No, Take Me Back</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="urSubmitConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="confirmationModalLabel">Are you sure you want to continue?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You are about to save changes to the rewards available to this dealership. Are you sure you want to continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" [scrollTo]="'displayError'" class="btn btn-primary" data-dismiss="modal" (click)="savePCRedistributionData()">Yes, Continue</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No, Take Me Back</button>
      </div>
    </div>
  </div>
</div>
<!-- End UR Confirmation Modal -->

<!-- Begin Payout Confirmation Modal -->

<div class="modal fade" id="payoutCancelationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="confirmationModalLabel">Are you sure you want to continue?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You are about to cancel changes. Are you sure you want to continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" [scrollTo]="'displayError'" class="btn btn-primary" data-dismiss="modal" (click)="payoutCancelationModal()">Yes, Continue</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No, Take Me Back</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="payoutSubmitConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="confirmationModalLabel">Are you sure you want to continue?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You are about to save changes to the rewards available to this dealership. Are you sure you want to continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" [scrollTo]="'displayError'" class="btn btn-primary" data-dismiss="modal" (click)="savePayoutRedistributionData()">Yes, Continue</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No, Take Me Back</button>
      </div>
    </div>
  </div>
</div>
<!-- End Payout Confirmation Modal -->


<!-- End Confirmation Modal -->

<!-- Begin Allocation History Modal -->
<div class="modal fade" id="elAllocationHistoryModal" tabindex="-1" role="dialog" aria-labelledby="allocationHistoryModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="allocationHistoryModalLabel">Allocation History</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped" role="grid">
          <thead>
            <tr>
              <th class="" id="allocation-history-recipient" role="columnheader" scope="col">Recipient</th>
              <th class="right-align" id="allocation-history-amount" role="columnheader" scope="col">Amount</th>
              <th class="right-align" id="allocation-history-date" role="columnheader" scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <!-- begin ng-if -->
            <tr *ngFor="let dat of elRedistributionDataResponse">
              <td class="" headers="allocation-history-recipient" role="gridcell">{{dat.firstName + " " + dat.lastName}}</td>
              <td class="right-align" headers="allocation-history-amount" role="gridcell">{{dat.amount | currency:'USD':true:'1.2-2'}}</td>
              <td class="right-align" headers="allocation-history-date" role="gridcell">{{dat.updatedDate | date:"MM/dd/yyyy"}}</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="pcAllocationHistoryModal" tabindex="-1" role="dialog" aria-labelledby="allocationHistoryModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="allocationHistoryModalLabel">Allocation History</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped" role="grid">
          <thead>
            <tr>
              <th class="" id="allocation-history-recipient" role="columnheader" scope="col">Recipient</th>
              <th class="right-align" id="allocation-history-amount" role="columnheader" scope="col">Amount</th>
              <th class="right-align" id="allocation-history-date" role="columnheader" scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <!-- begin ng-if -->
            <tr *ngFor="let dat of pCRedistributionDataResponse">
              <td class="" headers="allocation-history-recipient" role="gridcell">{{dat.firstName + " " + dat.lastName}}</td>
              <td class="right-align" headers="allocation-history-amount" role="gridcell">{{dat.amount | currency:'USD':true:'1.2-2'}}</td>
              <td class="right-align" headers="allocation-history-date" role="gridcell">{{dat.updatedDate | date:"MM/dd/yyyy"}}</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="urAllocationHistoryModal" tabindex="-1" role="dialog" aria-labelledby="allocationHistoryModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="allocationHistoryModalLabel">Allocation History</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped" role="grid">
          <thead>
            <tr>
              <th class="" id="allocation-history-recipient" role="columnheader" scope="col">Recipient</th>
              <th class="right-align" id="allocation-history-amount" role="columnheader" scope="col">Amount</th>
              <th class="right-align" id="allocation-history-date" role="columnheader" scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <!-- begin ng-if -->
            <tr *ngFor="let dat of uRRedistributionDataResponse">
              <td class="" headers="allocation-history-recipient" role="gridcell">{{dat.firstName + " " + dat.lastName}}</td>
              <td class="right-align" headers="allocation-history-amount" role="gridcell">{{dat.amount | currency:'USD':true:'1.2-2'}}</td>
              <td class="right-align" headers="allocation-history-date" role="gridcell">{{dat.updatedDate | date:"MM/dd/yyyy"}}</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End Allocation History Modal -->

<!-- Begin Distributed Amount Modal -->

<div class="modal fade" id="elDistributedAmountModal" tabindex="-1" role="dialog" aria-labelledby="pcDistributedAmountModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="pcDistributedAmountModalLabel">Express Lane Distributed Participants</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped" role="grid">
          <thead>
            <tr>
              <th class="" id="re-allocation-history-sid" role="columnheader" scope="col">Participant (SID)</th>
              <th class="" id="re-allocation-history-name" role="columnheader" scope="col">Participant Name</th>
              <th class="right-align" id="re-allocation-history-distributed-amount" role="columnheader" scope="col">Distributed Amount</th>
              <th class="" id="re-allocation-history-distributed-by" role="columnheader" scope="col">Distributed By</th>
              <th class="right-align" id="re-allocation-history-distributed-date" role="columnheader" scope="col">Distributed Date</th>
              <!-- <th class="right-align" id="re-allocation-history-expected-payment-date" role="columnheader" scope="col">Expected Payment Date</th> -->
            </tr>
          </thead>
          <tbody>
            <!-- begin ng-if -->
            <tr *ngFor="let data of elHistoryData">
              <td class="" headers="re-allocation-history-sid" role="gridcell">{{data.sid}}</td>
              <td class="" headers="re-allocation-history-name" role="gridcell">{{data.firstName + " " + data.lastName}} </td>
              <td class="right-align" headers="re-allocation-history-distributed-amount" role="gridcell">{{data.amount | currency:'USD':true:'1.2-2'}}</td>
              <td class="" headers="re-allocation-history-distributed-by" role="gridcell">{{data.updatedBy}}</td>
              <td class="right-align" headers="re-allocation-history-distributed-date" role="gridcell">{{data.updatedDate | date:"MM/dd/yyyy"}}</td>
              <!-- <td class="right-align" headers="re-allocation-history-distributed-expected-payment-amount" role="gridcell">08/14/2017</td> -->
            </tr>
            <!-- end ng-if -->
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="pcDistributedAmountModal" tabindex="-1" role="dialog" aria-labelledby="pcDistributedAmountModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="pcDistributedAmountModalLabel">Parts Counter Distributed Participants </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped" role="grid">
          <thead>
            <tr>
              <th class="" id="re-allocation-history-sid" role="columnheader" scope="col">Participant (SID)</th>
              <th class="" id="re-allocation-history-name" role="columnheader" scope="col">Participant Name</th>
              <th class="right-align" id="re-allocation-history-distributed-amount" role="columnheader" scope="col">Distributed Amount</th>
              <th class="" id="re-allocation-history-distributed-by" role="columnheader" scope="col">Distributed By</th>
              <th class="right-align" id="re-allocation-history-distributed-date" role="columnheader" scope="col">Distributed Date</th>
              <!-- <th class="right-align" id="re-allocation-history-expected-payment-date" role="columnheader" scope="col">Expected Payment Date</th> -->
            </tr>
          </thead>
          <tbody>
            <!-- begin ng-if -->
            <tr *ngFor="let data of pcHistoryData">
              <td class="" headers="re-allocation-history-sid" role="gridcell">{{data.sid}}</td>
              <td class="" headers="re-allocation-history-name" role="gridcell">{{data.firstName + " " + data.lastName}} </td>
              <td class="right-align" headers="re-allocation-history-distributed-amount" role="gridcell">{{data.amount | currency:'USD':true:'1.2-2'}}</td>
              <td class="" headers="re-allocation-history-distributed-by" role="gridcell">{{data.updatedBy}}</td>
              <td class="right-align" headers="re-allocation-history-distributed-date" role="gridcell">{{data.updatedDate | date:"MM/dd/yyyy"}}</td>
              <!-- <td class="right-align" headers="re-allocation-history-distributed-expected-payment-amount" role="gridcell">08/14/2017</td> -->
            </tr>
            <!-- end ng-if -->
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="urDistributedAmountModal" tabindex="-1" role="dialog" aria-labelledby="pcDistributedAmountModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="pcDistributedAmountModalLabel">UVM Distributed Participants </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped" role="grid">
          <thead>
            <tr>
              <th class="" id="re-allocation-history-sid" role="columnheader" scope="col">Participant (SID)</th>
              <th class="" id="re-allocation-history-name" role="columnheader" scope="col">Participant Name</th>
              <th class="right-align" id="re-allocation-history-distributed-amount" role="columnheader" scope="col">Distributed Amount</th>
              <th class="" id="re-allocation-history-distributed-by" role="columnheader" scope="col">Distributed By</th>
              <th class="right-align" id="re-allocation-history-distributed-date" role="columnheader" scope="col">Distributed Date</th>
              <!-- <th class="right-align" id="re-allocation-history-expected-payment-date" role="columnheader" scope="col">Expected Payment Date</th> -->
            </tr>
          </thead>
          <tbody>
            <!-- begin ng-if -->
            <tr *ngFor="let data of urHistoryData">
              <td class="" headers="re-allocation-history-sid" role="gridcell">{{data.sid}}</td>
              <td class="" headers="re-allocation-history-name" role="gridcell">{{data.firstName + " " + data.lastName}} </td>
              <td class="right-align" headers="re-allocation-history-distributed-amount" role="gridcell">{{data.amount | currency:'USD':true:'1.2-2'}}</td>
              <td class="" headers="re-allocation-history-distributed-by" role="gridcell">{{data.updatedBy}}</td>
              <td class="right-align" headers="re-allocation-history-distributed-date" role="gridcell">{{data.updatedDate | date:"MM/dd/yyyy"}}</td>
              <!-- <td class="right-align" headers="re-allocation-history-distributed-expected-payment-amount" role="gridcell">08/14/2017</td> -->
            </tr>
            <!-- end ng-if -->
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- End Distributed Amount Modal -->