<div id="main-content" style="width: 96%;padding-left: 2%">
  <div>
    <p align="LEFT">
      <u><span style="font-size:18px;"><strong>Q2 2017 April - Rewards of Note</strong></span></u>
    </p>
    <p align="LEFT">
      <span style="font-size:16px;">April will be showering down a <strong>20% Override on all parts (excluding Uconnect and MVP) for Parts and Service Managers!</strong></span></p>
    <p align="LEFT">
      <span style="font-size:16px;">Take advantage and make sure your teams are set up for success.</span></p>
    <p align="LEFT">
      <span style="font-size:16px;"><strong>New&nbsp;Spiff Alert:</strong> <a href="/shared/imi-cms/MSER/docs/April%202017%20Ram%20Trailer%20Hitches%20Part%20Numbers.pdf" target="_blank">RAM Trailer Hitches</a> are on the menu for Advisors, Technicians and Parts Personnel.</span></p>
    <p>
      <span style="font-size:16px;"><strong>Payout Increase:</strong>&nbsp;Service Techs, the reward for engines has been revved up to $15! <a href="/shared/imi-cms/MSER/docs/April%202017%20Engines%20Part%20Numbers.pdf" target="_blank">Click here for part listings</a>.</span></p>
    <p>
      &nbsp;</p>
    <p>
      <u><span style="font-size:18px;"><strong>Pothole Promo</strong></span></u>
    </p>
    <p align="LEFT">
      <span style="font-size:16px;">Take advantage of the &quot;not so smooth&quot; road conditions and bump up your earnings with April&#39;s Pothole Parts Promotion. Service Advisors and Technicians can earn $1 for every part sold. We&#39;ve kept it simple, focusing on our biggest winners. <a href="/shared/imi-cms/MSER/docs/April%202017%20Pot%20Hole%20Promo%20Part%20Numbers.pdf" target="_blank">Click here for eligible part listing</a>.</span></p>
    <p style="margin: 0in 0in 0pt; line-height: normal;">
      &nbsp;</p>
    <p>
      &nbsp;</p>
    <p>
      <strong><u><span style="font-size:18px;"><span style="font-family:arial,helvetica,sans-serif;">MSER Used Recon Promotion Has Been Enhanced!</span></span></u></strong></p>
    <p>
      <span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">Used Vehicle Managers, Used Sales Personnel, Parts Managers, and Technicians can earn rewards on Beam Blades and Magneti Marelli parts used on vehicles being traded in or reconitioned for sale. Be sure to indicate the labor OP code <strong>UCRMSER1 </strong>on the invoice for the part to be counted!</span></span>
    </p>
    <p>
      <span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">In addition to adding cash to your &quot;Rewarding Excellence</span></span>
      <span style="font-size:11px;"><sup>&reg; </sup></span><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">Visa<span style="font-size:11px;"><sup>&reg; </sup></span>Prepaid
      Card&quot; for using featured Magneti Marelli parts to recondition used vehicles, <a href="/shared/imi-cms/MSER/docs/Nav%20Activation%20User%20Guide%20Final%202.28.17.pdf"
        target="_blank">you can now add $10 for each Uconnect activation</a> you perform on a trade-in! </span>
      </span>
      </span>
      </span>
    </p>
    <p>
      <span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">View the rules on the Used Recon tab for complete details.</span></span>
      </span>
      </span>
    </p>
    <p>
      <span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>New for April: </strong><a href="/shared/imi-cms/MSER/docs/April%202017%20Spare%20Tire%20Kits%20Part%20Numbers.pdf" target="_blank">Spare Tire Kits</a> and <a href="/shared/imi-cms/MSER/docs/April%202017%20Ben%20Liner%20Part%20Numbers.pdf" target="_blank">Bed Liners</a> bring big earning potential at $20.</span></span>
      </span>
      </span>
    </p>
    <p>
      &nbsp;</p>
    <p>
      <em><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">*Dealers using Reynolds and Reynolds DMS must use OP code <strong>01UCRM </strong>to qualify for payouts.</span></span></em></p>
    <p>
      &nbsp;</p>
    <p>
      &nbsp;</p>
    <p>
      <img alt="" src="/shared/imi-cms/MSER/images/wiADVISOR_Banner.png" style="width: 600px; height: 85px;" /></p>
    <p>
      &nbsp;</p>
    <p>
      <span style="font-size:18px;"><span style="font-family:arial,helvetica,sans-serif;"><strong><u>Gain More Tread with wiADVISOR!</u></strong></span></span>
    </p>
    <p>
      &nbsp;</p>
    <p>
      <span style="font-size: 16px;"><span style="font-family: arial, helvetica, sans-serif;">Tires are back in April. <strong>Sell a set of 4 tires via wiADVISOR and earn $10.</strong></span></span>
    </p>
    <p>
      <span style="font-size: 16px;"><span style="font-family: arial, helvetica, sans-serif;">Continue using wiADVISOR to sell MVP plans and earn a $1 payment on your &ldquo;Rewarding Excellence</span></span><sup>&reg;</sup>
      <span style="font-size: 16px;"><span style="font-family: arial, helvetica, sans-serif;"><sup>&nbsp;</sup>Visa</span></span><sup>&reg;</sup>
      <span style="font-family: arial, helvetica, sans-serif; font-size: 16px;"><sup>&nbsp;</sup>Prepaid Card&rdquo;. Get paid for selling ANY plan, not just those featured on the payout chart. If
        the plan is featured on the payout chart, you earn an additional $1 just for using wiADVISOR!</span>
    </p>
    <p>
      <span style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 16px;">MVP and the wiADVISOR teams are continuing a program that will help you satisfy your customers and sell more! Customers can now purchase a new package while they still have services remaining on their existing package.</span></span>
    </p>
    <p>
      <span style="font-size: 16px;"><span style="font-family: arial, helvetica, sans-serif;">For example, a customer may have a 2-year, 4-service Essential Care plan with one service still remaining. If he or she would like to purchase another package it will now show up as &ldquo;available&rdquo; on VIN</span></span>
      <span style="font-family: arial, helvetica, sans-serif; font-size: 16px;">Driven even though there is one service remaining on his or her current plan.</span>
    </p>
    <p>
      &nbsp;</p>
    <p>
      &nbsp;</p>
    <p>
      <u><strong><span style="font-size: 18px;"><span style="font-family: arial, helvetica, sans-serif;">Find Your Gear in April</span></span></strong></u>
    </p>
    <p>
      &nbsp;</p>
    <p>
      <span style="font-size: 16px;"><span style="font-family: arial, helvetica, sans-serif;">Transmissions, Trans Axles, and T-Cases will continue on the payout chart this month so&nbsp;<em>shift&nbsp;</em>your focus toward this great opportunity! Earn on customer pay and Internal Repair Orders ($25 Service Technicians, $20 Service Advisors, $5 override for Service Managers).&nbsp;</span></span>
      <a href="/shared/imi-cms/MSER/docs/Transmission_PNs_April%202017.pdf" style="font-size: 16px;" target="_blank">Click Here</a>&nbsp;
      <span style="font-family: arial, helvetica, sans-serif; font-size: 16px;">for qualifying part numbers.</span>
    </p>
    <p>
      &nbsp;</p>
    <p>
      &nbsp;</p>
    <p>
      <u><strong><span style="font-size: 18px;"><span style="font-family: arial, helvetica, sans-serif;">Increase Payout on Brake Pads in April!</span></span></strong></u>
    </p>
    <p>
      &nbsp;</p>
    <div>
      <span style="font-size: 16px;"><span style="font-family: arial, helvetica, sans-serif;">Spring has brought new opporutnity with double the payout on brake pads! <strong>Advisors, Technicians, and Parts Personnel will now&nbsp;earn $4</strong> for every OE and Magneti Marelli Brake Pad Kit through April; Managers will earn overrides.&nbsp;<a href="/shared/imi-cms/MSER/docs/April%202017%20Brake%20Pad%20OE,%20MM.pdf" target="_blank">Click here for eligible part numbers</a>.</span></span>
    </div>
    <p>
      &nbsp;</p>
    <p>
      &nbsp;</p>
    <p style="margin: 0in 0in 0pt;">
      <font face="arial, helvetica, sans-serif"><span style="font-size: 18px;"><b><u>April MVP Update</u></b></span></font>
    </p>
    <p style="margin: 0in 0in 0pt;">
      &nbsp;</p>
    <p style="margin: 0in 0in 0pt;">
      &nbsp;</p>
    <p style="margin: 0in 0in 0pt;">
      <font face="arial, helvetica, sans-serif"><span style="font-size: 16px;">Road Hazard Tire &amp; Wheel (excludes RHTW1N one year plan) continues at $20!&nbsp;<a href="/shared/imi-cms/MSER/docs/MVP%20PLANS%20April%202017.pdf" target="_blank">See MVP page for a complete list of plans</a>.</span></font>
    </p>
    <p>
      &nbsp;</p>
    <p>
      &nbsp;</p>
    <p>
      &nbsp;</p>
    <p>
      <iframe frameborder="0" height="400" hspace="0" name="joomag-embed-d4b248c9-4edf-4208-839b-79dacea7e1f8" src="https://www.joomag.com/magazine/mser-rewards-wrap-q1-2016/0835765001450794134?e=1&amp;page=1&amp;embedInfo=theme,000000,000000,ffffff,0067b1;"
        vspace="0" width="500"></iframe>
    </p>
    <p>
      <strong><a href="http://joom.ag/LvDp">CLICK HERE FOR MOBILE VIEW</a></strong></p>
    <p>
      &nbsp;</p>
    <hr />
    <p>
      &nbsp;</p>
    <p>
      &nbsp;</p>
    <p>
      &nbsp;</p>
    <p>
      <span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:18px;"><strong><u>Accessories</u></strong></span></span>
    </p>
    <p>
      &nbsp;</p>
    <p>
      <span style="font-family: arial, helvetica, sans-serif; font-size: 16px;">M</span><span style="font-family: arial, helvetica, sans-serif; font-size: 16px;">opar Wifi is the newer, easier, cheaper way for your Chrysler, Dodge, Jeep, and Ram drivers to</span>
      <span style="font-family: arial, helvetica, sans-serif; font-size: 16px;">&nbsp;stay connected to their vehicle, provide entertainment on long trips, and get on-the-go connectivity for gaming
        or business. With mobile wifi, remote engine start and stop, and parental controls like speed and curfew notifications
        this accessory is sure to be a big seller. Earn $10.&nbsp;<a href="/shared/imi-cms/MSER/docs/Mopar%20Wifi%20Flyer.pdf"
          target="_blank">Click here for Mopar Wifi details</a>.</span>
    </p>
    <p>
      <font size="3">Also for April:</font>
    </p>
    <ul>
      <li>
        <strong><span style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 16px;">Hands Free Kits will pay Service Advisors $10 for each one sold</span>.&nbsp;</span></strong></li>
      <li>
        <strong><span style="font-family: arial, helvetica, sans-serif; font-size: 16px;">Earn $5 for each Ram or Dart Wireless Charging Kit</span></strong></li>
      <li>
        <strong><span style="font-family: arial, helvetica, sans-serif; font-size: 16px;">RAM Trailer Hitches make their debut at $2.50</span></strong></li>
    </ul>
    <p>
      &nbsp;</p>
    <p>
      &nbsp;</p>
    <p>
      <span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:18px;"><strong><u>&ldquo;Boost Your Earnings Competition&rdquo; Adds a New category!</u></strong></span></span>
    </p>
    <p>
      &nbsp;</p>
    <p>
      <span style="font-size:16px;"><strong>Dates:</strong>&nbsp;April 1 &ndash; April 30, 2017</span></p>
    <p>
      <span style="font-size:16px;"><strong>Eligible Participants:</strong>&nbsp;Service Advisors, Service Technicians, Parts Managers, Used Vehicle Managers, and Used Sales Personnel</span></p>
    <p>
      <span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>How to win:</strong>&nbsp;At the end of&nbsp;April, the top three highest earning Service Advisors, Service Technicians, and Parts Managers in the country will each earn $50 on their &ldquo;Rewarding Excellence</span></span><sup>&reg;</sup>
      <sup style="font-family: arial, helvetica, sans-serif;">&nbsp;</sup><span style="font-family: arial, helvetica, sans-serif; font-size: 16px;">Visa</span>
      <sup style="font-family: arial, helvetica, sans-serif;">&reg; </sup>
      <span style="font-family: arial, helvetica, sans-serif; font-size: 16px;">Prepaid Card&rdquo;.</span>
    </p>
    <p>
      <span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>Eligible Sales:&nbsp;</strong>All Mopar Parts, accessories, and MVP Plans featured on the&nbsp;April Payout Chart will count toward the earnings competition. This includes Parts Counter and Express Lane! <strong>NEW!</strong> Top three Earning Used Vehicle Persons for activating Uconnect AND the top three earning Service Advisors for activating Uconnect will each earn $50!</span></span>
    </p>
    <p>
      <span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;"><strong style="font-size: 16px;">R.O. and Invoice Dates:&nbsp;</strong>R.O.s and Invoice dates and plans entered into VIN-Driven must be dated&nbsp;April 1&nbsp;</span></span>
      <span style="font-size: 16px;">&ndash; April 30</span><span style="font-family: arial, helvetica, sans-serif; font-size: 16px;">, 2017 and submitted no later than May 7, 2017 in order to count.</span></p>
    <p>
      &nbsp;</p>
    <p>
      <span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>Standings:</strong>&nbsp;The top ten individuals in each category will be posted on the reporting tab of MSER beginning&nbsp;May 10, 2017. The report is identified as &ldquo;BOOST&rdquo;.</span></span>
    </p>
    <p>
      &nbsp;</p>
    <div>
      <strong><span style="font-size:18px;"><span style="font-family:arial,helvetica,sans-serif;">February&nbsp;Winners</span></span></strong></div>
    <div>
      &nbsp;</div>
    <div>
      &nbsp;</div>
    <div>
      <span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;"><u><strong>MVP Top Earner&nbsp;</strong></u></span></span>
    </div>
    <div>
      &nbsp;</div>
    <div>
      <span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;"><span style="color: rgb(0, 0, 0); background-color: rgb(253, 253, 253);">CR&nbsp;CHRYSLER DODGE JEEP&nbsp;&nbsp;&nbsp; <strong>RODNEY MELTON</strong></span><br
        style="color: rgb(0, 0, 0); font-family: Arial, Verdana; font-size: medium; background-color: rgb(253, 253, 253);"
      />
      <span style="color: rgb(0, 0, 0); background-color: rgb(253, 253, 253);">PLANET DODGE CHRYSLER&nbsp;JEEP&nbsp;&nbsp; &nbsp;<strong>IBRAHIM ABDALA</strong><br />
	TATE DODGE CHRYSLER JEEP&nbsp;&nbsp;&nbsp; <strong>GARY SANDRIDGE</strong></span></span>
      </span>
    </div>
    <div>
      &nbsp;</div>
    <div>
      &nbsp;</div>
    <div>
      <u><strong><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">MSER Top Service Advisor&nbsp;</span></span></strong></u>
    </div>
    <div>
      &nbsp;</div>
    <div>
      <span style="font-size:16px;"><span style="color: rgb(0, 0, 0); background-color: rgb(253, 253, 253); font-family: Arial, Helvetica, sans-serif;">GLENN E THOMAS DODGE CHRYSLER&nbsp;&nbsp;&nbsp; <strong>DANIEL MILLHOUSE</strong></span></span>
    </div>
    <div>
      <span style="font-size:16px;"><span style="color: rgb(0, 0, 0); background-color: rgb(253, 253, 253); font-family: Arial, Helvetica, sans-serif;">GLENN E THOMAS DODGE CHRYSLER&nbsp;&nbsp; &nbsp;<strong>MIKE LOPEZ</strong></span></span>
    </div>
    <div>
      <span style="font-size:16px;"><span style="color: rgb(0, 0, 0); background-color: rgb(253, 253, 253); font-family: Arial, Helvetica, sans-serif;">HAGANS D-C-P MOTORS&nbsp;&nbsp;&nbsp; <strong>PATRICIA GREEN</strong></span></span>
    </div>
    <div>
      &nbsp;</div>
    <div>
      &nbsp;</div>
    <div>
      <u><strong><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">MSER Top Parts Manager&nbsp;</span></span></strong></u>
    </div>
    <div>
      &nbsp;</div>
    <div>
      <span style="font-size:16px;"><span style="color: rgb(0, 0, 0); background-color: rgb(253, 253, 253); font-family: Arial, Helvetica, sans-serif;">WESTBURY JEEP CHRYSLER&nbsp;&nbsp; <strong>MICHAEL CHARITY</strong></span></span>
    </div>
    <div>
      <span style="font-size:16px;"><span style="color: rgb(0, 0, 0); background-color: rgb(253, 253, 253); font-family: Arial, Helvetica, sans-serif;">FIELDS CHRYSLER JEEP DODGE&nbsp; <strong>BRIAN CAYCE</strong></span></span>
    </div>
    <div>
      <span style="font-size:16px;"><span style="color: rgb(0, 0, 0); background-color: rgb(253, 253, 253); font-family: Arial, Helvetica, sans-serif;">ARRIGO DODGE CHRYSLER JEEP&nbsp; <strong>CARLOS MORALES RODRIGUEZ</strong></span></span>
    </div>
    <div>
      &nbsp;</div>
    <div>
      &nbsp;</div>
    <div>
      <u><strong><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">MSER Top Service Technician</span></span></strong></u>
    </div>
    <div>
      &nbsp;</div>
    <div>
      <span style="font-size:16px;"><span style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; background-color: rgb(253, 253, 253);">HAYES CHRYSLER DODGE JEEP INC.&nbsp; <strong>JARED WARD</strong></span></span>
    </div>
    <div>
      <span style="font-size:16px;"><span style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; background-color: rgb(253, 253, 253);">STEPHEN WADE AUTO CENTER&nbsp; <strong>RICHARD LARSEN</strong></span></span>
    </div>
    <div>
      <span style="font-size:16px;"><span style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; background-color: rgb(253, 253, 253);">GARY MATHEWS CHRYSLER DODGE&nbsp; <strong>JAMES OWEN</strong></span></span>
    </div>
    <div>
      &nbsp;</div>
    <div>
      &nbsp;</div>
    <p>
      &nbsp;</p>
    <p style="text-align: center;">
      &nbsp;</p>
    <p>
      <span style="font-size:16px;"><img alt="" src="/shared/imi-cms/TopTech/images/Real Top Tech Program Logo.png" style="width: 200px; height: 65px; float: left; text-align: center;" /> </span></p>
    <p style="text-align: center;">
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img alt="" src="/shared/imi-cms/MSER/images/Mopar Top Advisor.jpg"
        style="width: 200px; height: 56px;" /></p>
    <p style="text-align: center;">
      &nbsp;</p>
    <p>
      &nbsp;</p>
    <p>
      &nbsp;</p>
    <p>
      <strong><span style="font-family: arial, helvetica, sans-serif; font-size: 16px;">New for 2017!</span></strong></p>
    <p>
      <span style="font-family: arial, helvetica, sans-serif; font-size: 16px;">Both programs are changing from a pre-determined quarterly reward to points that can be combined with Certified Professionals points! You can pick what prize you want from over 70,000 items featured in the all new My FCA Rewards Shopping Center. This site will be available to reward earners in mid April 2017</span></p>
    <div>
      &nbsp;</div>
    <div>
      &nbsp;</div>
    <p>
      &nbsp;</p>
    <p>
      &nbsp;</p>
    <p>
      <strong><u><span style="font-size:18px;"><span style="font-family:arial,helvetica,sans-serif;">Your Profile</span></span></u></strong></p>
    <p>
      <span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">Edit your profile with the most current email address and cell phone number so you can get all the newest updates as they become available. There will be several updates throughout the year on important earnings and program changes. Click &quot;Profile&quot; in the grey header bar of the MSER website to view and edit your profile.</span></span>
    </p>
    <p>
      &nbsp;</p>
    <p>
      &nbsp;</p>
    <p>
      <strong><span style="font-size: 18px;"><span style="font-family: arial, helvetica, sans-serif;"><u>Come here directly from DealerCONNECT!</u></span></span></strong></p>
    <p>
      &nbsp;</p>
    <div>
      <span style="font-size: 16px;"><span style="font-family: arial, helvetica, sans-serif;">Once you are logged into&nbsp;<a href="http://dealerconnect.com/" target="_blank">DealerCONNECT</a>, you can come directly to MSER and the Mopar Dealer Site without needing to log in again.</span></span>
    </div>
    <div>
      &nbsp;</div>
    <div>
      <span style="font-size: 16px;"><span style="font-family: arial, helvetica, sans-serif;">Simply click on the Service Tab and scroll all the way to the bottom and click the link to MSER to be automatically signed in!</span></span>
    </div>
    <div>
      &nbsp;</div>
    <p>
      &nbsp;</p>
    <div>
      <span style="font-size: 16px;"><span style="font-family: arial, helvetica, sans-serif;"><em><a href="http://www.dealers-mopar.com/" target="_blank">www.dealers-mopar.com</a>&nbsp;can also be accessed directly from DealerCONNECT</em>. Click on Service Tab and scroll to Service Marketing. The first link is to the Mopar Dealer website.</span></span>
    </div>
    <p>
      &nbsp;</p>
    <p>
      &nbsp;</p>
    <p>
      &nbsp;</p>
    <p>
      <span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:16px;">Questions? Please contact the Mopar Service Excellence Rewards Team at (866) 909-MSER (6737)</span></span>
    </p>

  </div>
</div>