<main class="main">
    <div class="page-title">
        <div class="pageTitle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <h1 class="heading-xl">
                           Video & Presentations
                        </h1>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="main-content" style="height: 470px;padding-left: 3%">
        <style type="text/css">
            .selectedVideo {
                border: 1px solid black !important;
                background-image: url("/shared/imi-cms/MSER/images/webImages/back_images.jpg") !important;
            }

            .selectedVideo:hover {
                background-color: transparent !important;
            }
        </style>
        <h4 align="center" style="padding-left: 200px; margin-top: 40px">{{selectedVideoName}}</h4>
        <table style="width: 95%; height:auto; background-color: #EEE; border-collapse: collapse;">
            <tr>
                <td style="width: 260px;">
                    <div id="playlist">                       
                        <a *ngFor="let video of videoLists" style="cursor: pointer" (click)="selectVideo(video.videoName, video.filePath)">
                            <img src="./{{video.videoImageName}}" alt="videos"/> 
                            <strong style="font-size: 11px;" >{{video.videoName}} </strong>
                        </a>
                    </div>
                </td>

                <td style="vertical-align: middle;">
                    <div>
                        <iframe *ngIf="boolPPT" [src]='pptLink' style="width:640px; height: 360px; display: block; margin: auto;" frameborder='0'></iframe>
                    </div>
                    <div *ngIf="boolVideo">
                        <a id="player"  [href]="domSanitizer.bypassSecurityTrustResourceUrl(selectedFilePath)" style="width:640px; height: 360px; display: block; margin: auto;">
                           
                        </a>
                    </div>
                </td>
            </tr>
        </table>


    </div>
    <style type="text/css" scoped>
        #playlist {
            overflow-y: auto;
            overflow-x: hidden;
            border: 1px solid #ccc;
            background-color: #efefef;
            /*        padding:0px 15px 0px 5px;*/
            height: 400px;
            float: left;
            width: 100% !important;
        }

        #playlist a {
            display: block;
            width: 85%;
            height: 54px;
            padding: 5px;
            background-color: #fff;
            border: 1px solid #ccc;
            font: 11px "bitstream vera sans", "lucida grande", verdana;
            text-decoration: none;
            margin: 9px 0px 0px 10px;
            color: #666;
        }

        #playlist a:hover {
            background-color: #ffc;
        }

        #playlist a.progress {
            background-color: #efefef;
        }

        #playlist a.playing {
            border: 1px solid #666;
            background-color: #ffc;
        }

        #playlist a.paused {
            border: 1px solid #666;
            background-color: #ffc;
        }

        #playlist a img {
            border: 0;
            float: left;
            margin-right: 10px;
            width: 50px;
            height: 50px;
        }

        #playlist a strong {
            color: #000;
            padding-bottom: 5px;
        }
    </style>
</main>