<main class="main">
    <div class="page-title">
        <div class="pageTitle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <h1 class="heading-xl">
                            Eligible Category Maintenance
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container m-t-md">
        <div class="row m-t-md">
            <div class="col-xs-12 col-md-12">
                <h3>Add a Category</h3>
                <form>
                    <label>Program Group</label>
                    <select id="payout-month" class="form-control" name="rewardPosition">
                        <option>Express Lane</option>
                        <option>Magneti Marelli</option>
                        <option>Mopar Accessories</option>
                        <option>Mopar Parts &amp; Engines</option>
                        <option>Mopar Vehicle Protection</option>
                        <option>Parts Counter</option>
                        <option>wiAdvisor</option>
                        <option>FIAT</option>
                        <option>UConnect</option>
                        <option>Tires</option>
                        <option>wiAdvisor Tire</option>
                    </select>

                    <label>Category</label>
                    <input class="input-category-name" type="text" class="form-control" name="msg" placeholder="Category" value="">
                    <label>Category Description</label>
                    <input class="input-category-desc" type="text" class="form-control" name="msg" placeholder="Category Description" value="">
                    <br/>
                    <input id="" class="btn btn-primary" type="submit" value="Save" />
                </form>


                <!-- Zozo Tabs Start-->
                <div id="tabbed-nav">


                    <!-- Content container -->
                    <div>



                    </div>

                </div>
                <!-- Zozo Tabs End-->

            </div>
        </div>
    </div>
</main>