/* Template Structure */
html {
}
body {
    color:#000000;
    /*background-color:rgb(138, 141, 143);*/
    background-color:rgb(255, 255, 255);
    font:12px verdana, arial, helvetica, sans-serif;
}
#main-container-table {
    /*background-color:#fff;
    background: url(/shared/imi-cms/MSER/images/webImages/bg/structure/mopar-back.jpg) repeat;   */ 
    margin:0 auto;
    max-width:1100px;
    min-width: 960px;
    /*width: 95%;*/
    border: 1px solid black;
}
#report-container-ta1200ble {
    background-color:#fff;
    margin:0 auto;
    min-width:1000px;
}
#account-table {
    background-color:rgb(138, 141, 143);
    color:white;
    height:22px;
    width:100%;
}
#account-table a:link, #account-table a:visited {
    color:#fff;
    text-decoration:underline;
}
#account-table a:hover, #account-info a:focus {
    text-decoration:none;
}
#account-table #logo-padding {
    /*width:45px;*/
}
#account-table #account-info {
    max-width:420px;
}
#account-table #links {
    /*    padding-left: 300px;*/
}
#welcome-msg {
    display:none;
}
#notice-msg {
    display:none;
}
#account-table #top-tab-nav {
    float:right;
}
#account-table #top-tab-nav  a:link, #account-table #top-tab-nav a:visited {
    text-decoration:none;
}
#header-table {
    width:100%;
}
#header-table #logo {
    width:60%;
    height:120px;
    min-width:45%;
}
#header-table #masthead {
    height:80px;
    vertical-align:middle;
}
#menu-table {
    width:100%;
}

#mopar-75years {
    /*    background: url(../images/bg/logo/mopar-75years-50x79.jpg) no-repeat left top;*/
    background: url(/shared/imi-cms/MSER/images/webImages/bg/logo/mopar-75years-blank-50x79.jpg) no-repeat left top;
    padding-left: 10px;
    width: 50px;
    height: 79px;
}
#mopar-75years a {
    display: block;
    width: 50px;
    height: 79px;
}
#warning-table {
    width:100%;
}
#main-container-table td.sidebar, #report-container-table td.sidebar {
    background:transparent url(/shared/imi-cms/MSER/images/webImages/bg/structure/mopar-sidebar152x10.png) repeat-y left top;
    max-width:100px;
    min-width:100px;
    width:116px;
}
#content-table {
    /*    width:100%;*/
    width:100%;
}
#content {
    /*padding-left: 10em;*/
}
#footer-table {
    width:100%;
}
#footer-sidebar {
    background-color:rgb(167,169,172);
    width:45px;
}
#footer {
    background-color:#a7a9ac;
    color:#ffffff;
    /*font-size:.9em;*/
    text-align:center;
    height:40px;
}
#footer a {
    color:#ffffff;
    font-weight:normal;
    text-decoration:underline;
}
#footer a:hover {
    text-decoration:none;
}
#gutter-table {
    background-color: #fff;
    width:100%;
}
#gutter {
    background-color:rgb(138, 141, 143);
    padding-left:50px;
    height:76px;
}
#certseal {
/*    background-color:rgb(138, 141, 143);*/
    background-color: #a7a9ac;
    /*padding-right:10px;*/
    text-align:right;
}
/* Site Wide Styling */
table {
    border-collapse:collapse;
    border-spacing:0;
}

/* General Styling */
a:link, a:visited {
    color:#0245b3;
    text-decoration:underline;
}
a:hover, a:focus {
    text-decoration:none;
}
.center {
    text-align:center;
}
.divider {
    background-color:transparent;
    height:14px;
}
.clear-divider {
    background-color:transparent;
    clear:both;
    height:14px;
}
.error-script {
    color:red;
    text-align:center;
}
.error {
    color:red;
    font-weight:bold;
    margin-left:5px;

}
.warn {
    color:#8b6914;
    font-weight:bold;
}

.imgBox  { 
    width:240px;
    height:215px;
    background:url('/shared/imi-cms/MSER/images/webImages/heart.jpg') 20% 20% no-repeat;
}
.imgText { 
    text-align:center;
    margin:0 auto;
    padding:48px 20px 0 0;
    font-size: 12px;
    font-weight: bold;
    color: white;
}
.button{
    font-size: 14px;
    font-weight: bold;
    background: #0069B2;
    color: white;
    width: auto;
    height: 28px;
    border-radius: 10px;    
}

.button:hover{
    border-color: black;
}