<main class="main">
  <div class="container m-t-md">

    <div class="row m-t-md">
      <div class="col-xs-12 col-md-12">

        <!-- Zozo Tabs Start-->
        <div id="tabbed-nav">

          <!-- Tab Navigation Menu -->
          <ul class="tabs">

            <!-- <li class="tab" (click)="openCMSPage('PayoutChartHome')">
              <a>Home</a>
            </li> -->
            <li class="tab" (click)="openCMSPage('PayoutChartMonthlyHighlights')">
              <a>Monthly Highlights</a>
            </li>
            <li class="tab" *ngFor="let data of payoutChartDatum" (click)="nestedZOZOTab()">
              <a>{{data.tap}}</a>
            </li>

          </ul>

          <!-- Content container -->
          <div>

            <!-- Home tab -->
            <!-- <div class="z-content-pad">
              <div id="main-content" [innerHTML]="payoutCMSObject"></div>
            </div> -->

            <!-- Monthly Highlights -->
            <div class="z-content-pad">
              <div class="payout-chart-heading">
                  <i class="fa fa-print print-button" title="Print this page" onclick="window.print()"></i>
              </div>

              <div id="main-content" [innerHTML]="payoutCMSObject"></div>
            </div>

            <!-- Service Advisors -->
            <div class="z-content-pad" *ngFor="let data of payoutChartDatum">
              <!-- Zozo Tabs 2 (nested) Start-->
              <div class="nested-tabs">

                <!-- Nested Tab Navigation Menu -->

                <ul>

                  <li *ngFor="let data1 of data.programs">
                    <a>{{data1.name}}</a>
                  </li>
                </ul>
                <!-- Nested Content container -->
                <div>
                  <!-- MOPAR Parts &amp; Engines -->
                  <div *ngFor="let data2 of data.programs">
                    <h4 class="payout-chart-heading">{{data2.name}}
                      <!-- <i class="fa fa-print print-button" title="Print this page" (click)="window.print()"></i> -->
                      <i class="fa fa-print print-button" title="Print this page" onclick="window.print()"></i>
                    </h4>
                    <!-- <p *ngIf="thisMonth.length >0">{{thisMonth}}</p> -->

                    <ul class="graph graph-list">
                      <li class="graph-item service-override" *ngFor="let data3 of data2.payouts" [hidden]="data3.value == 0">
                        <span class="graph-item-subject">{{data3.name}} </span>
                        <span> {{ data3.labels }} </span>
                        <span class="graph-item-figure">{{data3.value | currency:'USD':true:'1.2-2'}}</span>

                        <a *ngIf="data3.parts != undefined && data3.parts.length>0" (click)="showIconPartsModal(data3, data2.name)" class="graph-item-info"
                          href="#" data-toggle="modal" data-target="#partModal">
                          <i class="fa fa-info-circle"></i>
                        </a>
                      </li>
                    </ul>
                    <p *ngFor="let legends of data2.legends">
                      {{legends}}
                    </p>

                    <p *ngIf="data2.name == 'MOPAR VEHICLE PROTECTION'">Click on
                      <i class="legend qualifying-part-number fa fa-info-circle"></i> for eligible plan code(s).</p>

                    <p *ngIf="data2.name != 'MOPAR VEHICLE PROTECTION'">Click on
                      <i class="legend qualifying-part-number fa fa-info-circle"></i> for qualifying part number(s).</p>

                    <!-- <div *ngIf="((data2.managerLabel !=undefined)&&(data2.managerLabel.length>0))">
                      <p >{{data2.managerLabel}}</p>

                      <img alt="" src='data2.image' />
                    </div> -->

                    <div *ngIf="data2.labels != undefined && data2.labels.length >0" class="disclaimer graph-disclaimer">
                      <p *ngFor="let labels of data2.labels">{{labels}}</p>
                    </div>
                    <img *ngIf="data2.image !=undefined && data2.image.length >0" alt="" src='data2.image' />
                  </div>


                </div>
              </div>
              <!-- Zozo Tabs 2 (nested) End-->
            </div>
          </div>
        </div>
        <!-- Zozo Tabs End-->

      </div>
    </div>
  </div>
</main>

<div class="modal fade" id="partModal" tabindex="-1" role="dialog" aria-labelledby="partModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="partModalLabel">{{iconPartsModalHeading}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="part-numbers">
          <li *ngFor="let data of iconPartsModalData">{{data}}</li>

        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>