<main class="main">
  <div class="container m-t-md">

    <div class="row m-t-md">
      <div class="col-xs-12 col-md-12">

        <!-- Zozo Tabs Start-->
        <div id="tabbed-nav">

          <!-- Tab Navigation Menu -->
          <ul class="tabs">
            <!--li class="tab"><a>Q1 2017 JANUARY</a></li>
            <li class="tab"><a>Monthly Highlights</a></li>
            <li class="tab"><a>SERVICE ADVISOR REWARDS</a></li>
            <li class="tab"><a>SERVICE TECHNICIAN REWARDS</a></li>
            <li class="tab"><a>PARTS PERSONNEL REWARDS</a></li-->


            <li class="tab"><a>Home</a></li>
            <li class="tab"><a>Monthly Highlights</a></li>
            <li class="tab"><a>Service Advisors</a></li>
            <li class="tab"><a>Technicians</a></li>
            <li class="tab"><a>Parts</a></li>
            <li class="tab"><a>UVM</a></li>

          </ul>

          <!-- Content container -->
          <div>

            <!-- Home tab -->
            <div class="z-content-pad">
              <h2 class="visible-print">Home</h2>
              <div class="payout-chart-home">
                <div class="payout-chart-home-content">
                  <h3 class="payout-chart-heading">REWARDS WRAP</h3>
                  <h4 class="payout-chart-subheading">MSER PAYOUT CHART<br />Q3 2017 July Update</h4>
                  <ul>
                    <li>Q3 2017 July Highlights</li>
                    <li>Service Advisor Rewards</li>
                    <li>Service Technician Rewards</li>
                    <li>Parts Personnel Rewards</li>
                    <li>Used Vehicle Recon Promotion</li>
                  </ul>
                </div>
                <img class="home-logo" alt="" src="assets/img/mser-logo-white.png" />
                <img class="background-image" alt="Couple going over options with their car dealer" src="assets/img/payout-chart-cover.jpg" />
              </div>
            </div>

            <!-- Monthly Highlights -->
            <div class="z-content-pad">
              <h2 class="visible-print">Q3 2017 JULY HIGHLIGHTS</h2>

              <h4 class="payout-chart-heading">Q3 2017 JULY- Rewards of Note</h4>
              <ul>
                <li><strong>Beam Blades and Rain Repellent are now on the drive. See <a href="https://www.moparser.com/mser/consumerRebates.do">details and special rebate</a> for this perfect Summer duo!</strong></li>
                <li><strong>Carpet Floor Mats stay put for July at $5.00!</strong></li>
                <li><strong>RAM Trailer Hitches continue on the menu for Advisors, Technicians and Parts Personnel.</strong></li>
                <li><strong>UConnect continues to pay all Service, Sales and Parts Personnel $10!</strong></li>
                <li><strong>UConnect override is 20% for Service Managers</strong></li>
                <li><strong>Service Techs, the reward for engines stays at $15!</strong></li>
              </ul>
              <h4 class="payout-chart-heading">MVP</h4>
              <p>MVP has simplified the payouts on MSER Service Lane Sales.  All Essential Care Plan Code Payouts will be based on "Dealer Cost" of the plans.  Rewards range for $2 to $8.  7 Year Unlimited Miles plan continues! <a href="http://www.moparser.com/shared/imi-cms/MSER/docs/MVP%20PLANS%20July%202017.pdf">See MVP page for complete plan listings and any other changes this month.</a></p>
              <h4 class="payout-chart-heading">Used Vehicle Manager Recon Promotion</h4>
              <p>Special promotion for Used Vehicle Manager, Used Vehicle Sales Persons, Parts Managers and Technicians. Rewards are available for using Magneti Marelli parts on vehicles being traded in or reconditioned for resale.  <strong>Items continuing for July: Set of 2 OHTSU Tires for $5. NEW!! Magneti Marelli Tire Pressure Monitor Systerm is now on the menu at $2!</strong> Spare Tire Kits, Bed Liners and UConnect Activation continues as well!</p>
              <p>* See last page of payout chart for qualifying parts and part numbers, and rules.</p>
              <h4 class="payout-chart-heading">Find Your Gear in June</h4>
              <p>Transmissions, Trans Axles and T-Cases are continuing on the July Payout Chart. Earn on Customer Pay and Internal Repair Orders ($25 Service Techs, $20 Service Advisors, $5 override for Service Managers).</p>
              <h4 class="payout-chart-heading">UConnect, U-earn!</h4>
              <p>Service, Sales and Parts Personnel earn $10 for each UConnect Navigation Activation you perform! Rules are on the Marketing Page. Service Managers receive a 20% override.</p>
              <h4 class="payout-chart-heading">wiADVISOR</h4>
              <p>wiADVISOR continues to pay $5 for a set of 2 tires and $10 for a set of 4 tires in July! Plus $1 on any MVP Plan sold using wiADVISOR technology.</p>
              <img alt="MOPAR logo" src="assets/img/logo.png" />
              <!--</div>  End Col 6 -->
              <div class="col6">
              </div>
              <!-- End Col 6 -->
            </div>

            <!-- Service Advisors -->
            <div class="z-content-pad">
              <!-- Zozo Tabs 2 (nested) Start-->
              <div class="nested-tabs">

                <!-- Nested Tab Navigation Menu -->
                <ul>
                  <li><a>MOPAR PARTS &amp; ENGINES</a></li>
                  <li><a>MOPAR UPFITS</a></li>
                  <li><a>WIADVISOR</a></li>
                  <li><a>MAGNETI MARELLI RETAIL PARTS</a></li>
                  <li><a>EXPRESS LANE</a></li>
                  <li><a>UCONNECT</a></li>
                </ul>
                <!-- Nested Content container -->
                <div>
                  <!-- MOPAR Parts &amp; Engines -->
                  <div>
                    <h4 class="payout-chart-heading">MOPAR PARTS &amp; ENGINES</h4>
                    <ul class="graph graph-list">
                      <li class="graph-item service-override"><span class="graph-item-subject">Transmissions/Trans Axles/T-Cases</span> <span class="graph-item-figure">$20.00</span><a class="graph-item-info" href="#" data-toggle="modal" data-target="#partModal"><i class="fa fa-info-circle"></i></a></li>
                      <li class="graph-item magneti-marelli"><span class="graph-item-subject">Brake Pads (OE, MM)</span> <span class="graph-item-figure">$2.00</span> <a class="graph-item-info" href="#" data-toggle="modal" data-target="#partModal"><i class="fa fa-info-circle"></i></a></li>
                      <li class="graph-item"><span class="graph-item-subject">Mopar Engines</span> <span class="graph-item-figure">$30.00</span> <a class="graph-item-info" href="#" data-toggle="modal" data-target="#partModal"><i class="fa fa-info-circle"></i></a></li>
                      <li class="graph-item"><span class="graph-item-subject">N45 &amp; N46 Recall Rewards</span> <span class="graph-item-figure">$10.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Mopar AC Compressors</span> <span class="graph-item-figure">$5.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Cabin Air Filters (MM and Mopar)</span> <span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item rebate-form"><span class="graph-item-subject">Beam Blades (Set of 2)</span> <span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item rebate-form"><span class="graph-item-subject">Rain Repellent</span> <span class="graph-item-figure">$1.00</span></li>                    </ul>
                    <p><span class="legend service-override"></span> Service Manager override is $5.</p>
                    <p><span class="legend magneti-marelli"></span> OE and Magneti Marelli Brake Pads.</p>
                    <p><span class="legend rebate-form"></span> Click on "info" icon for rebate form and part listing.</p>

                    <p>Select <i class="legend qualifying-part-number fa fa-info-circle"></i> for qualifying part number(s).</p>
                    <p class="disclaimer graph-disclaimer">Parts &amp; Service manager override is 20% on all above items.</p>
                    <img alt="MOPAR logo" src="assets/img/logo.png" />
                  </div>
                  <!-- MOPAR Upfits -->
                  <div>
                    <h4 class="payout-chart-heading">MOPAR Upfits</h4>
                    <ul class="graph graph-list">
                      <li class="graph-item service-override"><span class="graph-item-subject">Magneti Marelli Water Pumps</span> <span class="graph-item-figure">$2.50</span><a class="graph-item-info" href="#" data-toggle="tooltip" data-placement="left" title="A1234, B2345, Z9087"><i class="fa fa-info-circle"></i></a></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Starters</span> <span class="graph-item-figure">$10.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Alternators</span> <span class="graph-item-figure">$10.00</span><a class="graph-item-info" href="#" data-toggle="tooltip" data-placement="left" title="D4567, X8676"><i class="fa fa-info-circle"></i></a></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Batteries</span> <span class="graph-item-figure">$5.00</span><a class="graph-item-info" href="#" data-toggle="tooltip" data-placement="left" title="A1234"><i class="fa fa-info-circle"></i></a></li>
                      <li class="graph-item service-override"><span class="graph-item-subject">Magneti Marelli Radiators &amp; Condensers</span> <span class="graph-item-figure">$5.00</span><a class="graph-item-info" href="#" data-toggle="tooltip" data-placement="left" title="C3456, D4567, X8676, Z9087"><i class="fa fa-info-circle"></i></a></li>
                    </ul>
                    <p><span class="legend service-override"></span> Service Manager override is $5.</p>
                    <p class="disclaimer graph-disclaimer">Parts &amp; Service manager override is 20% on all above items.</p>
                    <p>Select <i class="legend qualifying-part-number fa fa-info-circle"></i> for qualifying part number(s).</p>
                    <img alt="MOPAR logo" src="assets/img/logo.png" />
                  </div>
                  <!-- wiAdvisor -->
                  <div>
                    <h4 class="payout-chart-heading">wiADVISOR</h4>
                    <p>Mopar Vehicle Protection</p>
                    <a href="http://www.moparser.com/shared/imi-cms/MSER/docs/MVP%20PLANS%20July%202017.pdf"><img alt="MOPAR Vehicle Protection" src="assets/img/mopar-vehicle-protection-logo.png" /></a>
                    <p>Rewards range from $1 to $50.  See MVP tab on moparser.com or click icon for more details.</p>
                    <ul class="graph graph-list">
                      <li class="graph-item"><span class="graph-item-subject">MVP Plans</span> <span class="graph-item-figure">$1.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Tires (Set of 4)</span> <span class="graph-item-figure">$10.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Tires (Set of 2)</span> <span class="graph-item-figure">$5.00</span></li>
                    </ul>
                    <p class="disclaimer graph-disclaimer">Service manager override is 20% on all above items.</p>
                    <img alt="MOPAR logo" src="assets/img/logo.png" />
                  </div>
                  <!-- Magneti Marelli Retail Parts -->
                  <div>
                    <h4 class="payout-chart-heading">MAGNETI MARELLI RETAIL PARTS</h4>
                    <ul class="graph graph-list">
                      <li class="graph-item service-override"><span class="graph-item-subject">Magneti Marelli TPMS Part #1AMTP3350A</span> <span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Water Pump</span> <span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Starters</span> <span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Alternators</span> <span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Batteries</span> <span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Radiators &amp; Condensers</span> <span class="graph-item-figure">$1.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Roters (per pair)</span> <span class="graph-item-figure">$1.00</span></li>
                    </ul>
                    <p class="disclaimer graph-disclaimer">Parts &amp; Service manager override is 10% on all above items.</p>
                    <img alt="MOPAR logo" src="assets/img/logo.png" />
                  </div>
                  <!-- Express Lane -->
                  <div>
                    <h4 class="payout-chart-heading">EXPRESS LANE</h4>
                    <ul class="graph graph-list">
                      <li class="graph-item"><span class="graph-item-subject">Beam Blades (Set of 2)</span> <span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Cabin Air Filters (MM and Mopar)</span> <span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Batteries (Mopar)</span> <span class="graph-item-figure">$2.00</span></li>
                    </ul>

                    <p class="disclaimer graph-disclaimer">Parts &amp; Service manager override is 10% on all above items.</p>
                    <img alt="MOPAR logo" src="assets/img/logo.png" />
                  </div>
                  <!-- UConnect -->
                  <div>
                    <h4 class="payout-chart-heading"><span class="hide-me">UConnect</span><img alt="UConnect" src="assets/img/uconnect-logo.png" /></h4>
                    <h5>New For July!</h5>
                    <p>Inform your Retail Sales People and let them know that all UConnect Navigation Activations properly processed will be paid $10. Come directly from DealerConnect,without logging into MSER! See link onTraining tab.</p>
                    <ul class="graph graph-list">
                      <li class="graph-item"><span class="graph-item-subject">UConnect RA3 Navigation Activation<br/><strong>All Sales, Service and Parts Personnel</strong></span><span class="graph-item-figure">$10.00</span></li>
                    </ul>
                    <p class="disclaimer graph-disclaimer">Service manager override is 20% on all above items.</p>
                    <img alt="MOPAR logo" src="assets/img/logo.png" />
                  </div>
                </div>
              </div>
              <!-- Zozo Tabs 2 (nested) End-->
            </div>

            <!-- Technicians -->
            <div class="z-content-pad">
              <div class="nested-tabs">
                <ul>
                  <li><a href="">MOPAR PARTS & ENGINES</a></li>
                  <li><a href="">MOPAR UPFITS</a></li>
                  <li><a href="">MAGNETI MARELLI RETAIL PARTS</a></li>
                  <li><a href="">EXPRESS LANE</a></li>
                  <li><a href="">TOPTECH</a></li>
                </ul>
                <div>
                  <!-- MOPAR Parts & Engines -->
                  <div>
                    <h4 class="payout-chart-heading">MOPAR PARTS & ENGINES</h4>
                    <ul class="graph graph-list">
                      <li class="graph-item service-override"><span class="graph-item-subject">Transmissions/Trans Axles/T-Cases</span> <span class="graph-item-figure">$25.00</span><a class="graph-item-info" href="#" data-toggle="modal" data-target="#partModal"><i class="fa fa-info-circle"></i></a></li>
                      <li class="graph-item magneti-marelli"><span class="graph-item-subject">Mopar Brake Pads (OE, MM)</span> <span class="graph-item-figure">$2.00</span> <a class="graph-item-info" href="#" data-toggle="modal" data-target="#partModal"><i class="fa fa-info-circle"></i></a></li>
                      <li class="graph-item"><span class="graph-item-subject">Mopar Engines</span> <span class="graph-item-figure">$15.00</span> <a class="graph-item-info" href="#" data-toggle="modal" data-target="#partModal"><i class="fa fa-info-circle"></i></a></li>
                      <li class="graph-item"><span class="graph-item-subject">Mopar AC Compressors</span> <span class="graph-item-figure">$5.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Cabin Air Filters (MM and Mopar)</span> <span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item rebate-form"><span class="graph-item-subject">Beam Blades (Set of 2)</span> <span class="graph-item-figure">$2.00</span> <a class="graph-item-info" href="#" data-toggle="modal" data-target="#partModal"><i class="fa fa-info-circle"></i></a></li>
                      <li class="graph-item rebate-form"><span class="graph-item-subject">Rain Repellent</span> <span class="graph-item-figure">$1.00</span></li>
                    </ul>
                    <p><span class="legend service-override"></span> Service Manager override is $5.</p>
                    <p><span class="legend magneti-marelli"></span> OE and Magneti Marelli Brake Pads.</p>
                    <p><span class="legend rebate-form"></span> Click on "info" icon for rebate form and part listing.</p>

                    <p>Select <i class="legend qualifying-part-number fa fa-info-circle"></i> for qualifying part number(s).</p>
                    <p class="disclaimer graph-disclaimer">Parts &amp; Service manager override is 10% on all above items.</p>
                    <img alt="MOPAR logo" src="assets/img/logo.png" />
                  </div>
                  <!-- MOPAR Upfits -->
                  <div>
                    <h4 class="payout-chart-heading">MOPAR Upfits</h4>
                    <ul class="graph graph-list">
                      <li class="graph-item service-override"><span class="graph-item-subject">RAM Trailer Hitches</span> <span class="graph-item-figure">$2.50</span><a class="graph-item-info" href="#" data-toggle="modal" data-target="#partModal"><i class="fa fa-info-circle"></i></a></li>
                      <li class="graph-item service-override"><span class="graph-item-subject">Carpet Floor Mats</span> <span class="graph-item-figure">$5.00</span> <a class="graph-item-info" href="#" data-toggle="modal" data-target="#partModal"><i class="fa fa-info-circle"></i></a></li>
                    </ul>

                    <p>Select <i class="legend qualifying-part-number fa fa-info-circle"></i> for qualifying part number(s).</p>
                    <p class="disclaimer graph-disclaimer">Parts &amp; Service manager override is 10% on all above items.</p>
                    <img alt="MOPAR logo" src="assets/img/logo.png" />
                  </div>
                  <!-- Magneti Marelli Retail Parts -->
                  <div>
                    <h4 class="payout-chart-heading">MAGNETI MARELLI RETAIL PARTS</h4>
                    <ul class="graph graph-list">
                      <li class="graph-item service-override"><span class="graph-item-subject">Magneti Marelli TPMS#1AMTP3350A</span> <span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Water Pump</span> <span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Starters</span> <span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Alternators</span> <span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Batteries</span> <span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Radiators & Condensers</span> <span class="graph-item-figure">$1.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Rotors (Per Pair)</span> <span class="graph-item-figure">$1.00</span></li>
                    </ul>

                    <p class="disclaimer graph-disclaimer">Parts &amp; Service manager override is 10% on all above items.</p>
                    <img alt="MOPAR logo" src="assets/img/logo.png" />
                  </div>
                  <!-- Express Lane -->
                  <div>
                    <h4 class="payout-chart-heading">EXPRESS LANE</h4>
                    <ul class="graph graph-list">
                      <li class="graph-item"><span class="graph-item-subject">Beam Blades</span> <span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Cabin Air Filters (MM and Mopar)</span> <span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Batteries (Mopar)</span> <span class="graph-item-figure">$2.00</span></li>
                    </ul>

                    <p class="disclaimer graph-disclaimer">Parts &amp; Service manager override is 10% on all above items.</p>
                    <img alt="MOPAR logo" src="assets/img/logo.png" />
                  </div>

                  <div>
                    <h4 class="payout-chart-heading">MOPAR TOPTECH</h4>
                    <div class="top-tech">
                      <img alt="Mopar Top Tech" class="top-tech-logo" src="assets/img/top-tech.png" />
                      <img alt="Technician working on car" class="top-tech-technician" src="assets/img/payout-chart-MSER-Tech-Oil-Photo.jpg" />
                      <div class="top-tech-content">
                        <p>Use your reward points to shop name brand merchandise.</p>
                        <p>Access FCA Reward Redemption via DealerCONNECT and your My FCA Rewards dashboard.</p>
                        <p>Visit <a href="http://mopartoptech.com">MoparTopTech.com</a> for more program details.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Parts Personnel Rewards -->
            <div class="z-content-pad">
              <!-- Zozo Tabs 2 (nested) Start-->
              <div class="nested-tabs">

                <!-- Nested Tab Navigation Menu -->
                <ul>
                  <li><a>PARTS COUNTER</a></li>
                  <li><a>OVER THE COUNTER</a></li>
                </ul>

                <!-- Nested Content container -->
                <div>
                  <!-- Parts Counter -->
                  <div>
                    <h4 class="payout-chart-heading">PARTS COUNTER</h4>
                    <ul class="graph graph-list">
                      <li class="graph-item service-override"><span class="graph-item-subject">RAM Trailer Hitches</span><span class="graph-item-figure">$25.00</span><a class="graph-item-info" href="#" data-toggle="modal" data-target="#partModal"><i class="fa fa-info-circle"></i></a></li>
                      <li class="graph-item"><span class="graph-item-subject">Mopar WiFi</span><span class="graph-item-figure">$10.00</span><a class="graph-item-info" href="#" data-toggle="modal" data-target="#partModal"><i class="fa fa-info-circle"></i></a></li>
                      <li class="graph-item"><span class="graph-item-subject">Cell Phone Hands-Free Kit</span><span class="graph-item-figure">$10.00</span><a class="graph-item-info" href="#" data-toggle="modal" data-target="#partModal"><i class="fa fa-info-circle"></i></a></li>
                      <li class="graph-item service-override"><span class="graph-item-subject">Carpet Floor Mats</span><span class="graph-item-figure">$5.00</span><a class="graph-item-info" href="#" data-toggle="modal" data-target="#partModal"><i class="fa fa-info-circle"></i></a></li>
                      <li class="graph-item service-override"><span class="graph-item-subject">Magneti Marelli TMPS Part #1AMTP3350A</span><span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Alternators</span><span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Starters</span><span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Water Pump</span><span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Rotors</span><span class="graph-item-figure">$1.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Batteries</span><span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Radiators & Condensers</span><span class="graph-item-figure">$1.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Brake Pad Kit</span><span class="graph-item-figure">$1.00</span></li>
                    </ul>
                    <p><span class="legend service-override"></span> Service Manager override is $5.</p>
                    <p>Select <i class="legend qualifying-part-number fa fa-info-circle"></i> for qualifying part number(s).</p>
                    <img alt="MOPAR logo" src="assets/img/logo.png" />
                  </div>
                  <!-- Over the Counter -->
                  <div>
                    <h4 class="payout-chart-heading">OVER THE COUNTER - NEWS & NOTES</h4>
                    <img alt="News & Notes image" src="assets/img/payout-chart-parts-personnel.jpg" />
                    <p>Rewards are paid on Retail, Internal and Wholesale Transactions/Invoices.</p>
                    <p class="disclaimer graph-disclaimer">Parts &amp; Service manager override is 10% on all above items.</p>
                    <img alt="MOPAR logo" src="assets/img/logo.png" />
                  </div>
                </div>
              </div>
              <!-- Zozo Tabs 2 (nested) End-->
            </div>

            <!-- UVM -->
            <div class="z-content-pad">
              <!-- Zozo Tabs 3 (nested) Start-->
              <div class="nested-tabs">

                <!-- Nested Tab Navigation Menu -->
                <ul>
                  <li><a>USED RECON PROMO PARTS</a></li>
                  <li><a>PROMO OBJECTIVE</a></li>
                  <li><a>UCONNECT</a></li>
                </ul>

                <!-- Nested Content container -->
                <div>
                  <!-- Used Recon Promotion Parts -->
                  <div>
                    <h4 class="payout-chart-heading">USED RECON PROMOTION PARTS</h4>
                    <ul class="graph graph-list">
                      <li class="graph-item service-override"><span class="graph-item-subject">Spare Tire Kits</span><span class="graph-item-figure">$25.00</span><a class="graph-item-info" href="#" data-toggle="modal" data-target="#partModal"><i class="fa fa-info-circle"></i></a></li>
                      <li class="graph-item service-override"><span class="graph-item-subject">Bed Liners</span><span class="graph-item-figure">$10.00</span><a class="graph-item-info" href="#" data-toggle="modal" data-target="#partModal"><i class="fa fa-info-circle"></i></a></li>
                      <li class="graph-item"><span class="graph-item-subject">OHTSU Tires (Set of 2)</span><span class="graph-item-figure">$10.00</span><a class="graph-item-info" href="#" data-toggle="modal" data-target="#partModal"><i class="fa fa-info-circle"></i></a></li>
                      <li class="graph-item service-override"><span class="graph-item-subject">Magneti Marelli Batteries</span><span class="graph-item-figure">$5.00</span><a class="graph-item-info" href="#" data-toggle="modal" data-target="#partModal"><i class="fa fa-info-circle"></i></a></li>
                      <li class="graph-item service-override"><span class="graph-item-subject">Magneti Marelli Alternator</span><span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Starter</span><span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Water Pump</span><span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Brake Pads</span><span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Brake Rotors</span><span class="graph-item-figure">$1.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Radiators & Condensers</span><span class="graph-item-figure">$1.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Beam Blades (Set of 2)</span><span class="graph-item-figure">$1.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli TMPS Part #1AMTP3350A</span><span class="graph-item-figure">$1.00</span></li>
                    </ul>
                    <p><span class="legend service-override"></span> Service Manager override is $5.</p>
                    <p>Select <i class="legend qualifying-part-number fa fa-info-circle"></i> for qualifying part number(s).</p>
                    <img alt="MOPAR logo" src="assets/img/logo.png" />
                  </div>
                  <!-- Promo Objective -->
                  <div>
                    <h4 class="payout-chart-heading">PROMO OBJECTIVE</h4>
                    <p>To encourage, reward and recognize dealership employees for the use of Magneti Marelli parts on vehicles being traded and reconditioned for resale.</p>
                    <p>*Be sure to indicate the Labor OP Code UCRMSER1 on the invoice for the part to be counted.</p>
                    <p>*Dealers using Reynolds and Reynolds DMS must use an OP Code with UCRM to qualify for payouts.</p>
                    <p><a href="">More info and rules</a></p>
                    <img alt="MOPAR logo" src="assets/img/logo.png" />
                  </div>
                  <!-- UConnect -->
                  <div>
                    <h4 class="payout-chart-heading"><span class="hide-me">UConnect</span><img alt="UConnect" src="assets/img/uconnect-logo.png" /></h4>
                    <ul class="graph graph-list">
                      <li class="graph-item"><span class="graph-item-subject">UConnect RA3 Navigation Activation<br/><strong>All Sales, Service and Parts Personnel</strong></span><span class="graph-item-figure">$10.00</span></li>
                    </ul>
                    <p class="disclaimer graph-disclaimer">Service manager override is 20% on all above items.</p>
                    <img alt="MOPAR logo" src="assets/img/logo.png" />
                  </div>
                </div>
              </div>
              <!-- Zozo Tabs 3 (nested) End-->

            </div>
          </div>
        </div>
        <!-- Zozo Tabs End-->

      </div>
    </div>
  </div>
</main>

<div class="modal fade" id="partModal" tabindex="-1" role="dialog" aria-labelledby="partModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="partModalLabel">Qualifying Part Numbers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="part-numbers">
          <li>123456789 </li>
          <li>234567890 </li>
          <li>345678901 </li>
          <li>456789012 </li>
          <li>567890123 </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
