<main class="main">
  <div class="container m-t-md">

    <div class="row m-t-md">
      <div class="col-xs-12 col-md-12">

        <!-- Zozo Tabs Start-->
        <div id="tabbed-nav">

          <!-- Tab Navigation Menu -->
          <ul class="tabs">
            <!--li class="tab"><a>Q1 2017 JANUARY</a></li>
            <li class="tab"><a>Monthly Highlights</a></li>
            <li class="tab"><a>SERVICE ADVISOR REWARDS</a></li>
            <li class="tab"><a>SERVICE TECHNICIAN REWARDS</a></li>
            <li class="tab"><a>PARTS PERSONNEL REWARDS</a></li-->


            <li class="tab"><a>Home</a></li>
            <li class="tab"><a>Monthly Highlights</a></li>
            <li class="tab"><a>Service Advisors</a></li>
            <li class="tab"><a>Technicians</a></li>
            <li class="tab"><a>Parts</a></li>
            <li class="tab"><a>UVM</a></li>


          </ul>

          <!-- Content container -->
          <div>

            <!-- Home tab -->
            <div>
              <h2 class="visible-print">Home</h2>
              <p>Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus.</p>
              <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Proin eget tortor risus.</p>
              <p>Nulla quis lorem ut libero malesuada feugiat. Nulla quis lorem ut libero malesuada feugiat.</p>
              <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>
            </div>

            <!-- Monthly Highlights -->
            <div class="col6">
              <h2 class="visible-print">Monthly Highlights</h2>

              <h4>Start The New Year in Gear</h4>
              <p>
                Transmissions, Trans Axles and T-Cases are continuing on the January Payout Chart. Earn on Customer Pay and Internal Repair
                Orders ($25 Service Techs, $20 Service Advisors, $5 override for Service Managers). </p>
              <h4>Pad Your Earnings!</h4>
              <p>January only - Advisors, Technicians and Parts Personnel can now earn $1 for every OE and Magneti Marelli Brake
                Pad Kit! *Parts and Service Managers will earn a 10% override.</p>
              <h4> Uconnect, U-earn!</h4>
              <p>
                Service Advisors earn $10 for each UCONNECT activation you perform! Rules are on the Marketing Page. Find Your Earnings Hotspot
                with Mopar Wiﬁ Formerly the Mopar Connect Module, the newly branded Mopar Wifi is here to ring in the New
                Year! Start Me Up! The Mopar Remote Starter made a return to the menu last month and it's back for more!
              </p>
              <h4>Vroom Vroom</h4>
              <p>Mopar Engines continue into 2017! Advisors and Technicians can both rev up earnings. </p>
              <h4>MVP Update </h4>
              <p>
                Are you ready for the new "Road Ready" MVP Plan? See MVP home page for details. New Calendar Year = Continued Opportunities
                with wiADVISOR! wiADVISOR continues to pay $2 on any MVP Plan sold using wiADVISOR technology.
              </p>
              <h4>Boost Your Sales Competition</h4>
              <p>December Boost winners will be announced on January 15th. The program continues into 2017! Top Earners will
                get $50 on their Rewarding Excellence Card. Top 3 sellers of MVP will also earn $50. See Marketing tab for
                details. </p>
              <h4> Q1 2017 January - Rewards to Note</h4>
              <p>
                Dart/Ram All Weather Mats and Dart/Ram Wireless Battery Charger Kits are back, as well as the Cell Phone Hands Free Kit.
                Winter is here to stay, so make sure these items are in stock and flying off the shelf....Slush Mat Kits,
                Dart Splash Guards, Fuel System Cleaner, Rain Repellent, Spray Paint/Primer and the Jeep Freedom Top Wrench.
              </p>
              Go to your positional sheet to see how/if these reward items apply to you.

              <!--</div>  End Col 6 -->
              <div class="col6">
              </div>
              <!-- End Col 6 -->
            </div>

            <!-- Service Advisors -->
            <div class="z-content-pad">
              <!-- Zozo Tabs 2 (nested) Start-->
              <div class="nested-tabs">


                <!-- Nested Tab Navigation Menu -->
                <ul>
                  <li><a>MOPAR PARTS &amp; ENGINES</a></li>
                  <li><a>MOPAR UPFITS</a></li>
                  <li><a>wiADVISOR</a></li>
                  <li><a>MAGNETI MARELLI RETAIL PARTS</a></li>
                  <li><a>EXPRESS LANE</a></li>
                  <li><a>UCONNECT</a></li>
                </ul>

                <!-- Nested Content container -->
                <div>

                  <!-- MOPAR Parts &amp; Engines -->
                  <div>
                    <h4>MOPAR PARTS &amp; ENGINES</h4>
                    <ul class="graph graph-list">
                      <li class="graph-item service-override"><span class="graph-item-subject">Transmissions/Trans Axles/T-Cases</span> <span class="graph-item-figure">$20.00</span><a class="graph-item-info" href="#" data-toggle="tooltip" data-placement="left" title="A123456789, B234567890"><i class="fa fa-info-circle"></i></a></li>
                      <li class="graph-item magneti-marelli"><span class="graph-item-subject">Brake Pads (OE, MM)</span> <span class="graph-item-figure">$2.00</span> <a class="graph-item-info" href="#" data-toggle="tooltip" data-placement="left" title="C345678901, D456789012"><i class="fa fa-info-circle"></i></a></li>
                      <li class="graph-item"><span class="graph-item-subject">Mopar Engines</span> <span class="graph-item-figure">$30.00</span> <a class="graph-item-info" href="#" data-toggle="tooltip" data-placement="left" title="A123456789, D456789012"><i class="fa fa-info-circle"></i></a></li>
                      <li class="graph-item"><span class="graph-item-subject">N45 &amp; N46 Recall Rewards</span> <span class="graph-item-figure">$10.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Mopar AC Compressors</span> <span class="graph-item-figure">$5.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Batteries (Mopar)</span> <span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Cabin Air Filters (MM and Mopar)</span> <span class="graph-item-figure">$2.00</span></li>
                    </ul>
                    <p><span class="legend service-override"></span> Service Manager override is $5.</p>
                    <p><span class="legend magneti-marelli"></span> OE and Magneti Marelli Brake Pads.</p>
                    <p>Select <i class="legend qualifying-part-number fa fa-info-circle"></i> for qualifying part number(s).</p>
                    <p class="disclaimer graph-disclaimer">Parts &amp; Service manager override is 20% on all above items.</p>
                  </div>

                  <!-- MOPAR Upfits -->
                  <div>
                    <h4>MOPAR Upfits</h4>
                    <ul class="graph graph-list">
                      <li class="graph-item service-override"><span class="graph-item-subject">Magneti Marelli Water Pumps</span> <span class="graph-item-figure">$2.50</span><a class="graph-item-info" href="#" data-toggle="tooltip" data-placement="left" title="A1234, B2345, Z9087"><i class="fa fa-info-circle"></i></a></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Starters</span> <span class="graph-item-figure">$10.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Alternators</span> <span class="graph-item-figure">$10.00</span><a class="graph-item-info" href="#" data-toggle="tooltip" data-placement="left" title="D4567, X8676"><i class="fa fa-info-circle"></i></a></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Batteries</span> <span class="graph-item-figure">$5.00</span><a class="graph-item-info" href="#" data-toggle="tooltip" data-placement="left" title="A1234"><i class="fa fa-info-circle"></i></a></li>
                      <li class="graph-item service-override"><span class="graph-item-subject">Magneti Marelli Radiators &amp; Condensers</span> <span class="graph-item-figure">$5.00</span><a class="graph-item-info" href="#" data-toggle="tooltip" data-placement="left" title="C3456, D4567, X8676, Z9087"><i class="fa fa-info-circle"></i></a></li>
                    </ul>
                    <p><span class="legend service-override"></span> Service Manager override is $5.</p>
                    <p class="disclaimer graph-disclaimer">Parts &amp; Service manager override is 20% on all above items.</p>
                  </div>

                  <!-- wiAdvisor -->
                  <div>
                    <h4>wiAdvisor</h4>
                    <ul class="graph graph-list">
                      <li class="graph-item"><span class="graph-item-subject">MVP Plans</span> <span class="graph-item-figure">$1.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Tires (Set of 4)</span> <span class="graph-item-figure">$10.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Tires (Set of 2)</span> <span class="graph-item-figure">$5.00</span></li>
                    </ul>
                    <p class="disclaimer graph-disclaimer">Service manager override is 20% on all above items.</p>
                  </div>

                  <!-- Magneti Marelli Retail Parts -->
                  <div>
                    <h4>MAGNETI MARELLI RETAIL PARTS</h4>
                    <ul class="graph graph-list">
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Water Pumps</span> <span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Starters</span> <span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Alternators</span> <span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Batteries</span> <span class="graph-item-figure">$2.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Radiators &amp; Condensers</span> <span class="graph-item-figure">$1.00</span></li>
                      <li class="graph-item"><span class="graph-item-subject">Magneti Marelli Roters (per pair)</span> <span class="graph-item-figure">$1.00</span></li>
                    </ul>
                    <p class="disclaimer graph-disclaimer">Parts &amp; Service manager override is 20% on all above items.</p>
                  </div>

                  <!-- Express Lane -->
                  <div>
                    <h4>EXPRESS LANE</h4>
                    <ul class="graph graph-list">
                      <li class="graph-item"><span class="graph-item-subject">Beam Blades (Set of 2)</span> <span class="graph-item-figure">$2.00</span><a class="graph-item-info" href="#" data-toggle="tooltip" data-placement="left" title="A123456789, b234567890, C34567890"><i class="fa fa-info-circle"></i></a></li>
                      <li class="graph-item"><span class="graph-item-subject">Cabin Air Filters (MM and Mopar)</span> <span class="graph-item-figure">$2.00</span></li>
                    </ul>
                    <p>Select <i class="legend qualifying-part-number fa fa-info-circle"></i> for qualifying part number(s).</p>
                    <p class="disclaimer graph-disclaimer">Parts &amp; Service manager override is 20% on all above items.</p>
                  </div>

                  <div>
                    <h4>UConnect</h4>
                    <h5>New For June!</h5>
                    <p>Inform your Retail Sales People and let them know that all Uconnect Navigation Activations properly processed through sales will now be paid $10.  Come directly from DealerConnect, without logging into MSER!  See link on Training tab.</p>
                    <ul class="graph graph-list">
                      <li class="graph-item"><span class="graph-item-subject">Uconnect RA3 Navigation Activation<br/><strong>All Sales, Service and Parts Personnel</strong></span><span class="graph-item-figure">$10.00</span></li>
                    </ul>
                    <p class="disclaimer graph-disclaimer">Service manager override is 20% on all above items.</p>
                  </div>

                </div>
              </div>
              <!-- Zozo Tabs 2 (nested) End-->
            </div>

            <!-- Technicians -->
            <div>
              <!-- Zozo Tabs 2 (nested) Start-->
              <div class="nested-tabs">

                <!-- Nested Tab Navigation Menu -->
                <ul>
                  <li><a>MOPAR PARTS &amp; ENGINES</a></li>
                  <li><a>MVP PLANS</a></li>
                  <li><a>MOPAR ACCESSORIES</a></li>
                  <li><a>MAGNETI MARELLI RETAIL PARTS</a></li>
                  <li><a>wiADVISOR</a></li>
                  <li><a>EXPRESS LANE</a></li>
                </ul>

                <!-- Nested Content container -->
                <div>
                  <!-- Twitter -->
                  <div>
                    <h4>MOPAR PARTS &amp; ENGINES</h4>
                    <p> Transmissions/Trans Axles/T-Cases $20.00</p>
                    <p> Brake Pads (OE, MM) $1.00</p>
                    <p> Mopar Engines $40.00</p>
                    <p> N45 &amp; N46 Recall Rewards $10.00</p>
                  </div>
                  <!-- Facebook -->
                  <div>
                    <h4>MVP PLANS</h4>
                    <p><a href="#">CTA Learn More</a></p>
                  </div>
                  <!-- Google+ -->
                  <div>
                    <h4>MOPAR ACCESSORIES</h4>
                    <p><a href="https://plus.google.com/101523111550453173471/posts">Follow Zozo UI on Google+</a></p>
                  </div>
                  <!-- Pinterest -->
                  <div>
                    <h4>MAGNETI MARELLI RETAIL PARTS</h4>
                    <p><a href="#">Learn More</a></p>
                  </div>
                  <div>
                    <h4>wiAdvisor</h4>
                    <p><a href="#">Learn More</a></p>
                  </div>
                  <div>
                    <h4>EXPRESS LANES</h4>
                    <p><a href="#">Learn More</a></p>
                  </div>

                </div>
              </div>
              <!-- Zozo Tabs 2 (nested) End-->
            </div>

            <!-- Parts -->
            <div class="z-content-pad">
              <!-- Zozo Tabs 3 (nested) Start-->
              <div class="nested-tabs">

                <!-- Nested Tab Navigation Menu -->
                <ul>
                  <li><a>Docs</a></li>
                  <li><a>Blog</a></li>
                  <li><a>Knowledge Base</a></li>
                  <li><a>Forums</a></li>
                </ul>

                <!-- Nested Content container -->
                <div>
                  <!-- Docs -->
                  <div>
                    <h4>Documentation</h4>
                    <p>The following default options are provided by the plugin. They can be overridden and customized by passing
                      options object to the initialization of the pluqin and by using HTML5 data attributes on the container
                      element.
                    </p>
                  </div>
                  <!-- Blog -->
                  <div>
                    <h4>Blog</h4>
                    <p>Zozo Tabs comes with complete API. Check it out at zozoui.com</p>
                  </div>
                  <!-- Knowledge Base -->
                  <div>
                    <h4>Knowledge Base</h4>
                    <p>Zozo Tabs comes with complete API. Check it out at zozoui.com</p>
                  </div>
                  <!-- Forums -->
                  <div>
                    <h4>Forums</h4>
                    <p>Zozo Tabs comes with complete API. Check it out at zozoui.com</p>
                  </div>

                </div>
              </div>
              <!-- Zozo Tabs 3 (nested) End-->

            </div>

            <!-- UVM -->
            <div>
              <h4>UVM</h4>
              <p><a href="http://codecanyon.net/item/zozo-tabs/3327836?ref=ZozoUI">Get Zozo Tabs from CodeCanyon.net</a></p>
            </div>

          </div>

        </div>
        <!-- Zozo Tabs End-->

      </div>
    </div>
  </div>
</main>
