<main class="main">
    <div class="page-title">
        <div class="pageTitle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <h1 class="heading-xl">
                            Eligible Part Maintenance
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container m-t-md">
        <div class="row m-t-md">
            <div class="col-xs-12 col-md-12">

                <!-- Part Number by Category -->
                        <h3>Search for Part Numbers</h3>
                        
                        <form id="part-number-category-form-quick-add">
                            <label>Program Group</label>
                            <select id="payout-month" class="form-control" name="rewardPosition">
                                    <option>Mopar Parts &amp; Engines</option>    
                                    <option>Express Lane</option>
                                    <option>Magneti Marelli</option>
                                    <option>Mopar Accessories</option>
                                    
                                    <option>Mopar Vehicle Protection</option>
                                    <option>Parts Counter</option>
                                    <option>wiAdvisor</option>
                                    <option>FIAT</option>
                                    <option>UConnect</option>
                                    <option>Tires</option>
                                    <option>wiAdvisor Tire</option>
                                </select>
                            <label>Category</label>
                            <select id="add-reward-category" class="form-control" name="">
                                    <option>Transmissions and T-Cases (T_CASES)</option>    
                                    <option>MSER OE Brake Pad Kits (BRKE)</option>
                                    <option>Fuel System Cleaner (#05019625AB) (FLCLR)</option>
                                    <option>Mopar Engines (MENG)</option>
                                    <option>Mopar AC Compressors (MOPAC)</option>
                                    <option>MSER RECALL - N45 (N45)</option>
                                    <option>MSER RECALL - N46 (N46)</option>
                                    <option>Pot Hole Promo (POTHOLE)</option>
                                    <option>RAM Shock And Struts ($5 for set of 2) (RAMSHOCK)</option>
                                    <option>Rain Repellent (#68194881AA) (RR)</option>
                                    
                                </select>
                                <br/>
                                <label>Part Number</label>
                                <input aria-describedby="auto-complete" />
                                

                        </form>
                        
                        <br/>
                        
                        <table id="" class="table table-bordered table-striped" role="grid">
                            <thead>
                                <tr>
                                    <th id="" scope="col" role="columnheader">Program Group</th>
                                    <th id="" scope="col" role="columnheader">Category</th>
                                    <th id="" scope="col" role="columnheader">Part Number</th>
                                    <th id="" scope="col" role="columnheader">Part Description</th>
                                    <th id="" scope="col" role="columnheader">Manufacturer</th>
                                    <th id="" scope="col" role="columnheader">Start Date</th>
                                    <th id="" scope="col" role="columnheader">End Date</th>
                                    
                                </tr>
                            </thead>
                            <tbody>



                                <tr>
                                    <td headers="" role="gridcell">Mopar Parts &amp; Engines</td>
                                    <td headers="" role="gridcell">T_CASES</td>
                                    <td headers="" role="gridcell">00APD220RM</td>
                                    <td headers="" role="gridcell">
                                        <input id="" type="text" class="form-control" name="" placeholder="Part Description" value="FRONT DISC BRAKE" disabled>
                                    </td>
                                    <td headers="" role="gridcell">
                                        <input id="" type="text" class="form-control" name="" placeholder="Manufacturer" value="OE" disabled>
                                    </td>
                                    <td headers="" role="gridcell">
                                        7/1/2017
                                    </td>
                                    <td headers="" role="gridcell">
                                        7/31/2017
                                    </td>
                                    
                                </tr>

                                <tr>
                                    <td headers="" role="gridcell">Mopar Parts &amp; Engines</td>
                                    <td headers="" role="gridcell">T_CASES</td>
                                    <td headers="" role="gridcell">00APD221RM</td>
                                    <td headers="" role="gridcell">
                                        <input id="" type="text" class="form-control" name="" placeholder="Part Description" value="FRONT DISC BRAKE" disabled>
                                    </td>
                                    <td headers="" role="gridcell">
                                        <input id="" type="text" class="form-control" name="" placeholder="Manufacturer" value="OE" disabled>
                                    </td>
                                    <td headers="" role="gridcell">
                                         7/1/2017
                                    </td>
                                    <td headers="" role="gridcell">
                                        7/31/2017
                                    </td>
                                    
                                </tr>

                                <tr>
                                    <td headers="" role="gridcell">Mopar Parts &amp; Engines</td>
                                    <td headers="" role="gridcell">T_CASES</td>
                                    <td headers="" role="gridcell">00APD269RM</td>
                                    <td headers="" role="gridcell">
                                        <input id="" type="text" class="form-control" name="" placeholder="Part Description" value="FRONT DISC BRAKE" disabled>
                                    </td>
                                    <td headers="" role="gridcell">
                                        <input id="" type="text" class="form-control" name="" placeholder="Manufacturer" value="OE" disabled>
                                    </td>
                                    <td headers="" role="gridcell">
                                        7/1/2017
                                    </td>
                                    <td headers="" role="gridcell">
                                        7/31/2017
                                    </td>
                                    
                                </tr>

                                <tr>
                                    <td headers="" role="gridcell">Mopar Parts &amp; Engines</td>
                                    <td headers="" role="gridcell">T_CASES</td>
                                    <td headers="" role="gridcell">00APD367RM</td>
                                    <td headers="" role="gridcell">
                                        <input id="" type="text" class="form-control" name="" placeholder="Part Description" value="FRONT DISC BRAKE" disabled>
                                    </td>
                                    <td headers="" role="gridcell">
                                        <input id="" type="text" class="form-control" name="" placeholder="Manufacturer" value="OE" disabled>
                                    </td>
                                    <td headers="" role="gridcell">
                                        7/1/2017
                                    </td>
                                    <td headers="" role="gridcell">
                                        7/31/2017
                                    </td>
                                    
                                </tr>

                                <tr>
                                    <td headers="" role="gridcell">Mopar Parts &amp; Engines</td>
                                    <td headers="" role="gridcell">T_CASES</td>
                                    <td headers="" role="gridcell">00APD369RM</td>
                                    <td headers="" role="gridcell">
                                        <input id="" type="text" class="form-control" name="" placeholder="Part Description" value="FRONT DISC BRAKE" disabled>
                                    </td>
                                    <td headers="" role="gridcell">
                                        <input id="" type="text" class="form-control" name="" placeholder="Manufacturer" value="OE" disabled>
                                    </td>
                                    <td headers="" role="gridcell">
                                        7/1/2017
                                    </td>
                                    <td headers="" role="gridcell">
                                        7/31/2017
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>













                <!-- Zozo Tabs Start-->
                <div id="tabbed-nav">


                    <!-- Content container -->
                    <div>



                    </div>

                </div>
                <!-- Zozo Tabs End-->

            </div>
        </div>
    </div>
</main>