<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">☰</button>
    <a class="navbar-brand" href="#"></a>

    <form class="hide-me form-inline float-left b-r-1 px-2 hidden-md-down">
        <i class="fa fa-search"></i>
        <input class="form-control" placeholder="Search..." type="text">
    </form>

</header>

<!-- Main content -->
<main class="main">

    <!-- Page Title -->
    <div class="page-title">
        <div class="pageTitle">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-12">
                        <h1 class="heading-xl">
                            Reset Password
                        </h1>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <a name="dashboard"></a>
    <div class="container m-t-md body-container">
        <!-- First row -->
        <div class="row m-t-md">
            <div class="col-sm-12 col-md-12 col-lg-12">

                <article class="card animated fadeInUp">

                    <div class="card-block">

                        <div class="content-row row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <form class="pageForm" #f="ngForm" novalidate (ngSubmit)="resetPassword()">
                                    <p style="color: red; margin-bottom: auto; margin-left: 205px;">{{errorUserID}} <br> {{errorEmailID}}</p>
                                    <p style="color: red; margin-bottom: auto; margin-left: 205px;" *ngIf="invalidCreds">The User ID and Email address entered do not match. <br/> Please try again or contact
                                        Program Headquarters <br/> at (866)909-MSER(6737) for assistance</p>
                                      <p style="color: red; margin-bottom: auto; margin-left: 205px;">{{successResetPasswordMessage}}</p> 
                                    <label>User ID: *</label>
                                    <input type="text" size="25" name="userId" id="userId" required minlength="7" maxlength="7" [(ngModel)]="resetpassword.userId" />
                                    <br />
                                    <label>Email ID: *</label>
                                    <input type="email" size="25" name="emailId" id="emailId" [(ngModel)]="resetpassword.emailId" />
                                    <button type="button" class="btn btn-info btn-sm" (click)="cancel()">Cancel</button>
                                    <button type="submit" class="btn btn-info btn-sm">Submit</button>
                                </form>
                                <!--<div id="updateProgramsModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog">-->

                                <!-- Modal content-->
                                <!--<div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Login Failed</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Please provide a valid SID or TID, and password.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <!-- .end FIRST row -->
    </div>
</main>