<main class="main">

  <!-- Breadcrumb -->
  <!-- <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item" routerLink="home" >Home</li>
    <li class="breadcrumb-item active" routerLink="home">Dashboard</li>
  </ol> -->

  <div class="container m-t-md">
    <div class="row m-t-md">
      <br>
      <!-- <div class="data-group-info w-100">
        <p>Reporting is estimated to be completely up and running by the 15th of this month. Please note that payouts will not
          be affected.
          <br> If after the 15th you still have questions regarding reporting, please do not hesitate to contact your Mopar Service
          Excellence Rewards Team. </p>
      </div> -->
      <!-- Begin First Block -->
      <div *ngIf="!hideEnrollmentTile" class="col-sm-6 box">
        <!-- <div *ngFor="let data of tileData; let i = index;" class="{{(tileData.length%2==1) && (tileData.length== i+1) ? 'col-sm-6 card1':'col-sm card1'}}"> -->

        <div class="card1">
          <!-- <p>{{mserEnrollmentDatum[0].tileName}}</p> -->
          <div class="image-frame">
            <img src="/shared/imi-cms/MSER/images/MSEREnrollment.jpg" style="height: 55px"> </div>
          <div class="display-data-set">
            <div class="data-group" *ngFor="let data of mserEnrollmentDatum; let i = index;">
              <p *ngIf="data.type=='number' && data.value!=undefined" class="data-point">{{data.value | commaSeparatedNumber}}</p>
              <p *ngIf="data.type=='currency' && data.value!=undefined" class="data-point">{{data.value | currency:'USD':true:'1.2-2'}}</p>
              <p *ngIf="data.type=='text'" class="data-point" [innerHtml]="data.value"></p>
              <p class="data-substitle" [innerHtml]="data.name"></p>
            </div>
          </div>
          <div [hidden]="!showEnrollmentMaintenanceButton" class="button-container pull-right">
            <button type="button " class="btn btn-primary btn-sm " (click)="openEnrollmentSite()">
              <i class="fa fa-arrow-circle-right " aria-hidden="true "></i> Visit Enrollment Maintenance </button>
          </div>
        </div>
      </div>
      <!-- End First Block  -->

      <!-- Begin Second Block -->
      <div class="col-sm-6 box">
        <!-- <div *ngFor="let data of tileData; let i = index;" class="{{(tileData.length%2==1) && (tileData.length== i+1) ? 'col-sm-6 card1':'col-sm card1'}}"> -->
        <div class="card1">
          <div class="image-frame">
            <img src="/shared/imi-cms/MSER/images/mser-logo.jpg"> </div>
          <div class="display-data-set">
            <div class="data-group" *ngFor="let data of mserEarningDatum; let i = index;">
              <p *ngIf="data.type=='number' && data.value!=undefined" class="data-point">{{data.value | commaSeparatedNumber}}</p>
              <p *ngIf="data.type=='currency'&&  data.value!=undefined" class="data-point">{{data.value | currency:'USD':true:'1.2-2'}}</p>
              <p *ngIf="data.type=='text'" class="data-point" [innerHtml]="data.value"></p>
              <p class="data-substitle" [innerHtml]="data.name"></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Begin Second Block -->

    </div>
  </div>
</main>