<main class="main">
    <div class="page-title">
        <div class="pageTitle">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-12">
                        <h1 class="heading-xl">
                            Payout Chart Admin
                        </h1>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container m-t-md">

        <div class="row m-t-md">
            <div class="col-xs-12 col-md-12">
                <h3>Select Payout Month</h3>
                <div class="row">
                    <div class="form-group col-xs-12 col-md-4">
                        <label for="payout-month">Select Month</label>
                        <ng2-datepicker [options]="options" [(ngModel)]="date"></ng2-datepicker>
                        <select id="payout-month" class="form-control" name="payoutMonth">
              <option>JUL-17</option>
            </select>
                    </div>

                </div>

                <h3>Select Program</h3>
                <table id="program-groups" class="table table-bordered table-striped" role="grid">
                    <thead>
                        <tr>
                            <th id="program-groups-select" scope="col" role="columnheader">Select Program Group</th>
                            <th id="program-groups-active" scope="col" role="columnheader">Active?</th>
                            <th id="program-groups-group" scope="col" role="columnheader">Program Group</th>
                            <th id="program-groups-start-date" scope="col" role="columnheader">Effective Start Date</th>
                            <th id="program-groups-end-date" scope="col" role="columnheader">Effective End Date</th>
                            <th id="program-groups-modify" scope="col" role="columnheader">Modify</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td headers="program-groups-select" role="gridcell">
                                <div class="form-group">
                                    <label class="checkbox-inline"><input type="checkbox" value="" /> Express Lane</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="" /> Magneti Marelli</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="" /> Mopar Accessories</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="" /> Mopar Parts & Engines</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="" /> Parts Counter</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="" /> wiAdvisor</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="" /> FIAT</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="" /> Tires</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="" /> UConnect</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="" /> wiAdvisor Tire</label>
                                </div>
                            </td>
                            <td headers="program-groups-active" role="gridcell"><input type="checkbox" checked="checked" /></td>
                            <td headers="program-groups-group" role="gridcell">Magnetti Marelli</td>
                            <td headers="program-groups-start-date" role="gridcell">1/1/2017</td>
                            <td headers="program-groups-end-date" role="gridcell">12/31/2017</td>
                            <td headers="program-groups-modify" role="gridcell"><a class="modify-icon" href="#"><i class="fa fa-pencil"></i></a></td>
                        </tr>
                        <tr>
                            <td headers="program-groups-select" role="gridcell"></td>
                            <td headers="program-groups-active" role="gridcell"><input type="checkbox" checked="checked" /></td>
                            <td headers="program-groups-group" role="gridcell">Express Lane</td>
                            <td headers="program-groups-start-date" role="gridcell">1/1/2017</td>
                            <td headers="program-groups-end-date" role="gridcell">12/31/2017</td>
                            <td headers="program-groups-modify" role="gridcell"><a class="modify-icon" href="#"><i class="fa fa-pencil"></i></a></td>
                        </tr>
                        <tr>
                            <td headers="program-groups-select" role="gridcell"></td>
                            <td headers="program-groups-active" role="gridcell"><input type="checkbox" checked="checked" /></td>
                            <td headers="program-groups-group" role="gridcell"></td>
                            <td headers="program-groups-start-date" role="gridcell">1/1/2017</td>
                            <td headers="program-groups-end-date" role="gridcell">12/31/2017</td>
                            <td headers="program-groups-modify" role="gridcell"><a class="modify-icon" href="#"><i class="fa fa-pencil"></i></a></td>
                        </tr>

                    </tbody>
                </table>
                <div>
                    <input id="" class="btn btn-primary pull-right" type="submit" value="Next" />
                </div>

                <h3>Select Category</h3>
                <table id="" class="table table-bordered table-striped" role="grid">
                    <thead>
                        <tr>
                            <th id="" scope="col" role="columnheader">Select Category</th>
                            <th id="" scope="col" role="columnheader">Program Group</th>
                            <th id="" scope="col" role="columnheader">Category</th>
                            <th id="" scope="col" role="columnheader">Category Description</th>
                            <th id="" scope="col" role="columnheader">Start Date</th>
                            <th id="" scope="col" role="columnheader">End Date</th>
                            <th id="" scope="col" role="columnheader">Additional Info</th>
                            <th id="" scope="col" role="columnheader">Image?</th>
                            <th id="" scope="col" role="columnheader">Modify</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td headers="" role="gridcell"></td>
                            <td headers="" role="gridcell"></td>
                            <td headers="" role="gridcell"></td>
                            <td headers="" role="gridcell"></td>
                            <td headers="" role="gridcell"></td>
                            <td headers="" role="gridcell"></td>
                            <td headers="" role="gridcell"></td>
                            <td headers="" role="gridcell"></td>
                            <td headers="" role="gridcell"></td>
                        </tr>
                    </tbody>
                </table>


                <!-- Zozo Tabs Start-->
                <div id="tabbed-nav">


                    <!-- Content container -->
                    <div>



                    </div>

                </div>
                <!-- Zozo Tabs End-->

            </div>
        </div>
    </div>
</main>