<!-- Begin Footer -->
<footer class="app-footer">
  <!-- Start of imperialm Zendesk Widget script -->

  <!-- End of imperialm Zendesk Widget script -->
  <div class="row">
    <div id="mopar-links" class="mopar-links col-sm-3">
      <h2>
        <img alt="MSER Mopar Vehicle Service Excellence Rewards" src="assets/img/footer-mvp.png" />
      </h2>
      <nav>
        <ul>

          <li>
            <a (click)='openFooterSSOSite("https://www.mopartopadvisor.com/topAdvisor/dashSSO.htm?token=")' style="cursor: pointer">MOPAR Top Advisor</a>
          </li>
          <li>
            <a (click)='openFooterSSOSite("https://www.mopartoptech.com/toptech/dashSSO.htm?token=")' style="cursor: pointer">MOPAR Top Tech</a>
          </li>
          <li>
            <a [routerLink]="['cmsrouter', {'cmsPage': 'homeDealerBulletins', 'pdf':'false'}]">MOPAR Dealer Bulletin</a>
          </li>
          <li>
            <a href="https://www.rewardingexcellence.com/" target="_blank">Rewarding Excellence</a>
          </li>
          <li>
            <a href="https://dealers-mopar.com" target="_blank">Dealers-Mopar.com</a>
          </li>
          <li>
            <a href="mailto:info@moparser.com">Email Us</a>
          </li>
          <li [hidden]='true'>Questions? Call (866) 909-MSER (6737)</li>
        </ul>
      </nav>
    </div>
    <div id="chysler-logos" class="chrysler-logos col-sm-9">
      <nav>
        <ul>
          <li class="fca">
            <a href="http://www.fcanorthamerica.com/Pages/Home.aspx" target="_blank">
              <img alt="FCA" src="assets/img/footer-fca.png" />
            </a>
          </li>
          <li class="logo-string">
            <ul>
              <li>
                <a href="http://www.alfaromeo.com/" target="_blank">
                  <img alt="Alfa Romeo" src="assets/img/footer-alfa.png" />
                </a>
              </li>
              <li>
                <a href="http://www.chrysler.com/" target="_blank">
                  <img alt="Chrysler" src="assets/img/footer-chrysler.png" />
                </a>
              </li>
              <li>
                <a href="http://www.dodge.com/" target="_blank">
                  <img alt="Dodge" src="assets/img/footer-dodge.png" />
                </a>
              </li>
              <li>
                <a href="http://www.fiatusa.com" target="_blank">
                  <img alt="Fiat" src="assets/img/footer-fiat.png" />
                </a>
              </li>
              <li>
                <a href="http://www.jeep.com/" target="_blank">
                  <img alt="Jeep" src="assets/img/footer-jeep.png" />
                </a>
              </li>
              <li>
                <a href="http://www.ramtrucks.com/" target="_blank">
                  <img alt="Ram" src="assets/img/footer-ram.png" />
                </a>
              </li>
              <li>
                <a href="http://www.mopar.com/" target="_blank">
                  <img alt="Mopar" src="assets/img/footer-mopar.png" />
                </a>
              </li>
              <li>
                <a href="http://www.drivesrt.com/" target="_blank">
                  <img alt="SRT" src="assets/img/footer-srt.png" />
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="copyright-notice">
        <p>Questions? Please contact the Mopar Service Excellence Rewards Team at 866-909-MSER (6737). MSER &copy; 2017</p>
        <p>&copy; 2017 FCA US LLC. All Rights Reserved. Chrysler, Dodge, Jeep, Ram, Mopar and SRT are registered trademarks
          of FCA US LLC.</p>
        <p>ALFA ROMEO and FIAT are registered trademarks of Fiat Group Marketing S.p.A., used with permission.</p>
      </div>
    </div>

  </div>

  <!-- <script>
      /*<![CDATA[*/window.zEmbed || function (e, t) {
      var n, o, d, i, s, a = [], r = document.createElement("iframe");
      window.zEmbed = function () {
        a.push(arguments)
      }, window.zE = window.zE || window.zEmbed, r.src = "javascript:false", r.title = "", r.role = "presentation", (r.frameElement || r).style.cssText = "display: none", d = document.getElementsByTagName("script"), d = d[d.length - 1], d.parentNode.insertBefore(r, d), i = r.contentWindow, s = i.document;
      try {
        o = s
      } catch (e) {
        n = document.domain, r.src = 'javascript:var d=document.open();d.domain="' + n + '";void(0);', o = s
      }
      o.open()._l = function () {
        var o = this.createElement("script");
        n && (this.domain = n), o.id = "js-iframe-async", o.src = e, this.t = +new Date, this.zendeskHost = t, this.zEQueue = a, this.body.appendChild(o)
      }, o.write('<body onload="document._l();">'), o.close()
    }("https://assets.zendesk.com/embeddable_framework/main.js", "imperialm.zendesk.com");
      /*]]>*/
  </script> -->

</footer>
<!-- End Footer -->