<div id="main-content" style="width: 96%;padding-left: 2%;">
  <p style="text-align: center;">
    <span style="color:#0046ad;"><span style="font-size:18px;"><span style="font-family:verdana,geneva,sans-serif;"><strong>Recall Rewards</strong></span></span>
    </span>
  </p>
  <p style="text-align: center;">
    <span style="color:#0046ad;"><span style="font-size:18px;"><span style="font-family:verdana,geneva,sans-serif;"><strong>N45 and N46</strong></span></span>
    </span>
  </p>
  <p>
    &nbsp;</p>
  <p>
    <span style="font-size:14px;"><span style="font-family:verdana,geneva,sans-serif;"><strong>Eligible Participants:</strong></span></span>
  </p>
  <p>
    <span style="font-family: verdana, geneva, sans-serif; font-size: 14px;">MSER Enrolled Service Advisors and their MSER enrolled Service Manager</span></p>
  <p>
    &nbsp;</p>
  <p>
    <span style="font-size:14px;"><span style="font-family:verdana,geneva,sans-serif;"><strong>Program Launch Date: </strong></span></span>
  </p>
  <p>
    <span style="font-size:14px;"><span style="font-family:verdana,geneva,sans-serif;">August 24, 2015</span></span>
  </p>
  <p>
    &nbsp;</p>
  <p>
    <span style="font-size:14px;"><span style="font-family:verdana,geneva,sans-serif;"><strong>Program Details:</strong></span></span>
  </p>
  <p>
    <span style="font-size:14px;"><span style="font-family:verdana,geneva,sans-serif;">Service Advisors enrolled in Mopar Service Excellence Rewards (MSER) will earn $10 for each warranty repair order submitted through qualifying DMS systems (see MSER Program Rules) with the following part numbers and op codes.</span></span>
  </p>
  <p>
    &nbsp;</p>
  <table border="0" cellpadding="1" cellspacing="1" style="width: 500px">
    <tbody>
      <tr>
        <td>
          <span style="font-size:14px;"><span style="font-family:verdana,geneva,sans-serif;">Part Numbers:</span></span>
        </td>
        <td>
          <span style="font-size:14px;"><span style="font-family:verdana,geneva,sans-serif;">LOP&#39;s:</span></span>
        </td>
      </tr>
      <tr>
        <td>
          <span style="font-size:14px;"><span style="font-family:verdana,geneva,sans-serif;">CBXTN451AA</span></span>
        </td>
        <td>
          <span style="font-size:14px;"><span style="font-family:verdana,geneva,sans-serif;">13-N4-51-82</span></span>
        </td>
      </tr>
      <tr>
        <td>
          <span style="font-size:14px;"><span style="font-family:verdana,geneva,sans-serif;">CBXTN461AA</span></span>
        </td>
        <td>
          <span style="font-size:14px;"><span style="font-family:verdana,geneva,sans-serif;">13-N4-51-83</span></span>
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;</td>
        <td>
          <span style="font-size:14px;"><span style="font-family:verdana,geneva,sans-serif;">13-N4-61-82</span></span>
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;</td>
        <td>
          <span style="font-size:14px;"><span style="font-family:verdana,geneva,sans-serif;">13-N4-61-83</span></span>
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;</td>
        <td>
          <span style="font-size:14px;"><span style="font-family:verdana,geneva,sans-serif;">13-N4-61-53</span></span>
        </td>
      </tr>
    </tbody>
  </table>
  <p>
    &nbsp;</p>
  <p>
    <span style="font-family:verdana,geneva,sans-serif;"><span style="font-size: 14px;">LOPs indicating inspection was completed but no repair/part required:</span></span>
  </p>
  <p>
    <span style="font-family:verdana,geneva,sans-serif;"><span style="font-size: 14px;">13-N4-51-81</span></span>
  </p>
  <p>
    <span style="font-family:verdana,geneva,sans-serif;"><span style="font-size: 14px;">13-N4-61-81</span></span>
  </p>
  <p>
    &nbsp;</p>
  <p>
    <span style="font-size:14px;"><span style="font-family:verdana,geneva,sans-serif;">Service Managers will qualify for the 10% override on the Service Advisors reward.</span></span>
  </p>
  <p>
    &nbsp;</p>
  <p>
    <span style="font-size:14px;"><span style="font-family:verdana,geneva,sans-serif;">Qualified ROs and rewards earned will be reported on the MSER website <a href="http://www.moparser.com/">www.moparser.com</a>. Rewards will be paid on the Rewarding Excellence<sup>&reg;</sup> Visa<sup>&reg;</sup> Prepaid Card, according to the schedule posted on the MSER website.</span></span>
  </p>
  <p>
    &nbsp;</p>
  <p>
    <span style="font-size:14px;"><span style="font-family:verdana,geneva,sans-serif;">Should you have any questions please contact your&nbsp;</span></span>
    <strong
      style="font-family: verdana, geneva, sans-serif; font-size: 14px;">MSER Team at 1-866-909-MSER.</strong>
  </p>
  <p>
    &nbsp;</p>


