<main class="main">
  <div class="page-title">
    <div class="pageTitle">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="heading-xl">
              Reward Distribution
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Breadcrumb -->
  <!-- <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item" routerLink="/mserHomepage/home">Home</li>
    <li class="breadcrumb-item active" routerLink="#">Rewards-Distribution</li>
  </ol> -->

  <div *ngIf="showActiveProgram" class="active-user" id="active-user">The Active Program is:
    <strong id="participant-id">{{activeProgram}}</strong>
  </div>
  <!-- Begin Allocation section -->
  <div class="row rewards-program-container">
    <div class="col-sm-12 dealership-identity" id="dealership-identity">
      <strong>Dealership: {{getSelectedDealerCode()}}</strong>
      <span></span>
    </div>
    <!-- Proceed to Allocations table -->
    <table class="table table-bordered table-striped col-sm-12" role="grid">
      <thead>
        <tr>
          <th id="reward-program" scope="col" role="columnheader">Program</th>
          <th class="right-align" id="amount-to-be-distributed" scope="col" role="columnheader">Amount Available To Be Distributed</th>
          <th id="proceed-to-allocations" scope="col" role="columnheader">
            <span class="hide-me">Proceed To Allocations</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- begin ng-if -->
        <tr>
          <td headers="reward-program" role="gridcell">MVP</td>
          <td class="right-align" headers="amount-to-be-distributed" role="gridcell">* {{rewardsAmount.MVP | currency:'USD':true:'1.2-2'}}</td>
          <td class="center-align" headers="proceed-to-allocations" role="gridcell">
            <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all" data-toggle="collapse" href="#mvp" aria-expanded="false"
              aria-controls="mvp" (click)="mvpOpenAllocationTable(); getParticipantsByDealer('mvp');" [disabled]="disableMVPButton">Approve Plans
              <i class="fa fa-arrow-right"></i>
            </button>
          </td>
        </tr>
        <!-- end ng-if [disabled]="disableELButton" [disabled]="disablePCButton" [disabled]="disableURButton"-->
        <tr>
          <td headers="reward-program" role="gridcell">Express Lane</td>
          <td class="right-align" headers="amount-to-be-distributed" role="gridcell">{{rewardsAmount.el | currency:'USD':true:'1.2-2'}}</td>
          <td class="center-align" headers="proceed-to-allocations" role="gridcell">
            <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all" data-toggle="collapse" href="#expressLane"
              aria-expanded="false" aria-controls="expressLane" (click)="elOpenAllocationTable(); getELDistributionData()">Proceed To Allocations
              <i class="fa fa-arrow-right"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td headers="reward-program" role="gridcell">Parts Counter</td>
          <td class="right-align" headers="amount-to-be-distributed" role="gridcell">{{rewardsAmount.pc | currency:'USD':true:'1.2-2'}}</td>
          <td class="center-align" headers="proceed-to-allocations" role="gridcell">
            <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all" data-toggle="collapse" href="#partsCounter"
              aria-expanded="false" aria-controls="partsCounter" (click)="pcOpenAllocationTable(); getParticipantsByDealer('pc')">Proceed To Allocations
              <i class="fa fa-arrow-right"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td headers="reward-program" role="gridcell">Used Recon</td>
          <td class="right-align" headers="amount-to-be-distributed" role="gridcell">{{rewardsAmount.ur | currency:'USD':true:'1.2-2'}}</td>
          <td class="center-align" headers="proceed-to-allocations" role="gridcell">
            <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all" data-toggle="collapse" href="#usedRecon"
              aria-expanded="false" aria-controls="usedRecon" (click)="urOpenAllocationTable(); getParticipantsByDealer('ur')">Proceed To Allocations
              <i class="fa fa-arrow-right"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- End Allocation Section -->
  <p style="margin-left: 20px">* Potential Amount to be distributed</p>



  <div>
    <p style="color:red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{msg}}</p>
  </div>
  <!-- Begin MVP section -->
  <!-- Once user has selected MVP, the Allocation Section either disappears or the user moves to a new page -->
  <div class="row rewards-program-container">

    <!-- Begin MVP Collapsible -->
    <div class="collapse col-sm-12" id="mvp" *ngIf="hideMVPSection">
      <div class="row">

        <!-- Begin Allocation Table -->
        <table class="table table-bordered table-striped col-sm-12" role="grid">
          <thead>
            <tr>
              <th class="right-align" id="allocation-acceptance-date" scope="col" role="columnheader">Acceptance Date</th>
              <th class="" id="allocation-contract-number" scope="col" role="columnheader">Contract Number</th>
              <th class="" id="allocation-vin" scope="col" role="columnheader">VIN</th>
              <th class="" id="allocation-plan-code" scope="col" role="columnheader">Plan Code</th>
              <th class="right-align" id="allocation-reward-amount" scope="col" role="columnheader">Reward Amount</th>
              <th class="" id="allocation-sid-name" scope="col" role="columnheader">SID Name</th>
              <th class="" id="allocation-approved-status" scope="col" role="columnheader"> Approved?
                <span>
                  <br>
                  <p-checkbox [(ngModel)]="approveAllMVP" (onChange)="approveAllMVPPlans(approveAllMVP)" binary="true"></p-checkbox>
                </span>
              </th>
              <!-- <th class="" id="allocation-notes" scope="col" role="columnheader">Notes</th> -->
            </tr>
          </thead>
          <tbody>
            <!-- begin ng-if -->
            <tr *ngFor="let data of mvpDistributionDatum">
              <td class="right-align" headers="allocation-acceptance-date" role="gridcell">{{data.loadDate | date:"MM/dd/yyyy"}}</td>
              <td class="" headers="allocation-contract-number" role="gridcell">{{data.contractNumber}}</td>
              <td class="" headers="allocation-vin" role="gridcell">{{data.vin}}</td>
              <td class="" headers="allocation-plan-code" role="gridcell">{{data.planCode}}</td>
              <td class="right-align" headers="allocation-reward-amount" role="gridcell">{{data.rewardValue | currency:'USD':true:'1.2-2'}}</td>
              <td class="" headers="allocation-sid-name" role="gridcell">
                <!-- <select class="form-control" id="SID-name-1" [(ngModel)]="mvpInterface.sid" >
                    <option value="sid" *ngFor="let sid of mvpData.sid" >{{sid}}</option>
                  </select> -->
                <p-dropdown appendTo="body" [options]="participantsOptions" name="sid" required [(ngModel)]="data.sid" placeholder="Select an SID"
                  filter="filter" [style]="{'width':'100%', 'overflow':'visible'}" #sid="ngModel" (onChange)="mvpSelectedSID(data.sid)"></p-dropdown>
              </td>
              <td class="" headers="allocation-approved-status" role="gridcell">
                <!-- <select class="form-control" id="approved-1" [(ngModel)]="mvpInterface.approved">
                    <option value="yes">Yes</option>
                    <option value="no" selected="selected">No</option>
                  </select> -->
                <!-- <p-dropdown appendTo="body" [options]="booleanYesNoOptions" name="yes-no" required [(ngModel)]="data.approved" placeholder="No"
                  [style]="{'width':'90%'}" #sid="ngModel" (onChange)="mvpApproved(data.approved)"></p-dropdown> -->
                <p-checkbox [(ngModel)]="data.approved" binary="true"></p-checkbox>
              </td>
              <!-- <td class="" headers="allocation-notes" role="gridcell">New brake pads</td> -->
            </tr>
            <!-- end ng-if -->
          </tbody>
        </table>
        <!-- End Allocation Table -->

        <div class="col-sm-12 btn-container">
          <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all pull-right" data-toggle="modal" data-target="#mvpSaveConfirmationModal">Save Changes
            <i class="fa fa-check"></i>
          </button>
          <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all pull-right" data-toggle="modal" data-target="#mvpCancelConfirmationModal">Cancel Changes
            <i class="fa fa-remove" aria-hidden="true"></i>
          </button>
        </div>

      </div>
    </div>
    <!-- End MVP Collapsible -->

  </div>
  <!-- End MVP Section -->

  <!-- Begin Express Lane sections -->
  <!-- Once user has selected Express Lane, the Allocation Section either disappears or the user moves to a new page -->
  <div class="row rewards-program-container">
    <!-- Begin Express Lane Collapsible -->
    <div class="collapse col-sm-12" id="expressLane" *ngIf="hideELSection">
      <div class="row">
        <div class="col-sm-4">
          <!-- <p-dropdown appendTo="body" [options]="programNameOptions" name="programName" [(ngModel)]="preSelectedProgramName" [style]="{'width':'100%', 'overflow':'visible'}"
            (onChange)="selectedProgramName(programName)"></p-dropdown> -->
        </div>
        <div class="col-sm-12">
          <a class="allocation-history-link" href="#" data-toggle="modal" data-target="#elAllocationHistoryModal" (click)="getDistributionHistoryData('el')">
            <strong>View Allocation History</strong>
            <i class="fa fa-clone"></i>
          </a>
        </div>
        <!-- Begin Delearship Details Table -->
        <table class="table table-bordered table-striped col-sm-12" role="grid">
          <thead>
            <tr>
              <th class="" id="allocation-dealership-details" role="columnheader" scope="col">Team Name</th>
              <th class="right-align" id="allocation-reward-amount" role="columnheader" scope="col">Reward Amount</th>
              <th class="right-align" id="allocation-distributed-amount" role="columnheader" scope="col">Distributed Amount</th>
            </tr>
          </thead>
          <tbody>
            <!-- being ng-if -->
            <tr *ngFor="let data of groupedELdistributionData">
              <td class="hyperlink" headers="allocation-dealership-details" role="gridcell" (click)="getELParticipantsByDealer('el', data.teamId ,data.amount);">{{data.teamName}}</td>
              <td *ngIf="!elRewardAmountModal" class="right-align " headers="allocation-reward-amount" role="gridcell" data-toggle="modal"
                data-target="#" (click)="getELRewardsAmountData('el', data.teamId )">{{data.amount | currency:'USD':true:'1.2-2'}}</td>
              <td *ngIf="elRewardAmountModal" class="right-align hyperlink" headers="allocation-reward-amount" role="gridcell" data-toggle="modal"
                data-target="#elRewardAmountModal" (click)="getELRewardsAmountData('el',data.teamId)">{{data.amount | currency:'USD':true:'1.2-2'}}</td>
              <td class="right-align" headers="allocation-distributed-amount" role="gridcell">{{data.elDistributedAmount | currency:'USD':true:'1.2-2'}}</td>
            </tr>
            <!-- end ng-if -->
          </tbody>
        </table>
        <!-- End Delearship Details Table -->

        <!-- Begin Participant Table -->
        <table class="table table-bordered table-striped col-sm-12" role="grid" [hidden]="hideelParticipantTable">
          <thead>
            <tr>
              <th class="" id="allocation-participants" role="columnheader" scope="col">Participants</th>
              <th class="right-align" id="allocation-participant-distributed-amount" role="columnheader" scope="col">Distributed Amount</th>
            </tr>
          </thead>
          <tbody>
            <!-- begin ng-if -->
            <tr *ngFor="let data of elParticipantDataValue">
              <td class="" headers="allocation-participants" role="gridcell">
                <p-dropdown appendTo="body" [options]="elParticipantsOptions" name="participantName" [(ngModel)]="data.name" placeholder="Select Participant"
                  [style]="{'width':'100%', 'overflow':'visible'}" filter="filter" (onChange)="selectedParticipant(data.name)"></p-dropdown>
              </td>
              <td class="right-align" headers="allocation-participant-distributed-amount" role="gridcell">
                <input class="form-control right-align" id="distributed-amount-1" name="distributedAmount" type="number" [(ngModel)]="data.value"
                  (change)="elRewardedAmount(data.value, data.teamID)" />
              </td>
            </tr>
            <!-- end ng-if -->
          </tbody>
        </table>
        <div class="col-sm-12 btn-container" [hidden]="hideelParticipantTable">
          <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all pull-right" data-toggle="modal" (click)="addNewRow()">Add Participant
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>

          <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all pull-right" data-toggle="modal" data-target="#elCancelationModal">Cancel Changes
            <i class="fa fa-remove" aria-hidden="true"></i>
          </button>
          <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all pull-right" data-toggle="modal" data-target="#elConfirmationModal">Save Changes
            <i class="fa fa-check"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- End Express Lane Collapsible -->

  </div>
  <!-- End Express Lane sections -->

  <!-- Begin Parts Counter -->
  <!-- Once user has selected Parts Counter, the Allocation Section either disappears or the user moves to a new page -->
  <div class="row rewards-program-container">

    <!-- Begin Parts Counter Collapsible -->
    <div class="collapse col-sm-12" id="partsCounter" *ngIf="hidePCSection">
      <div class="row">
        <div class="col-sm-4">
          <!-- <select class="form-control" id="distribution-type">
              <option value="expressLane">Express Lane</option>
              <option value="partsCounter">Parts Counter</option>
              <option value="usedRecon">Used Recon</option>
            </select> -->
          <!-- <p-dropdown appendTo="body" [options]="programNameOptions" name="programName" [(ngModel)]="preSelectedProgramName" [style]="{'width':'100%', 'overflow':'visible'}"
            (onChange)="selectedProgramName(programName)"></p-dropdown> -->

        </div>
        <div class="col-sm-12">
          <a class="allocation-history-link" href="#" data-toggle="modal" data-target="#pcAllocationHistoryModal" (click)="getDistributionHistoryData('pc')">
            <strong>View Allocation History</strong>
            <i class="fa fa-clone"></i>
          </a>
        </div>
        <!-- Begin Delearship Details Table -->
        <table class="table table-bordered table-striped col-sm-12" role="grid">
          <thead>
            <tr>
              <th class="" id="allocation-dealership-details" role="columnheader" scope="col">Dealership Details</th>
              <th class="right-align" id="allocation-reward-amount" role="columnheader" scope="col">Reward Amount</th>
              <th class="right-align" id="allocation-distributed-amount" role="columnheader" scope="col">Distributed Amount</th>
            </tr>
          </thead>
          <tbody>
            <!-- being ng-if -->
            <tr>
              <td class="" headers="allocation-dealership-details" role="gridcell">{{getSelectedDealerName()}}</td>
              <td *ngIf="!pcRewardAmountModal" class="right-align " headers="allocation-reward-amount" role="gridcell" data-toggle="modal"
                data-target="#" (click)="getRewardsAmountData('pc')">
                {{rewardsAmount.pc | currency:'USD':true:'1.2-2'}}</td>
              <td *ngIf="pcRewardAmountModal" class="right-align hyperlink" headers="allocation-reward-amount" role="gridcell" data-toggle="modal"
                data-target="#pcRewardAmountModal" (click)="getRewardsAmountData('pc')">
                {{rewardsAmount.pc | currency:'USD':true:'1.2-2'}}</td>
              <td class="right-align" headers="allocation-distributed-amount" role="gridcell">{{distributedAmount | currency:'USD':true:'1.2-2'}}</td>
            </tr>
            <!-- end ng-if -->
          </tbody>
        </table>
        <!-- End Delearship Details Table -->

        <!-- Begin Participant Table -->
        <table class="table table-bordered table-striped col-sm-12" role="grid" [hidden]="hidepcParticipantTable">
          <thead>
            <tr>
              <th class="" id="allocation-participants" role="columnheader" scope="col">Participants</th>
              <th class="right-align" id="allocation-participant-distributed-amount" role="columnheader" scope="col">Distributed Amount</th>
            </tr>
          </thead>
          <tbody>
            <!-- begin ng-if -->
            <tr *ngFor="let data of participantDataValue">
              <td class="" headers="allocation-participants" role="gridcell">
                <p-dropdown appendTo="body" [options]="participantsOptions" name="participantName" [(ngModel)]="data.name" placeholder="Select Participant"
                  [style]="{'width':'100%', 'overflow':'visible'}" filter="filter" (onChange)="selectedParticipant(data.name)"></p-dropdown>
              </td>
              <td class="right-align" headers="allocation-participant-distributed-amount" role="gridcell">
                <input class="form-control right-align" id="distributed-amount-1" name="distributedAmount" type="number" [(ngModel)]="data.value "
                  (change)="rewardedAmount(data.value)" />
              </td>
            </tr>
            <!-- end ng-if -->
          </tbody>
        </table>
        <div class="col-sm-12 btn-container" [hidden]="hidepcParticipantTable">
          <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all pull-right" data-toggle="modal" (click)="addNewRow()">Add Participant
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>

          <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all pull-right" data-toggle="modal" data-target="#pcCancelConfirmationModal">Cancel Changes
            <i class="fa fa-remove" aria-hidden="true"></i>
          </button>
          <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all pull-right" data-toggle="modal" data-target="#pcSaveConfirmationModal">Save Changes
            <i class="fa fa-check"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- End Parts Counter Collapsible -->

  </div>
  <!-- End Parts Counter sections -->

  <!-- Begin Used Recon -->
  <!-- Once user has selected Used Recon, the Allocation Section either disappears or the user moves to a new page -->
  <div class="row rewards-program-container">
    <!-- Begin Used Recon Collapsible -->
    <div class="collapse col-sm-12" id="usedRecon" *ngIf="hideURSection">
      <div class="row">
        <div class="col-sm-4">
          <!-- <select class="form-control" id="distribution-type">
              <option value="expressLane">Express Lane</option>
              <option value="partsCounter">Parts Counter</option>
              <option value="usedRecon">Used Recon</option>
            </select> -->
          <!-- <p-dropdown appendTo="body" [options]="programNameOptions" name="preSelectedProgramName" [(ngModel)]="preSelectedProgramName"
            filter="filter" [style]="{'width':'100%', 'overflow':'visible'}" (onChange)="selectedProgramName(programName)"></p-dropdown> -->

        </div>
        <div class="col-sm-12">
          <a class="allocation-history-link" href="#" data-toggle="modal" data-target="#urAllocationHistoryModal" (click)="getDistributionHistoryData('ur')">
            <strong>View Allocation History</strong>
            <i class="fa fa-clone"></i>
          </a>
        </div>
        <!-- Begin Delearship Details Table -->
        <table class="table table-bordered table-striped col-sm-12" role="grid">
          <thead>
            <tr>
              <th class="" id="allocation-dealership-details" role="columnheader" scope="col">Dealership Details</th>
              <th class="right-align" id="allocation-reward-amount" role="columnheader" scope="col">Reward Amount</th>
              <th class="right-align" id="allocation-distributed-amount" role="columnheader" scope="col">Distributed Amount</th>
            </tr>
          </thead>
          <tbody>
            <!-- being ng-if -->

            <tr>
              <td class="" headers="allocation-dealership-details" role="gridcell">{{getSelectedDealerName()}}</td>
              <td *ngIf="!urRewardAmountModal" class="right-align " headers="allocation-reward-amount" role="gridcell" data-toggle="modal"
                data-target="#" (click)="getRewardsAmountData('ur')">
                {{rewardsAmount.ur | currency:'USD':true:'1.2-2'}}</td>
              <td *ngIf="urRewardAmountModal" class="right-align hyperlink" headers="allocation-reward-amount" role="gridcell" data-toggle="modal"
                data-target="#urRewardAmountModal" (click)="getRewardsAmountData('ur')">
                {{rewardsAmount.ur | currency:'USD':true:'1.2-2'}}</td>
              <td class="right-align" headers="allocation-distributed-amount" role="gridcell">{{distributedAmount | currency:'USD':true:'1.2-2'}}</td>
            </tr>
            <!-- end ng-if -->
          </tbody>
        </table>
        <!-- End Delearship Details Table -->

        <!-- Begin Participant Table -->
        <table class="table table-bordered table-striped col-sm-12" role="grid" [hidden]="hideurParticipantTable">
          <thead>
            <tr>
              <th class="" id="allocation-participants" role="columnheader" scope="col">Participants</th>
              <th class="right-align" id="allocation-participant-distributed-amount" role="columnheader" scope="col">Distributed Amount</th>
            </tr>
          </thead>
          <tbody>
            <!-- begin ng-if -->
            <tr *ngFor="let data of participantDataValue">
              <td class="" headers="allocation-participants" role="gridcell">
                <p-dropdown appendTo="body" [options]="participantsOptions" name="participantName" [(ngModel)]="data.name" placeholder="Select Participant"
                  [style]="{'width':'100%', 'overflow':'visible'}" (onChange)="selectedParticipant(data.name)"></p-dropdown>
              </td>
              <td class="right-align" headers="allocation-participant-distributed-amount" role="gridcell">
                <input class="form-control right-align" id="distributed-amount-1" name="distributedAmount" type="number" [(ngModel)]="data.value"
                  (change)="rewardedAmount(data.value)" />
              </td>
            </tr>
            <!-- end ng-if -->
          </tbody>
        </table>
        <div class="col-sm-12 btn-container" [hidden]="hideurParticipantTable">
          <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all pull-right" data-toggle="modal" (click)="addNewRow()">Add Participant
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
          <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all pull-right" data-toggle="modal" data-target="#urCancellationModal">Cancel Changes
            <i class="fa fa-remove" aria-hidden="true"></i>
          </button>
          <button class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all pull-right" data-toggle="modal" data-target="#urConfirmationModal">Save Changes
            <i class="fa fa-check"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- End Used Recon Collapsible -->
  </div>
  <!-- End Used Recon sections -->

  <!-- Confirmation Modal -->
  <!-- The message for the modal body changes depending on the action the user has taken.  i.e. If they want to cancel, ask them if they want to cancel. -->
  <div class="modal fade" id="mvpSaveConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="confirmationModalLabel">Are you sure you want to continue?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>You are about to save the changes. Are you sure you want to continue?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveMVPDistributionDATA()">Yes, Continue</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">No, Take Me Back</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="mvpCancelConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="confirmationModalLabel">Are you sure you want to continue?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>You are about to cancel the changes. Are you sure you want to continue?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="mvpCancellation()">Yes, Continue</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">No, Take Me Back</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="elCancelationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="confirmationModalLabel">Are you sure you want to continue?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>You are about to cancel the changes to the rewards available to this dealership. Are you sure you want to continue?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="elCancellation()">Yes, Continue</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">No, Take Me Back</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="elConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="elConfirmationModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="elConfirmationModalLabel">Are you sure you want to continue?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>You are about to save changes to the rewards available to this dealership. Are you sure you want to continue?</p>
        </div>
        <div class="modal-footer">
          <button [scrollTo]="'displayError'" type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveDistributionDATA('el')">Yes, Continue</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">No, Take Me Back</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="pcCancelConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="confirmationModalLabel">Are you sure you want to continue?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>You are about to cancel changes to the rewards available to this dealership. Are you sure you want to continue?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="pcCancellation()">Yes, Continue</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">No, Take Me Back</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="pcSaveConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="confirmationModalLabel">Are you sure you want to continue?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>You are about to save changes to the rewards available to this dealership. Are you sure you want to continue?</p>
        </div>
        <div class="modal-footer">
          <button [scrollTo]="'displayError'" type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveDistributionDATA('pc')">Yes, Continue</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">No, Take Me Back</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="urCancellationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="confirmationModalLabel">Are you sure you want to continue?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>You are about to cancel the changes to the rewards available to this dealership. Are you sure you want to continue?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="urCancellation()">Yes, Continue</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">No, Take Me Back</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="urConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="confirmationModalLabel">Are you sure you want to continue?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>You are about to save changes to the rewards available to this dealership. Are you sure you want to continue?</p>
        </div>
        <div class="modal-footer">
          <button [scrollTo]="'displayError'" type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveDistributionDATA('ur')">Yes, Continue</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">No, Take Me Back</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Confirmation Modal -->

  <!-- Begin Allocation History Modal -->
  <div class="modal fade" id="pcAllocationHistoryModal" tabindex="-1" role="dialog" aria-labelledby="allocationHistoryModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="allocationHistoryModalLabel">Allocation History</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered table-striped" role="grid">
            <thead>
              <tr>
                <th class="" id="allocation-history-recipient" role="columnheader" scope="col">Recipient</th>
                <th class="right-align" id="allocation-history-amount" role="columnheader" scope="col">Amount</th>
                <th class="right-align" id="allocation-history-date" role="columnheader" scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              <!-- begin ng-if -->
              <tr *ngFor="let data of distributionHistoryData">
                <td class="" headers="allocation-history-recipient" role="gridcell">{{data.sid + " - " + data.firstName + " " + data.lastName}}</td>
                <td class="right-align" headers="allocation-history-amount" role="gridcell">{{data.amount | currency:'USD':true:'1.2-2'}}</td>
                <td class="right-align" headers="allocation-history-date" role="gridcell">{{data.updatedDate | date:"MM/dd/yyyy"}}</td>
              </tr>
              <!-- end ng-if -->

            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="elAllocationHistoryModal" tabindex="-1" role="dialog" aria-labelledby="allocationHistoryModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="allocationHistoryModalLabel">Allocation History</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered table-striped" role="grid">
            <thead>
              <tr>
                <th class="" id="allocation-history-recipient" role="columnheader" scope="col">Recipient</th>
                <th class="right-align" id="allocation-history-amount" role="columnheader" scope="col">Amount</th>
                <th class="right-align" id="allocation-history-date" role="columnheader" scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              <!-- begin ng-if -->
              <tr *ngFor="let data of distributionHistoryData">
                <td class="" headers="allocation-history-recipient" role="gridcell">{{data.sid + " - " + data.firstName + " " + data.lastName}}</td>
                <td class="right-align" headers="allocation-history-amount" role="gridcell">{{data.amount | currency:'USD':true:'1.2-2'}}</td>
                <td class="right-align" headers="allocation-history-date" role="gridcell">{{data.updatedDate | date:"MM/dd/yyyy"}}</td>
              </tr>
              <!-- end ng-if -->

            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="urAllocationHistoryModal" tabindex="-1" role="dialog" aria-labelledby="allocationHistoryModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="allocationHistoryModalLabel">Allocation History</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered table-striped" role="grid">
            <thead>
              <tr>
                <th class="" id="allocation-history-recipient" role="columnheader" scope="col">Recipient</th>
                <th class="right-align" id="allocation-history-amount" role="columnheader" scope="col">Amount</th>
                <th class="right-align" id="allocation-history-date" role="columnheader" scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              <!-- begin ng-if -->
              <tr *ngFor="let data of distributionHistoryData">
                <td class="" headers="allocation-history-recipient" role="gridcell">{{data.sid + " - " + data.firstName + " " + data.lastName}}</td>
                <td class="right-align" headers="allocation-history-amount" role="gridcell">{{data.amount | currency:'USD':true:'1.2-2'}}</td>
                <td class="right-align" headers="allocation-history-date" role="gridcell">{{data.updatedDate | date:"MM/dd/yyyy"}}</td>
              </tr>
              <!-- end ng-if -->

            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- End Confirmation Modal -->

  <!-- Begin Reward Amount Modal -->
  <div class="modal fade" id="elRewardAmountModal" tabindex="-1" role="dialog" aria-labelledby="allocationHistoryModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="allocationHistoryModalLabel">Invoice Details</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered table-striped" role="grid">
            <thead>
              <tr>
                <th class="" id="allocation-history-recipient" role="columnheader" scope="col">Dealer Code</th>
                <th class="right-align" id="allocation-history-amount" role="columnheader" scope="col">Invoice Number</th>
                <th class="right-align" id="allocation-history-amount" role="columnheader" scope="col">Part Number</th>
                <th class="right-align" id="allocation-history-date" role="columnheader" scope="col">Invoice Date</th>
                <th class="right-align" id="allocation-history-amount" role="columnheader" scope="col">Reward Amount</th>
              </tr>
            </thead>
            <tbody>
              <!-- begin ng-if -->
              <tr *ngFor="let data of elRewardsAmountDatum">
                <td class="" headers="allocation-history-recipient" role="gridcell">{{data.dealerCode}}</td>
                <td class="right-align" headers="allocation-history-amount" role="gridcell">{{data.invoiceNumber}}</td>
                <td class="right-align" headers="allocation-history-date" role="gridcell">{{data.partNumber}}</td>
                <td class="right-align" headers="allocation-history-date" role="gridcell">{{data.invoiceDate | date:"MM/dd/yyyy"}}</td>
                <td class="right-align" headers="allocation-history-date" role="gridcell">{{data.rewardAmount | currency:'USD':true:'1.2-2'}}</td>
              </tr>
              <!-- end ng-if -->

            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="pcRewardAmountModal" tabindex="-1" role="dialog" aria-labelledby="allocationHistoryModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="allocationHistoryModalLabel">Invoice Details</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered table-striped" role="grid">
            <thead>
              <tr>
                <th class="" id="allocation-history-recipient" role="columnheader" scope="col">Dealer Code</th>
                <th class="right-align" id="allocation-history-amount" role="columnheader" scope="col">Invoice Number</th>
                <th class="right-align" id="allocation-history-amount" role="columnheader" scope="col">Part Number</th>
                <th class="right-align" id="allocation-history-date" role="columnheader" scope="col">Invoice Date</th>
                <th class="right-align" id="allocation-history-amount" role="columnheader" scope="col">Reward Amount</th>
              </tr>
            </thead>
            <tbody>
              <!-- begin ng-if -->
              <tr *ngFor="let data of rewardsAmountDatum">
                <td class="" headers="allocation-history-recipient" role="gridcell">{{data.dealerCode}}</td>
                <td class="right-align" headers="allocation-history-amount" role="gridcell">{{data.invoiceNumber}}</td>
                <td class="right-align" headers="allocation-history-date" role="gridcell">{{data.partNumber}}</td>
                <td class="right-align" headers="allocation-history-date" role="gridcell">{{data.invoiceDate | date:"MM/dd/yyyy"}}</td>
                <td class="right-align" headers="allocation-history-date" role="gridcell">{{data.rewardAmount | currency:'USD':true:'1.2-2'}}</td>
              </tr>
              <!-- end ng-if -->

            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="urRewardAmountModal" tabindex="-1" role="dialog" aria-labelledby="allocationHistoryModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="allocationHistoryModalLabel">Invoice Details</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered table-striped" role="grid">
            <thead>
              <tr>
                <th class="" id="allocation-history-recipient" role="columnheader" scope="col">Dealer Code</th>
                <th class="right-align" id="allocation-history-amount" role="columnheader" scope="col">Invoice Number</th>
                <th class="right-align" id="allocation-history-amount" role="columnheader" scope="col">Part Number</th>
                <th class="right-align" id="allocation-history-date" role="columnheader" scope="col">Invoice Date</th>
                <th class="right-align" id="allocation-history-amount" role="columnheader" scope="col">Reward Amount</th>
              </tr>
            </thead>
            <tbody>
              <!-- begin ng-if -->
              <tr *ngFor="let data of rewardsAmountDatum">
                <td class="" headers="allocation-history-recipient" role="gridcell">{{data.dealerCode}}</td>
                <td class="right-align" headers="allocation-history-amount" role="gridcell">{{data.invoiceNumber}}</td>
                <td class="right-align" headers="allocation-history-date" role="gridcell">{{data.partNumber}}</td>
                <td class="right-align" headers="allocation-history-date" role="gridcell">{{data.invoiceDate | date:"MM/dd/yyyy"}}</td>
                <td class="right-align" headers="allocation-history-date" role="gridcell">{{data.rewardAmount | currency:'USD':true:'1.2-2'}}</td>
              </tr>
              <!-- end ng-if -->

            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Reward Amount Modal -->
</main>