<template ngbModalContainer></template>

<template #dealercodeModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title"> </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <!--<dealercode-modal></dealercode-modal>-->
        <dealercode-modal (onSubmit)="positionCodeSubmit(c)" (onCancel)="c()"></dealercode-modal>
    </div>
    <div class="modal-footer">
    </div>
</template>

<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">☰</button>
    <a class="navbar-brand"></a>
    <ul class="nav navbar-nav hidden-md-down b-r-1">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" (click)="showHideSideNav()" style="cursor: pointer">☰</a>
        </li>

    </ul>
    <form class="hide-me form-inline float-left b-r-1 px-2 hidden-md-down">
        <i class="fa fa-search"></i>
        <input class="form-control" placeholder="Search..." type="text">
    </form>

    <nav class="navMenu">
        <div class="menuItem">
            <span class="menuTarget " data-target="contactUs" routerLink="contactus">Contact Us</span>
        </div>
        <div class="menuItem">
            <span class="menuTarget currentPage" data-target="fcaRewards" (click)='openSSOSite("https://test.myfcarewards.com/login?token=")'>FCA Rewards Dashboard</span>
        </div>
        <div class="menuItem">
            <!--<a *ngIf="poscodes.length>1 || delcodes.length>1" class="utility-nav active " (click)="dropdownPositionCode()" style="cursor:pointer">
                <span><img src="./assets/retweet.png" alt="Swith Dealer Code" width="35" height="32" style="cursor: pointer"></span></a>-->

            <a *ngIf="poscodes.length>1 || delcodes.length>1" class="utility-nav active " (click)="dropdownDealerCode()" style="cursor:pointer">
                <span><img src="./assets/retweet.png" alt="Swith Dealer Code" width="35" height="32" style="cursor: pointer"></span></a>

        </div>
    </nav>

    <ul class="nav navbar-nav ml-auto">

        <li class="nav-item dropdown">

            <div class="salutation">
                <p>Welcome, {{data.name}}</p>
                <br>
                <p *ngIf="displayDealerCode">{{getSelectedDealerName()}} - ({{getSelectedDealerCode()}})</p>
                <!--<p>Van Aandel-Flikemma Motor Sales (X543G)</p>-->
            </div>
            <a class="nav-link nav-pill avatar" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <!--<img src="./assets/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" style="background-color:#0068b3">-->
                <i class="fa fa-user-circle" aria-hidden="true" style="font-size: 3em"></i>
                <!--<span class="badge badge-pill badge-danger"></span>-->
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <!--<div class="dropdown-header text-center">
                    <strong>Account</strong>
                </div>-->
                <!--<a class="dropdown-item"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>-->
                <!-- <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a> -->
                <!--  <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a> -->
                <!--   <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comments<span class="badge badge-warning">42</span></a> -->

                <!--<div class="dropdown-header text-center">
                    <strong>Settings</strong>
                </div>-->
                <a class="dropdown-item" routerLink="userprofile"><i class="fa fa-user" ></i> Profile</a>
                <!--<a class="dropdown-item" (click)="getUserProfileData()" routerLink="userprofile"><i class="fa fa-user" ></i> Profile</a>-->
                <!-- <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Settings</a> -->
                <!--   <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-default">42</span></a> -->
                <!--   <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a> -->
                <div class="divider"></div>
                <!--  <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock Account</a> -->
                <a class="dropdown-item" style="cursor: pointer" (click)="logout()"><i class="fa fa-lock" ></i> Logout</a>
            </div>
        </li>

        <!-- <li class="nav-item hidden-md-down">
          <a class="nav-link navbar-toggler aside-menu-toggler" href="#">☰</a>
        </li>-->

    </ul>
</header>