<script type="text/javascript">
  $(document).ready(function () {
    $('#userId').focus();
  });

</script>

<body>
  <table id="main-container-table" cellpadding="0">
    <tr>
      <td>
        <table id="header-table" cellpadding="0" style="background-color: white;">
          <tr>
            <td id="logo">
              <a href="/mser/home.do"><img src="./assets/img/MSERLogo_Header.png" style="width: 60%;padding: 15px;background: transparent;" border="0"
                  alt="" /></a>
            </td>
            <!--<td id="masthead" style="padding: 1em"><img src="/shared/imi-cms/MSER/images/webImages/bg/logo/mser-header.png" border="0" alt=""/></td>-->
          </tr>
          <tr>
            <!--<td class="sidebar"></td>-->
            <td>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table id="warning-table" summary="warning" cellpadding="0" border="0">
          <tr>
            <!--<td class="sidebar"></td>-->
            <td>
              <noscript>
                <div class="error-script">Please enable your browser's JavaScript support. This site functions best with JavaScript turned on.</div>
              </noscript>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table id="content-table" summary="main-content" cellpadding="0" border="0">
          <tr>
            <!--<td class="sidebar"></td>-->
            <td>
              <div class="center">
                <h3>
                  Please enter your Login ID and Password</h3>
              </div>
            </td>
          </tr>
          <tr>
            <!--<td class="sidebar"></td>-->
            <td id="content" style="width: 90.8%;">

              <table class="rounded" cellpadding="0" border="0">
                <tr>
                  <td class="border-top-left">&nbsp;</td>
                  <td class="border-top">&nbsp;</td>
                  <td class="border-top-right">&nbsp;</td>
                </tr>
                <tr>
                  <td class="border-left">&nbsp;</td>
                  <td>
                    <div class="center">
                      <form #f="ngForm" novalidate (ngSubmit)="login(user.username, user.password)">
                        <p class="error" style="text-align: center;"></p>
                        <table class="inner-table form-group" cellpadding="0" cellspacing="0" border="0">
                          <div>
                            <tr>
                              <th>Login ID:&nbsp;&nbsp;</th>
                              <td><input type="text" name="username" id="username" [(ngModel)]="user.username" #username="ngModel"
                                  placeholder="User ID" class="inset-form-element form-control" style="width:90%;" /></td>
                            </tr>
                            <!--<div *ngIf="username.errors &&(username.dirty || username.touched)" class="alert alert-danger">
                              <div [hidden]="!username.errors.required">
                                Name is required
                              </div>
                              <div [hidden]="!username.errors.minlength">
                                Name must be at least 4 characters long.
                              </div>
                              <div [hidden]="!username.errors.maxlength">
                                Name cannot be more than 24 characters long.
                              </div>
                            </div>-->
                          </div>
                          <!--<small [hidden]="username.valid || (username.pristine && !f.submitted)" class="text-danger">
                                        Username is required (minimum 5 characters).
                              </small>-->
                          <div>
                            <tr>
                              <th>Password:&nbsp;&nbsp;</th>
                              <td><input type="password" name="password" id="password" [(ngModel)]="user.password" #password="ngModel"
                                  placeholder="Password" class="inset-form-element form-control" style="width:90%;" validateEqual="confirmPassword"
                                  reverse="true" /></td>
                            </tr>
                            <!--<div *ngIf="password.errors &&(password.dirty || password.touched)" class="alert alert-danger">
                              <div [hidden]="!password.errors.required">
                                Password is required
                              </div>
                              <div [hidden]="!password.errors.minlength">
                                Password must be at least 4 characters long.
                              </div>
                              <div [hidden]="!password.errors.maxlength">
                                Password cannot be more than 24 characters long.
                              </div>
                            </div>-->
                          </div>
                          <!--<small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
                                        Password is required
                            </small>-->
                          <tr>
                            <td colspan="2"><input type="submit" value="Enter" /></td>
                            <!--[disabled]="!f.form.valid"<td *ngIf="(!f.form.valid)">Name and password is required</td>-->

                          </tr>
                        </table>
                      </form>
                    </div>
                    <br/>
                    <div>
                      <b>Forgot Password?</b>
                      <br/>
                      <a href="#" (click)="resetPassword()">Click here</a> to reset Password!
                      <br/>
                      <b>New Dealers...</b>
                      <br/><a href="./assets/pdf/MSER_Official_Program_Rules.pdf" target="_blank">Click here</a> for the
                      Program Rules! <br/>

                      <br/><a href="#" (click)="dealerregister()">Click here</a> to register your dealership! <br/> OR
                      <br/><a href="./assets/pdf/MSER_Enrollment_Form.pdf" target="_blank">Click here</a> to access the enrollment
                      form!
                      <br/><b>FIAT Dealers...</b>
                      <br/><a href="./assets/pdf/FIAT.pdf" target="_blank">
                            Click here</a> to access the FIAT enrollment form!
                    </div>
                  </td>
                  <td class="border-right">&nbsp;</td>
                </tr>
                <tr>
                  <td class="border-bottom-left">&nbsp;</td>
                  <td class="border-bottom">&nbsp;</td>
                  <td class="border-bottom-right">&nbsp;</td>
                </tr>
              </table>
              <div class="divider"></div>

            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>



        <table id="footer-table" cellpadding="0">
          <tr>
            <td id="footer-sidebar"></td>
            <td id="footer">
              Questions? Please contact the Mopar Service Excellence Rewards Team at (866) 909-MSER (6737).
            </td>
          </tr>
        </table>
        <!--Begin Comm100 Live Chat Code-->


      </td>
    </tr>
    <tr>
      <td>




        <table id="gutter-table" cellpadding="0">
          <tr>


            <td id="certseal">



              <script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=TjOcFbOImwXOtbySlmbusY1VdU4WG90gdu6bUyoxoIsZFsw3b5nbEHd"></script>




            </td>
          </tr>
        </table>


      </td>
    </tr>
  </table>

  <!-- Google Analytics Tracker -->
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>

  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-9443841-5");
      pageTracker._trackPageview();
    } catch (err) { }
  </script>
</body>