<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">☰</button>
    <a class="navbar-brand" href="#"></a>

    <form class="hide-me form-inline float-left b-r-1 px-2 hidden-md-down">
        <i class="fa fa-search"></i>
        <input class="form-control" placeholder="Search..." type="text">
    </form>
</header>

<!-- Main content -->
<main class="main" [hidden]="hideLoginPage">

    <!-- Page Title -->
    <div class="page-title">
        <div class="pageTitle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <h1 class="heading-xl">
                            Login
                        </h1>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <a name="dashboard"></a>
    <div class="container m-t-md body-container">
        <!-- First row -->
        <div class="row m-t-md">
            <div class="col-sm-12 col-md-12 col-lg-12">

                <article class="card animated fadeInUp">

                    <div class="card-block">
                        <div class="content-row row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <form class="pageForm" #f="ngForm" novalidate (ngSubmit)="login()">
                                    <p style="color: red; margin-bottom: auto; margin-left: 205px;">{{loginFailed}}
                                        <br> {{errorMessage}}</p>
                                    <br>
                                    <label>SID/TID: *</label>
                                    <input type="text" name="username" id="username" [(ngModel)]="user.uname" minlength="7" maxlength="7"
                                    />
                                    <br />
                                    <label>Password: *</label>
                                    <input type="password" name="password" id="password" [(ngModel)]="user.pword"  />

                                    <button style="cursor: pointer" type="submit" class="btn btn-info btn-sm" data-toggle="modal" data-target="#updateProgramsModal">Enter</button>

                                    <br />
                                    <p>
                                        <strong>If your dealership is currently not enrolled in MSER, please choose from the following:</strong>
                                    </p>
                                    <a class="" style="color:blue;text-decoration:underline; cursor: pointer" (click)="dealerregister()">Dealer Enrollment Form</a>
                                    <br />
                                    <a class="" style="color:blue;text-decoration:underline; cursor: pointer" (click)="fiatEnrollment()">FIAT Dealer Enrollment Form</a>
                                    <br />
                                </form>

                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <!-- .end FIRST row -->
    </div>

</main>

<div style="display: flex; justify-content: center;" [hidden]="!hideLoginPage">
    <img class="refreshGlyphImg" src="assets/img/spinner/spinner1.gif" />
</div>