<main class="main">
    <table id="main-container-table">
        <tbody>
            <tr>
                <td>
                    <table id="content-table">
                        <tbody>
                            <tr>
                                <td id="content">
                                    <div id="main-content" [innerHTML]="cmsContentObject">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</main>